.table tr:last-child td{
    border-bottom: 1px solid #dee2e6 !important;
}
.tableContainer{
    min-height: 250px!important;
            max-height: 250px!important;
            overflow-y: auto;
}

.membersContainer{   
    min-height: 150px!important;
            max-height: 250px!important;
            overflow-y: auto;
}
.modal-open.modal{
    overflow-y: hidden !important;
}