/* .stage-badge{
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    color: #fff;
    padding: 5px 10px;
    display: block;
    text-align: center;
}

.stage-badge.busy {
    background-color: #72B836;
}

.stage-badge.idle {
    background-color: #d3d3d3;
}

.stage-badge.overload {
    background-color: #ce2029;
}
.stage-badge.open{
    background-color: #e86100;
}
.stage-badge.cool{
    background-color: #8eb3d1;
}
.stage-badge.happy{
    background-color: #0085ca;
}
 */
