<div class="wrapper">
<app-header></app-header>

<div class="page-wrapper">
    <div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
			  <h2 class="page-title">View Opportunities</h2>
			</div>
			<div class="col-md-6">
			  <div class="f-right">
	
				<ol class="breadcrumb mb-0">
				  <li class="breadcrumb-item">
					<a href="/opportunities">Opportunities</a>
				  </li>
				  <li class="breadcrumb-item">
					Opportunity Name
				  </li>
				</ol>
	
			  </div>
			</div>
		  </div>

    
      <div class="body-content">


 
    <div class="row no-gutters">
            <div class="col-12 col-sm-3">
                <div class="contact-information">
                    <div class="text-center">
                        <div class="ac-badge">
                            <span>
                                {{utilities.getShortName(activityresponse?.ContactInfo?.contactname) | uppercase}}
                              </span>
                        </div>
                      </div>
                    <div class="contact-info text-center my-3">
                        <h6 class="name mb-3">{{activityresponse?.ContactInfo?.contactname | titlecase}}</h6>
                        <div class="d-flex justify-content-center">
                            <!-- <span class="contact-badge" data-toggle="modal" data-target="#assignSequenceModal">
                                <i class="fa fa-location-arrow" data-placement="left" data-toggle="tooltip"
                                    title="Assign Sequence"></i>
                            </span> -->
                            <span class="view-badge contact-badge" data-toggle="modal" data-target="#createTaskModal">
                                <i class="fa fa-tasks" data-placement="left" data-toggle="tooltip" title="Add Tasks"></i>
                            </span>
                            <span class="view-badge contact-badge" data-toggle="modal" data-target="#createMeetingModal">
                                <i class="fa fa-calendar-alt" data-placement="left" data-toggle="tooltip"
                                    title="Add Meeting"></i>
                            </span>
                            <!-- <span class="contact-badge">
                                <i class="fa fa-calendar-alt"></i>
                            </span> -->
                            <!-- <span class="contact-badge" (click)="sendEmailBtnClick(manualTemplateModal,'','contact')">
                                <i class="fa fa-envelope"></i>
                            </span> -->
                            <span class="view-badge contact-badge" data-toggle="modal" data-target="#addNotesModal">
                                <i class="fa fa-comment" data-placement="left" data-toggle="tooltip" title="Add Notes"></i>
                            </span>
                            <!-- <span class="contact-badge" data-toggle="modal" data-target="#addCallsModal">
                                <i class="fa fa-phone" data-placement="left" data-toggle="tooltip" title="Add Calls"></i>
                            </span> -->
                        </div>
                    </div>
                    <div class="contact-det">
                        <ul>
                            <li class="email">
                                Email:  &nbsp;<a href="mailto:{{activityresponse?.ContactInfo?.email}}" target="_top">
                                    <span style="color: #619eda !important;">{{activityresponse?.ContactInfo?.email}}</span></a>
                                <span class="alert-msg d-inline-block" *ngIf="!activityresponse?.ContactInfo?.IsValidEmailAddress">
                                (Invalid Email Address)
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-9">
                <div class="contact-details">
                    <ul class="grid-settings d-flex">
                        <li class="pos-rel px-3">
                            <nav>
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link" id="contact-notes" data-toggle="tab" href="#con-notes"
                                        (click)="getNotes()" role="tab"
                                        [ngClass]="{ 'active':activeTab==='notes'}">Notes({{notescount}})</a>
                                    <a class="nav-item nav-link" id="contact-tasks" data-toggle="tab" href="#con-tasks"
                                        role="tab" (click)="gettasks()"
                                        [ngClass]="{ 'active':activeTab==='tasks'}">Tasks({{taskscount}})</a>
                                    <a class="nav-item nav-link" id="contact-meetings" data-toggle="tab" href="#con-meetings"
                                        role="tab" (click)="getMeetings()"
                                        [ngClass]="{ 'active':activeTab==='meetings'}">Meetings({{meetingscount}})</a>
                                    <a class="nav-item nav-link" id="contact-opportunity" data-toggle="tab" href="#con-opportunity"
                                        role="tab" (click)="getOpportunityById()"
                                        [ngClass]="{ 'active':activeTab==='opportunities'}">Opportunity</a>
                                </div>
                            </nav>
                        </li>
                    </ul>
                    <div class="tab-content bg-variant-1">
                        <div class="tab-pane fade show active" id="con-notes" role="tabpanel" aria-labelledby="contact-notes">
                            <div class="contact-notes">
                                <div class="header">
                                    <h4>Notes</h4>
                                </div>
                                <div class="notes-list">
                                    <ul class="pos-rel" style="list-style:none;padding-left:0px;">
                                        <li class="comment pos-rel" *ngFor="let note of notes" style="border:1px solid #ddd;padding:10px;margin:10px 0px;">
                                            <div class="notes">
                                                <div class="notes-header">
                                                    <div class="row">
                                                        <div class="col-12 col-sm-9">
                                                            <p class="color-999"><span
                                                                    class="color-theme">{{note.AssigneeName}}</span>
                                                                commented on this</p>
                                                        </div>
                                                        <div class="col-12 col-sm-3 text-sm-right">
                                                            <span class="color-999">{{note.ElapsedDuration}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="notes-body">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <p class="text-justify">{{note.Description}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="con-tasks" role="tabpanel" aria-labelledby="contact-tasks">
                            <div class="contact-notes">
                                <div class="header">
                                    <h4>Tasks</h4>
                                </div>
                                <div class="notes-list">
                                    <table class="table table-responsive-sm table-hover contacts-grid mb-0 tasks">
                                        <tr *ngFor="let task of tasks">
                                            <td>
                                                <h6 class="fs-14">{{task.TaskTitle}}</h6>
                                                <p class="d-inline-block">{{task.TaskDescription}}</p>
                                                <span class="badge">{{task.TaskStatus}}</span>
                                            </td>
                                            <!-- <td width="15%">
                                                <button *ngIf="task.TaskDescription != 'Auto Email'" class="btn btn-sm btn-info" (click)="onSelectTask(task)">Mark As Completed</button>										
                                            </td> -->
                                            <td width="1%">
        
                                                <button
                                                    *ngIf="task.TaskDescription == 'Manual Email' && task.TaskStatus !='completed'"
                                                    (click)="sendEmailBtnClick(contactTemplateModal,task.SequenceDetailId,'task')"
                                                    class="btn btn-sm btn-primary">Send Email</button>
                                            </td>
                                            <td width="1%">
                                                <span class="badge badge-rounded owner-badge mr-2" data-toggle="tooltip"
                                                    title="Created by" data-placement="left">AB</span>
                                            </td>
        
                                            <td width="10%">
                                                <span>{{task.DueDate * 1000 | date:'yyyy-MM-dd HH:mm'}}</span>
                                            </td>
                                            <td width="10%">
                                                <span
                                                    *ngIf="task.CompletedDate != 0">{{task.CompletedDate * 1000 | date:'yyyy-MM-dd HH:mm'}}</span>
                                                <span *ngIf="task.CompletedDate == 0">-</span>
                                            </td>
                                            <td class="text-right" width="3%">
                                                <div class="d-flex">
                                                    <i class="fa fa-trash-alt pointer mr-3" data-toggle="modal"
                                                        data-target="#deleteConfirmationModal"></i>
                                                    <i class="fa fa-pencil-alt pointer" data-toggle="modal" data-target=""></i>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
        
                        <div class="tab-pane fade" id="con-meetings" role="tabpanel" aria-labelledby="contact-meetings">
                            <div class="contact-notes">
                                <div class="header">
                                    <h4>Meetings</h4>
                                </div>
                                <div class="notes-list">
                                    <table class="table table-responsive-sm table-hover contacts-grid mb-0 meetings">
                                        <tr *ngFor="let meeting of meetingList">
                                            <td>
                                                <p class="d-inline-block">{{meeting?.Title}}</p>
                                            </td>
                                            <td>
                                                <p>{{meeting?.Description}}></p>
                                            </td>
        
                                            <td width="20%">
                                                <span>Meeting on {{meeting?.Date * 1000 | date:'yyyy-MM-dd HH:mm'}}</span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="con-opportunity" role="tabpanel" aria-labelledby="contact-opportunity">
                            <div class="contact-notes">
                                <div class="header">
                                    <h4>Opportunity</h4>
                                </div>
                                <div class="notes-list">
                                    <table class="table table-responsive-sm table-hover contacts-grid mb-0 tasks">
                                        <tr>
                                            <td width="50%">
                                                <p class="d-inline-block mr-2">{{opportunity?.Title}}</p>
                                                <!-- <span class="badge">{{opportunity.Stage}}</span> -->
                                                <ng-container [ngSwitch]="true">
                                                <span  *ngSwitchCase="opportunity?.Stage==='prospect'" class="stage-badge open d-inline-block w-25">{{opportunity?.Stage}}</span>
                                                <span  *ngSwitchCase="opportunity?.Stage==='lead'" class="stage-badge cool d-inline-block w-25">{{opportunity?.Stage}}</span>
                                                <span  *ngSwitchCase="opportunity?.Stage==='contacted'" class="stage-badge idle d-inline-block w-25">{{opportunity?.Stage}}</span>
                                                <span  *ngSwitchCase="opportunity?.Stage==='proposal made'" class="stage-badge happy d-inline-block w-25">{{opportunity?.Stage}}</span>
                                                <span  *ngSwitchCase="opportunity?.Stage==='closed won'" class="stage-badge busy d-inline-block w-25">{{opportunity?.Stage}}</span>
                                                <span  *ngSwitchCase="opportunity?.Stage==='closed lost'" class="stage-badge overload d-inline-block w-25">{{opportunity?.Stage}}</span>
                                            </ng-container>
                                            </td>
                
                                            <td>
                                                <span>{{opportunity?.Value}}</span>
                                            </td>
                                            <td>
                                                <span>{{opportunity?.TargetDate}}</span>
                                            </td>
                                            <td class="text-right" width="3%">
                                                <!--div class="d-flex">
                                                    <i class="fa fa-trash-alt pointer mr-3" data-toggle="modal"
                                                        data-target="#deleteConfirmationModal"></i>
                                                    <i class="fa fa-pencil-alt pointer" data-toggle="modal" 
                                                    (click)="editButtonClick(editOpportunityTemplateModal,opportunity)"></i>
                                                </div -->
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

       </div>
       </div>
       </div>
       </div>
        
 <!-- Create new Opportunity Modal -->
    
 <div class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" id="createOpportunityModal">
        <div class="modal-dialog modal-dialog-centered modal-scrollable" role="document">
          <div class="modal-content">
            <form [formGroup]="opportunityForm" (ngSubmit)="addOpportunity()">
              <div class="modal-header">
                <h4 class="modal-title">Create Opportunity</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label>Contact Name:</label>
                  <select class="form-control" formControlName="ContactIntId">
                    <option *ngFor="let contact of Contacts" [value]="contact.id">
                      {{contact.firstname}}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                  <label>Title:</label>
                                  <input type="text" class="form-control" formControlName="Title">
                                </div>
                                <div class="col-12 col-sm-6">
                                  <label>Value:</label>
                                  <input type="text" class="form-control" (keypress)="phoneKeyPressHandler($event)" 
                                   formControlName="Value">
                                </div>
                            </div>
                        </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-12 col-sm-6">
                            <label>Email:</label>
                            <input type="email" class="form-control" formControlName="Email" >
                    </div>
                    <div class="col-12 col-sm-6">
                            <label>Contact No:</label>
                            <input type="text" (keypress)="phoneKeyPressHandler($event)" 
                            minlength=10 maxlength=10 class="form-control" formControlName="PhoneNo">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-12 col-sm-6">
                            <label>Owner:</label> 
                        <select class="form-control" formControlName="AssignedToId">
                           <ng-container *ngIf="IsMember; else superiorRole">
                              <option [value]="userInfo.UserId">{{userInfo.Name}}</option>
                            </ng-container>
                            <ng-template #superiorRole>
                            <option *ngFor="let singleUser of Users"
                            [value]="singleUser.UserId">{{singleUser.NickName}}</option>
                           </ng-template> 
                      </select>
                   </div>
                    <div class="col-12 col-sm-6">
                            <label>Stage:</label>
                            <select class="form-control" formControlName="Stage">
                                    <option value="no stage">No Stage</option>
                                    <option value="prospect">Prospect</option>
                                    <option value="contacted">Contacted</option>
                                    <option value="proposal made">Proposal Made</option>
                                    <option value="lead">Lead</option>
                                    <option value="closed won">Closed Won</option>
                                    <option value="closed lost">Closed Lost</option>
                                </select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                        <div class="row">
                                <div class="col-12 col-sm-6">
                                        <label>Status:</label>
                                        <select type="text" class="form-control" formControlName="Status" >
                                                <option value="Won">Won</option>
                                                <option value="Lost">Lost</option>
                                        </select>
                               </div>
                               <div class="col-12 col-sm-6">
                                    <label>Target Date:</label>
                                    <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                                    [bsConfig]="{ isAnimated: true, adaptivePosition: true,containerClass:'theme-dark-blue' }"
                                    [(bsValue)]="bsValue" value="{{ bsValue | date:'dd/MM/yyyy' }}">
                               </div>
                        </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-theme btn-check"><span>Add Opportunity</span></button>
                <button type="button" class="btn btn-grey" data-dismiss="modal" #closeAddOpportunityModal>Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
<!-- Create new Opportunity Modal Ends -->

<!-- Create new notes Modal starts here -->
<div class="modal fade" id="addNotesModal" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-scrollable">
            <div class="modal-content">
                <form [formGroup]="notesForm" (ngSubmit)="addNotes()">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Notes</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Description</label>
                                    <input type="text" class="form-control" formControlName="Description">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <!-- <a class="button btn-theme btn-check"><span>Add Contact</span></a> -->
                        <button type="submit" class="btn theme-btn btn-check"><span>Add
                                Notes</span></button>
                        <a class="btn btn-grey" data-dismiss="modal" #closeAddNotesModal>Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!-- Create new Task Modal -->
<div class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" id="createTaskModal">
        <div class="modal-dialog modal-dialog-centered modal-scrollable" role="document">
          <div class="modal-content">
            <form [formGroup]="TaskForm" (ngSubmit)="addTask()">
              <div class="modal-header">
                <h4 class="modal-title">Create Task</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label>Contact Person:</label>
                  <!-- <input type="text" class="form-control" placeholder="Enter Prospect Name..."> -->
                  <select class="form-control" formControlName="ObjectId">
                    <option *ngFor="let contact of Contacts" [value]="contact.contactid">
                      {{contact.contactname}}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Priority:</label>
                  <select class="form-control" formControlName="Priority">
                    <option value="Normal">Normal</option>
                    <option value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                    <option value="Urgent">Urgent</option>
                  </select>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <label>Task:</label>
                      <select class="form-control" formControlName="Title">
                        <option value="Email">Email</option>
                        <option value="Phone Call">Phone Call</option>
                        <option value="Generic Task">Generic Task</option>
                      </select>
                    </div>
                    <div class="col-12 col-sm-6">
                      <label>Assigned to:</label>                
                      <select class="form-control" formControlName="AssignedTo">
                          <ng-container *ngIf="IsMember; else userList">
                          <option [value]="userInfo.UserId">{{userInfo.name}}</option>
                          </ng-container>
                          <ng-template #userList>     
                              <option *ngFor="let user of usersData" [value]="user.UserId">{{user.NickName}}</option>
      
                            </ng-template>    
                      </select>
                     
      
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <label>Due Date:</label>
                      <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                        [bsConfig]="{ isAnimated: true, adaptivePosition: true,containerClass:'theme-dark-blue' }"
                        [(bsValue)]="bsValue" value="{{ bsValue | date:'dd/MM/yyyy' }}">
      
                    </div>
                    <div class="col-12 col-sm-6">
                      <label>Due Time:</label>
                      <ng-template #popTemplate>
                        <timepicker [(ngModel)]="mytime" [showMeridian]="false" formControlName="DueTime"></timepicker>
                      </ng-template>
                      <input class="form-control" value="{{mytime | date: 'HH:mm' }}" [popover]="popTemplate"
                        [outsideClick]="true" placement="bottom" />
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Note:</label>
                  <textarea class="form-control" rows="3" placeholder="About the task..."
                    formControlName="Description"></textarea>
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn theme-btn btn-check"><span>Add Task</span></button>
                <button type="button" class="btn btn-grey" data-dismiss="modal" #closeAddTaskModal>Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
<!-- Create new Task Modal ends here -->

<!-- Create new meeting Modal starts here -->
<div class="modal fade" id="createMeetingModal" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-scrollable">
            <div class="modal-content">
                <form [formGroup]="MeetingsForm" (ngSubmit)="addMeeting()">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Meetings</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Title</label>
                                    <input type="text" class="form-control" formControlName="Title"
                                    [ngClass]="{ 'is-invalid': submitted && mf.Title.errors }">							
                                    <div *ngIf="submitted && mf.Title.errors" class="invalid-feedback">
                                        <div *ngIf="mf.Title.errors.required">Enter title</div>
                                      </div>
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <input type="text" class="form-control" formControlName="Description">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-12 col-sm-6">
                                            <label>Due Date:</label>
                                            <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                                                [bsConfig]="{ isAnimated: true, adaptivePosition: true,containerClass:'theme-dark-blue' }"
                                                [(bsValue)]="bsValue" value="{{ bsValue | date:'dd/MM/yyyy' }}">
    
                                        </div>
                                        <div class="col-12 col-sm-6">
                                            <label>Due Time:</label>
                                            <ng-template #popTemplate>
                                                <timepicker [(ngModel)]="mytime" [showMeridian]="false"
                                                    formControlName="DueTime"></timepicker>
                                            </ng-template>
                                            <input class="form-control" value="{{mytime | date: 'HH:mm' }}"
                                                [popover]="popTemplate" [outsideClick]="true" placement="bottom" />
                                        </div>
                                    </div>
                                </div>
                                <div id="setTimeIntervalFields">
                                    <label>Remainder before meeting</label>
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="form-group d-flex">
                                                <select class="form-control mr-2" formControlName="Days"
                                                    (change)="onselecteddays($event)">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                </select>
                                                <label class="my-auto">Days</label>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group d-flex">
                                                <select class="form-control mr-2" formControlName="Hours"
                                                    (change)="onselectedhours($event)">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                </select>
                                                <label class="my-auto">Hours</label>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group d-flex">
                                                <select class="form-control mr-2" formControlName="Mins"
                                                    (change)="onselectedmins($event)">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                </select>
                                                <label class="my-auto">Mins</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-12">
                                            <label>Invitees</label>
                                            <ng-select formControlName="Invitees" placeholder="Select user" multiple="true" [ngClass]="{ 'is-invalid': submitted && mf.Invitees.errors }"
                                                [searchable]="true" [clearable]="true" [(ngModel)]="selectedUser">
                                                <ng-option *ngFor="let user of usersData" [value]="user.IntUserId">
                                                    {{user.NickName}}
                                                </ng-option>
                                            </ng-select>										
                                            <!-- div *ngIf="submitted && mf.Invitees.errors" class="invalid-feedback">
                                                <div *ngIf="mf.Invitees.errors.required">select Invitees</div>
                                              </div -->
                                              <div class="text-danger" style="font-size:80% !important" *ngIf="NoInvitees">Select Invitees</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn theme-btn btn-check"><span>Add Meeting</span></button>
                        <a class="btn btn-grey" data-dismiss="modal" #closeAddMeetingModal>Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteConfirmationModal" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="confirmation-content">
                        <div class="icon confirm">
                            <i class="fa fa-exclamation fa-2x"></i>
                        </div>
                        <h4>Are you sure want to delete?</h4>
                        <button type="button" class="btn theme-btn mr-1" data-toggle="modal"
                            data-target="#successAlertModal" data-dismiss="modal">Yes</button>
                        <button type="button" class="btn btn-grey" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Success Alert Modal -->
<div class="modal fade" id="successAlertModal" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="confirmation-content success">
                        <div class="icon confirm">
                            <i class="fa fa-check fa-2x"></i>
                        </div>
                        <h4>Deleted Successfully!!</h4>
                        <button type="button" class="btn btn-grey" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Edit Opportunity Model -->
    <ng-template #editOpportunityTemplateModal>
          <div class="modal-header">
            <h4 class="modal-title">Edit Opportunity</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="row">
                        <div class="col-12 col-sm-6">
                              <label>Title:</label>
                              <input type="text" class="form-control"  id="title"
                              value="{{opportunity.Title}}">
                        </div>
                        <div class="col-12 col-sm-6">
                              <label>Value:</label>
                              <input type="text" class="form-control"  id="value" (keypress)="phoneKeyPressHandler($event)" 
                              value="{{opportunity.Value}}">
                        </div>
            </div>


            <div class="row">
                <div class="col-12 col-sm-6">
                        <label>Email:</label>
                        <input type="email" class="form-control"  id="email"
                        value="{{opportunity.Email}}">
                </div>
                <div class="col-12 col-sm-6">
                        <label>Contact No:</label>
                        <input type="text" (keypress)="phoneKeyPressHandler($event)" 
                        minlength=10 maxlength=10 class="form-control"  id="phoneno"
                        value="{{opportunity.PhoneNo}}">
                </div>
            </div>

     
            <div class="row">
                <div class="col-12 col-sm-6">
                        <label>Owner:</label> 
                     <select class="form-control"  id="owner">
                       <ng-container *ngIf="IsMember; else superiorRole">
                        <option [value]="userInfo.UserId">{{userInfo.Name}}</option>
                        </ng-container>
                        <ng-template #superiorRole>
                        <option *ngFor="let singleUser of Users"
                        [value]="singleUser.UserId">{{singleUser.NickName}}</option>
                        </ng-template> 
                     </select>
               </div>
                <div class="col-12 col-sm-6">
                        <label>Stage:</label>
                        <select class="form-control"  id="stage">
                                <option value="no stage">No Stage</option>
                                <option value="prospect">Prospect</option>
                                <option value="contacted">Contacted</option>
                                <option value="proposal made">Proposal Made</option>
                                <option value="lead">Lead</option>
                                <option value="closed won">Closed Won</option>
                                <option value="closed lost">Closed Lost</option>
                            </select>
                </div>
            </div>

            <div class="row">
                            <div class="col-12 col-sm-6">
                                    <label>Status:</label>
                                    <select type="text" class="form-control"  id="status">
                                            <option value="Won">Won</option>
                                            <option value="Lost">Lost</option>
                                    </select>
                           </div>
                           <div class="col-12 col-sm-6">
                                <label>Target Date:</label>
                                <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker id="targetdate"
                                [bsConfig]="{ isAnimated: true, adaptivePosition: true,containerClass:'theme-dark-blue' }"
                                [(bsValue)]="bsValue" value="{{ bsValue | date:'dd/MM/yyyy' }}">
                           </div>
            </div>

          </div>

          <div class="modal-footer">
            <button type="submit" class="btn theme-btn btn-check" (click)="updateOpportunity()"><span>Update</span></button>
            <button type="button" class="btn btn-grey"  (click)="editModalRef.hide()">Cancel</button>
          </div>
    </ng-template>

     
