<app-header></app-header>


  <div class="page-wrapper">
    <div class="container-fluid">
      <div class="body-content">

        <div class="container">
          <h2>Member dashboard</h2>
          <div class="row">
            <div class="col-md-3">
              <div class="card alert alert-primary">
                <div class="card-body">
                  <h5 class="card-title">Contacts</h5>
                  <h3 class="card-text">25</h3>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card alert alert-warning">
                <div class="card-body">
                  <h5 class="card-title">Organizations </h5>
                  <h3 class="card-text">12</h3>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="card alert alert-info">
                <div class="card-body">
                  <h5 class="card-title">Activities</h5>
                  <h3 class="card-text">72</h3>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="card alert alert-success">
                <div class="card-body">
                  <h5 class="card-title">Sales</h5>
                  <h3 class="card-text">14,225</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="shadow p-3 mb-5 bg-white rounded">
                <h3>Customer Visits</h3>
                <div class="chartBody1">
                  <div id="legendwrapper">
                    <div id="legenddiv"></div>
                    <div>
                      <div id="monthlyVisits" style="width: 100%; height: 500px"></div>
                    </div>
                  </div>

                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
