<div class=" ">
  <!-- <span class="badge badge-rounded badge-outline contact-info-badge check mr-2" data-toggle="tooltip"
        title="Edit Contact" data-placement="left" (click)="editContact()">
        <i class="fa fa-pencil"></i> 
    </span> -->
    <!-- <ng-template #approvePopup>
      This is a simple popover
  </ng-template> -->
  <span [ngClass] = "highlightedType == 'calls'?'highlightedIcon':null" class="badge badge-rounded cinfo-badge check mr-2 d-inline-block" 
    data-placement="left" data-toggle="tooltip" title="Log Call">
    <i class="fa fa-phone fa-rotate-90"></i>
  </span>
  <span [ngClass] = "highlightedType == 'emails'?'highlightedIcon':null" class="badge badge-rounded cinfo-badge check mr-2 d-inline-block" data-toggle="tooltip" title="Email"
    data-placement="left" (click)="sendEmail()">
    <i class="fa fa-envelope"></i>
  </span>
  <span [ngClass] = "highlightedType == 'tasks'?'highlightedIcon':null" class="badge badge-rounded cinfo-badge   mr-2 d-inline-block" data-toggle="tooltip" title="Add Task"
    data-placement="left">
    <i class="fa fa-calendar-alt"></i>
  </span>
  <!-- <span [ngClass]="(IslinkedToSequence)?'badge badge-rounded nonactive  d-inline-block':'badge badge-rounded cinfo-badge  d-inline-block'" data-toggle="modal" data-target="#assignSequenceModal"
    (click)="BindSequences()">
    <i class="fa fa-location-arrow" data-placement="left" data-toggle="tooltip" title="Add Sequnece"></i>
  </span> -->
</div>
