<div class="wrapper">
  <app-adminheader></app-adminheader>

  <div class="page-wrapper">
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-6">
          <h2 class="page-title">{{sequencename}} <span class="fs-14" *ngIf="sequenceIndustryName != ''">({{sequenceIndustryName}})</span></h2>
        </div>
        <div class="col-md-6">
          <div class="f-right">

            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item">
                <a href="admin/sequence">Sequences</a>
              </li>
              <li class="breadcrumb-item">
                View Sequences
              </li>
            </ol>

          </div>
        </div>
      </div>

      <div class="body-content">
        <div class="page-header">
          <div class="row">           
            <div class="col-12 text-right">
              <div class="page-header-links">            
              </div>
            </div>
          </div>
        </div>

        <div class="page-settings-area p-0 m-b-20">
          <div class="row">
            <div class="col-md-7 my-auto">
              <ul class="grid-settings d-flex">
               
                <li class="pos-rel px-3">
                  <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <a [ngClass]="mainTab == 'overview' ? 'nav-item nav-link active': 'nav-item nav-link'" (click)="mainFilterTabsChanged('overview')" id="overview-tab" data-toggle="tab" href="#overview"
                        role="tab">Overview</a>                     
                      <a [ngClass]="mainTab == 'contacts' ? 'nav-item nav-link active': 'nav-item nav-link'" (click)="mainFilterTabsChanged('contacts')" id="prospects-tab" data-toggle="tab" href="#contacts"
                        role="tab">Contacts</a>
                    </div>
                  </nav>
                </li>
              </ul>
            </div>
            <div class="col-md-5 text-right">
              <a data-toggle="modal" data-target="#addSequenceStepPopUp">
                <div class="btn-group">
                  <button type="button" class="btn add-btn-icon">+</button>
                  <button type="button" class="btn add-btn">Add Step</button>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="tab-content">
          <div [ngClass]="mainTab == 'overview' ? 'tab-pane fade show active': 'tab-pane fade'" id="overview" role="tabpanel" aria-labelledby="overview-tab">
            <div class="no-steps-container" style="display: none">
              <h4>No Steps added to this sequence yet...</h4>
              <button type="button" class="btn btn-theme-2" data-toggle="modal" data-target="#addSequenceStepPopUp">Add
                Step</button>
            </div>
            <div *ngIf="sequenceSteps?.length > 0;else nodata">
              <div class="sequence-steps sequenceSteps" *ngFor="let sequencestep of sequenceSteps">
                <div class="seq-step mb-4">
                  <div class="seq-step-type">
                    <div class="row">
                      <div class="col-4 d-flex my-auto">
                        <i class="fa fa-envelope mr-3"></i>
                        <h4 class="step-type"><span class="step-number mr-1">{{sequencestep.Order}}.</span>
                          <span>{{sequencestep.TemplateName}}</span>
                          <span class="text-secondary"> ({{sequencestep.StepType}})</span>
                        </h4>

                      </div>
                      <div class="col-1" ngbPopover="Step Interval" triggers="mouseenter:mouseleave">
                        <span>{{sequencestep.Days}} d</span>
                        <!-- <span>{{sequencestep.Hours}} h,</span>
                        <span>{{sequencestep.Mins}} m</span> -->
                      </div>
                      <div class="col-6 text-right">
                        <span *ngIf="sequencestep.FirstScheduledDate != '0'" class="color-999">
                          <label>First Scheduled Date:</label>
                          <span class="font-weight-bold"> {{sequencestep.FirstScheduledDate}}</span>
                        </span><span *ngIf="sequencestep.UpcomingScheduledDate != '0' && sequencestep.FirstScheduledDate != '0'"
                          class="lr-p10">|</span>
                        <span *ngIf="sequencestep.UpcomingScheduledDate != '0'" class="color-999">
                          <label>Upcoming Scheduled Date:</label>
                          <span class="font-weight-bold"> {{sequencestep.UpcomingScheduledDate}}</span>
                        </span>
                      </div>
                      <!-- <div class="col-2 text-right">
                        <span class="color-999" ngbPopover="Schedule Time" triggers="mouseenter:mouseleave">{{sequencestep.ScheduledTime}}</span>
                      </div> -->
                      <div class="col-1 text-right">

                        <!-- <span class="mr-5">{{sequencestep.ElapsedDuration}}</span> -->
                        <!-- <span class="mr-2" (click)="UpdateStepBtn(StepEditModal,sequencestep.StepId)">                     
                          <i class="fa fa-edit pointer" data-toggle="tooltip" title="Update template" data-placement="left"></i>                     
                        </span> -->
                        <span class="step-options cursor-pointer" ngbPopover="Delete step" triggers="mouseenter:mouseleave" (click)="deleteSequenceStep(sequencestep.StepId,deleteConfirmationModal)">
                          <i class="fa fa-trash-alt mr-3"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="seq-step-det">
                    <table class="table table-responsive-sm sequence-step-details mb-0">
                      <tr>
                        <td width="2%" class="pr-0">
                          <div *ngIf="sequencestep.Subscribers > 0" class="">
                            <i data-toggle="collapse" [attr.data-target]="'#info' + sequencestep.Order" ngbPopover="Step overview"
                              triggers="mouseenter:mouseleave"
                              class="fas fa-chevron-circle-down text-primary fs-16 cursor-pointer"></i>
                          </div>
                        </td>
                        <td style="width:65%;">
                          <h4 class="seq-title pointer">{{sequencestep.Subject}}</h4>
                          <p class="color-999">{{sequencestep.Notes}}</p>
                          <div id="{{'info'+sequencestep.Order}}" class="collapse">
                            <table>
                              <thead>
                                <th>Initiated Date</th>
                                <th>Scheduled Date</th>
                                <th>Initiated By</th>
                                <th>Contacts</th>
                                <th>Reached</th>
                                <th>Opened</th>
                                <th>Responses</th>
                              </thead>
                              <tbody>
                                <tr *ngFor="let singleInfo of sequencestep.ListOfStepsBreakUpData">
                                  <td>{{singleInfo.CreatedDate}}</td>
                                  <td>{{singleInfo.ImplementationDate}}</td>
                                  <td>{{singleInfo.Initiator}}</td>
                                  <td class="text-center">
                                    <h4 class="mb-0">{{singleInfo.Subscribers}}</h4>
                                  </td>
                                  <td class="text-center">
                                    <h4 class="mb-0">{{singleInfo.Reached}}</h4>
                                  </td>
                                  <td class="text-center">
                                    <h4 class="mb-0">{{singleInfo.Opened}}</h4>
                                  </td>
                                  <td class="text-center">
                                    <h4 class="mb-0">{{singleInfo.Responses}}</h4>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </td>
                        <td style="width:35%;">
                          <ul class="d-sm-flex" style="list-style: none;margin-bottom: 0px;">
                            <li class="mb-2 mb-sm-0">
                              <div class="count px-3 text-center">
                                <h4 class="mb-0">{{sequencestep.Subscribers}}</h4>
                                <span *ngIf="sequencestep.Subscribers > 0; else noContacts" class="cursor-pointer"
                                  style="color: #619eda" (click)="stepContacts(sequencestep.StepId)">Contacts</span>
                                <ng-template #noContacts><span class="color-999">Contacts</span>
                                </ng-template>
                              </div>
                            </li>
                            <li class="mb-2 mb-sm-0">
                              <div class="count px-3 text-center">
                                <h4 class="mb-0">{{sequencestep.Reached}}</h4>
                                <span class="color-999">Reached</span>
                              </div>
                            </li>
                            <li class="mb-2 mb-sm-0">
                              <div class="count px-3 text-center">

                                <h4 class="mb-0">{{sequencestep.Opened}}</h4>
                                <a *ngIf="sequencestep.Opened > 0; else noOpened"
                                  href="/sequence/step-contacts/{{id}}/{{sequencestep.StepId}}/op">
                                  <span class="color-999">Opened</span>
                                </a>
                                <ng-template #noOpened><span class="color-999">Opened</span>
                                </ng-template>
                              </div>
                            </li>
                            <li class="mb-2 mb-sm-0">
                              <div class="count px-3 text-center">
                                <h4 class="mb-0">{{sequencestep.Responses}}</h4>
                                <a *ngIf="sequencestep.Responses > 0; else noResponse"
                                  href="/sequence/step-contacts/{{id}}/{{sequencestep.StepId}}/re">
                                  <span class="color-999">Responses</span>
                                </a>
                                <ng-template #noResponse><span class="color-999">Responses</span>
                                </ng-template>
                              </div>
                            </li>
                          </ul>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>

              </div>
            </div>
            <ng-template #nodata>             
              <div class="col-sm-6">
                <h4>No Steps added to this sequence yet...</h4>
              </div>              
            </ng-template>
            
          </div>
          <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">

          </div>
          <div [ngClass]="mainTab == 'contacts' ? 'tab-pane fade show active': 'tab-pane fade'" id="contacts" role="tabpanel" aria-labelledby="prospects-tab">
            <div>
              <div class="row mb-3">
                <div class="col-sm-2">
                  <select class="form-control" *ngIf="stepsList?.length > 0" [(ngModel)]='stepSelect' (change)="StepChangedHandler($event.target.value)">
                    <option *ngFor="let step of stepsList" value="{{step.StepId}}">Step - {{step.Order}}                        
                    </option>                     
                  </select>
                </div>
                <div class="col-sm-8"></div>
                <div class="col-sm-2">
                  <input type="text" class="form-control" placeholder="Search" (keyup)="onFilterTextBoxChanged($event)" />
                </div>
              </div>
              <ag-grid-angular #agGrid style="width: 100%; " id="myGrid" class="ag-theme-balham" [columnDefs]="columnDefs"             
              [paginationPageSize]="paginationPageSize"
              [gridOptions]="gridOptions" [suppressRowClickSelection]="true" [groupSelectsChildren]="true" [debug]="true"              
              [enableRangeSelection]="true" [pagination]="true" [rowData]="SequenceContacts"
              (gridReady)="onGridReady($event)"></ag-grid-angular>
            </div>
          </div>
        </div>


  <!-- Response Info popupu -->
  <ng-template #responseInfoModal>
    <div class="modal-body">
      <div [innerHTML]="responseInfo"></div>
    </div>
  </ng-template>

        <!-- Create Sequence Step Modal -->
        <div class="modal fade" role="dialog" tabindex="-1" id="addSequenceStepPopUp" data-backdrop="static"
          data-keyboard="false">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
              <form [formGroup]="sequenceStepForm" (ngSubmit)="addsequencesteps(responseInfoModal)">
                <div class="modal-header">
                  <h4 class="modal-title">Add Sequence Step</h4>
                  <button type="button" class="close" (click)="onStepReset()" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                  <div class="sequence-details">
                    <div class="form-group">
                      <label>Step Type:</label>
                      <select class="form-control" formControlName="StepType" (change)="onRowClick($event)"
                        (ngModelChange)="dataChanged($event)"
                        [ngClass]="{ 'is-invalid': submitted && f.StepType.errors }">
                        <div *ngIf="submitted && f.StepType.errors" class="invalid-feedback">
                          <div *ngIf="f.StepType.errors.required">select step type</div>
                        </div>
                        <option value="" selected>-- Select step type --</option>
                        <option value="Auto Email">Auto Email</option>
                        <option value="Manual Email">Manual Email</option>
                        <option value="Phone Call">Phone Call</option>
                        <option value="">View LinkedIn Profile</option>
                        <option value="">Send LinkedIn Connection Request</option>
                        <option value="">Interact with LinkedIn Post</option>
                        <option value="Generic Task">Generic Task</option>
                      </select>
                    </div>
                    <div class="form-group" id="templateSelection" *ngIf="isAutoViewable">
                      <label>Select template:</label>
                      <select class="form-control" formControlName="TemplateId">
                        <option value="">-- Select template --</option>
                        <option *ngFor="let template of templates" [value]="template.TemplateId">
                          {{template.TemplateName}}
                        </option>
                      </select>
                      <div *ngIf="templateIderror" class="text-danger" style="font-size:80% !important">select template</div>
                    </div>
                    <div class="form-group" id="createNewTemplateBtn" style="display: none">
                      <button type="button" class="btn btn-theme btn-block">Create New Template</button>
                    </div>
                    <div id="taskPhoneCall" *ngIf="isViewable">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Call Purpose:</label>
                            <select class="form-control" formControlName="purpose">
                              <option value="">-- Select Call Purpose --</option>
                              <option value="">Introduction Call</option>
                              <option value="">Demo Call</option>
                              <option value="">Follow-Up Call</option>
                              <option value="">Support Call</option>
                            </select>
                            <div *ngIf="phonePurposeerror" class="text-danger" style="font-size:80% !important">select purpose</div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Task Priority:</label>
                            <select class="form-control" formControlName="priority">
                              <option value="">-- Select Priority --</option>
                              <option value="">No Priority</option>
                              <option value="">Urgent</option>
                              <option value="">High</option>
                              <option value="">Normal</option>
                              <option value="">Low</option>
                            </select>
                            <div *ngIf="phonePriorityerror" class="text-danger" style="font-size:80% !important">select priority</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="genericTaskCreation" *ngIf="isTaskViewable">
                      <div class="form-group">
                        <label>Task Title:</label>
                        <input type="text" formControlName="TaskTitle" placeholder="Task Title..." class="form-control">
                        <div *ngIf="taskTitleerror" class="text-danger" style="font-size:80% !important">Enter task title</div>
                      </div>
                      <div class="form-group">
                        <label>Task Description:</label>
                        <textarea class="form-control" rows="2" formControlName="Description"
                          placeholder="Describe the task here..."></textarea>
                      </div>
                    </div>

						<div id="setTimeIntervalFields">
							<label>Set Time Interval for the step to initiate:</label>
							<div class="row">
								<div class="col-4">
									<div class="form-group d-flex">
										<select class="form-control mr-2" formControlName="Days"
											(change)="onselecteddays($event)">
											<option *ngFor="let day of sequenceStepsDays" [value]="day">{{day}}</option>
											
										</select>
										<label class="my-auto">Days</label>
									</div>
								</div>
								<div class="col-4">
									<div class="form-group d-flex">
										<select class="form-control mr-2" formControlName="Hours"
											(change)="onselectedhours($event)">
											<option *ngFor="let hr of sequenceStepsHours" [value]="hr">{{hr}}</option>
											
										</select>
										<label class="my-auto">Hours</label>
									</div>
								</div>
								<div class="col-4">
									<div class="form-group d-flex">
										<select class="form-control mr-2" formControlName="Mins"
											(change)="onselectedmins($event)">
											<option *ngFor="let min of sequenceStepsMins" [value]="min">{{min}}</option>											
										</select>
										<label class="my-auto">Mins</label>
									</div>
								</div>
							</div>
						</div>

                    <div class="form-group">
                      <label>Notes (Optional):</label>
                      <textarea rows="2" class="form-control" formControlName="notes"
                        placeholder="Notes about the step..."></textarea>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn theme-btn btn-check"><span>Save</span></button>
                  <button type="button" class="btn btn-grey" data-dismiss="modal" (click)="onStepReset()"
                    #closeAddSequenceStepModal>Cancel</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- Update sequence step -->        
        <ng-template #StepEditModal>
          <form [formGroup]="sequenceStepEditForm" (ngSubmit)="updatesequencesteps()">
            <div class="modal-header">
              <h4 class="modal-title">Update Sequence Step</h4>
              <button type="button" class="close" (click)="updateStepmodalRef.hide()" data-dismiss="modal">&times;</button>
        
            </div>
            <div class="modal-body">
              <div class="sequence-details">
                <div class="form-group">
                  <label>Step Type:</label>
                  <select class="form-control" formControlName="StepType" (change)="onRowClick($event)"
                    (ngModelChange)="dataChanged($event)" [ngClass]="{ 'is-invalid': submitted && Ef.StepType.errors }">
                    <div *ngIf="submitted && Ef.StepType.errors" class="invalid-feedback">
                      <div *ngIf="Ef.StepType.errors.required">select step type</div>
                    </div>
                    <option value="" selected>-- Select step type --</option>
                    <option value="Auto Email">Auto Email</option>
                    <option value="Manual Email">Manual Email</option>
                    <option value="Phone Call">Phone Call</option>
                    <option value="">View LinkedIn Profile</option>
                    <option value="">Send LinkedIn Connection Request</option>
                    <option value="">Interact with LinkedIn Post</option>
                    <option value="Generic Task">Generic Task</option>
                  </select>
                </div>
                <div class="form-group" id="templateSelection">
                  <label>Select template:</label>
                  <select class="form-control" formControlName="TemplateId" [(ngModel)]='etSelect'>
                    <option value="">-- Select template --</option>
                    <option *ngFor="let template of templates" value="{{template.TemplateId}}">
                      {{template.TemplateName}}
                    </option>
                  </select>
                </div>
                <div class="form-group" id="createNewTemplateBtn" style="display: none">
                  <button type="button" class="btn btn-theme btn-block">Create New Template</button>
                </div>
                <div id="taskPhoneCall" *ngIf="isViewable">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Call Purpose:</label>
                        <select class="form-control" formControlName="purpose">
                          <option value="">-- Select Call Purpose --</option>
                          <option value="">Introduction Call</option>
                          <option value="">Demo Call</option>
                          <option value="">Follow-Up Call</option>
                          <option value="">Support Call</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Task Priority:</label>
                        <select class="form-control" formControlName="priority">
                          <option value="">-- Select Priority --</option>
                          <option value="">No Priority</option>
                          <option value="">Urgent</option>
                          <option value="">High</option>
                          <option value="">Normal</option>
                          <option value="">Low</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="genericTaskCreation" *ngIf="isTaskViewable">
                  <div class="form-group">
                    <label>Task Title:</label>
                    <input type="text" formControlName="TaskTitle" placeholder="Task Title..." class="form-control">
                  </div>
                  <div class="form-group">
                    <label>Task Description:</label>
                    <textarea class="form-control" rows="2" formControlName="Description"
                      placeholder="Describe the task here..."></textarea>
                  </div>
                </div>
        
                <div id="setTimeIntervalFields">
                  <label>Set Time Interval for the step to initiate:</label>
                  <div class="row">
                    <div class="col-4">
                      <div class="form-group d-flex">
                        <select class="form-control mr-2" formControlName="Days" (change)="onselecteddays($event)">
                          <option *ngFor="let day of sequenceStepsDays" [value]="day">{{day}}</option>
        
                        </select>
                        <label class="my-auto">Days</label>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group d-flex">
                        <select class="form-control mr-2" formControlName="Hours" (change)="onselectedhours($event)">
                          <option *ngFor="let hr of sequenceStepsHours" [value]="hr">{{hr}}</option>
        
                        </select>
                        <label class="my-auto">Hours</label>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group d-flex">
                        <select class="form-control mr-2" formControlName="Mins" (change)="onselectedmins($event)">
                          <option *ngFor="let min of sequenceStepsMins" [value]="min">{{min}}</option>
                        </select>
                        <label class="my-auto">Mins</label>
                      </div>
                    </div>
                  </div>
                </div>
        
                <div class="form-group">
                  <label>Notes (Optional):</label>
                  <textarea rows="2" class="form-control" formControlName="notes"
                    placeholder="Notes about the step..."></textarea>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn theme-btn btn-check"><span>Update</span></button>
              <button type="button" class="btn btn-grey" data-dismiss="modal" (click)="updateStepmodalRef.hide()"
                #closeAddSequenceStepModal>Cancel</button>
            </div>
          </form>
        </ng-template>


            <!-- Update sequence step -->        
            <ng-template #deleteConfirmationModal>
              <form [formGroup]="sequenceStepEditForm" (ngSubmit)="deleteSequenceStepConfirmation()">
                <div class="modal-header border-bottom">
                  <h4 class="modal-title">Delete Sequence Step</h4>
                  <button type="button" class="close" (click)="deleteStepmodalRef.hide()" data-dismiss="modal">&times;</button>
            
                </div>
                <div class="modal-body text-center">
                  <div class="confirmation-content">
                    <div class="icon confirm mb-3">
                      <i class="fa fa-exclamation text-danger fa-2x"></i>
                    </div>
                    <h4>Are you sure do you want to delete?</h4>                   
                  </div>
                </div>
                <div class="modal-footer border-top">
                  <button type="submit" class="btn btn-sm btn-danger"><span>Delete</span></button>
                  <button type="button" class="btn btn-grey" data-dismiss="modal" (click)="deleteStepmodalRef.hide()"
                    >Cancel</button>
                </div>
              </form>
            </ng-template>

        <!-- Delete Confirmation Modal -->
        <div class="modal fade" id="deleteConfirmationModal" role="dialog" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body text-center">
                <div class="confirmation-content">
                  <div class="icon confirm">
                    <i class="fa fa-exclamation fa-2x"></i>
                  </div>
                  <h4>Are you sure want to delete?</h4>
                  <a class="in-modal button mr-1" data-toggle="modal" data-target="#successAlertModal"
                    data-dismiss="modal">Yes</a>
                  <a class="in-modal button btn-grey" data-dismiss="modal">No</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Delete Confirmation Modal ends here -->



      </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="timer">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<style>
  h4 {
    font-size: 13px;
  }

</style>
