<div class="wrapper">
    <app-header></app-header>
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <h2 class="page-title">Contact Details</h2>
                </div>
                <div class="col-md-6">
                    <div class="f-right">
          
                      <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item">
                          <span (click)="previousPage()" style="content: \2190; cursor: pointer !important">&#8592; Back </span>
                          <!-- <a href="/sequenceview/{{seqId}}">sequence view</a> -->
                        </li>
                        
                      </ol>
          
                    </div>
                  </div>
            </div>
          
            
            <div class="body-content">
              <div class="row">
                <div class="col-sm-10"></div>
                <div class="col-sm-2 float-right mb-2">
                  <input type="text" class="form-control" placeholder="Search" (keyup)="onFilterTextBoxChanged($event)" />
      
                </div>
              </div>
                <div class="row">
                    <ag-grid-angular #agGrid style="width: 100%;" id="myGrid" class="ag-theme-balham" [columnDefs]="columnDefs"
                    [autoGroupColumnDef]="autoGroupColumnDef" [defaultColDef]="defaultColDef"
                    [paginationPageSize]="paginationPageSize" [cacheBlockSize]="cacheBlockSize" [sideBar]="sideBar"
                    [gridOptions]="gridOptions" [suppressRowClickSelection]="true" [groupSelectsChildren]="true" [debug]="true"
                    [rowSelection]="rowSelection" [rowGroupPanelShow]="rowGroupPanelShow" [pivotPanelShow]="pivotPanelShow"
                    [enableRangeSelection]="true" [pagination]="true" [rowData]="rowData"
                    (gridReady)="onGridReady($event)"></ag-grid-angular>
                </div>
            </div>
        </div>
    </div>
</div>