<div class="wrapper">
    <app-header></app-header>
    <div class="page-wrapper">
        <div class="container-fluid"><div>
        <div class="row">
            <div class="col-md-6">
                <h2 class="page-title">Tasks</h2>
            </div>            
            <div class="col-md-6">
                <div class="f-right">
      
                  <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">
                      <a href="/task">Tasks</a>
                    </li>
                    <li class="breadcrumb-item">
                      Create Task
                    </li>
                  </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="body-content">
            <div class="row">  
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="page-header">
                        <h4 class="page-title">Create Task</h4>
                      </div>
                    <form [formGroup]="TaskForm" (ngSubmit)="addTask()">
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <label>Contact Person:</label>
                                        <ng-select dropdownPosition="bottom" class="txtSearch" [items]="contactsList" bindLabel="name" placeholder="Type for contact"
                                        [(ngModel)]="selContactInfo" [ngModelOptions]="{standalone: true}"
                                         (search)="contactChangeHandler($event)" (change)="selectContact()">
                                        </ng-select>
                                        <div *ngIf="contactnamerequired" class="text-danger fs-80">select account name</div>
                                        <!-- <select class="form-control" name="contactslist" formControlName="ObjectId"
                                            [ngClass]="{ 'is-invalid': submitted && f.ObjectId.errors }">
                                            <ng-container *ngIf="contactInfo == undefined; else clickedContact">
                                                <option value="">Select contact</option>
                                                <option *ngFor="let contact of Contacts" [value]="contact.contactid">
                                                    {{contact.contactname}}
                                                </option>
                                            </ng-container>
                                            <ng-template #clickedContact>
                                                <option value="">Select contact</option>
                                                <option [value]="contactInfo.contactid">{{contactInfo.name}}</option>
                                            </ng-template>
                                        </select>
                                        <div *ngIf="submitted && f.ObjectId.errors" class="invalid-feedback">
                                            <div *ngIf="f.ObjectId.errors.required">Select contact name</div>
                                        </div> -->
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <label>Task Title:</label>
                                        <input type="text" formControlName="Title" class="form-control" id="tasktitle"
                                            [ngClass]="{ 'is-invalid': submitted && f.Title.errors }">
                                        <div *ngIf="submitted && f.Title.errors" class="invalid-feedback">
                                            <div *ngIf="f.Title.errors.required">Enter task title</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <label>Priority:</label>
                                        <select class="form-control" formControlName="Priority"
                                            [ngClass]="{ 'is-invalid': submitted && f.Priority.errors }">
                                            <option value="">Select priority</option>
                                            <option value="Normal">Normal</option>
                                            <option value="Low">Low</option>
                                            <option value="Medium">Medium</option>
                                            <option value="High">High</option>
                                            <option value="Urgent">Urgent</option>
                                        </select>
                                        <div *ngIf="submitted && f.Priority.errors" class="invalid-feedback">
                                            <div *ngIf="f.Priority.errors.required">select priority</div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <label>Task type:</label>
                                        <select class="form-control" formControlName="TaskType"
                                            [ngClass]="{ 'is-invalid': submitted && f.TaskType.errors }">
                                            <option value="">Select type</option>
                                            <option value="Email">Email</option>
                                            <option value="Phone Call">Phone Call</option>
                                            <option value="Generic Task">Generic Task</option>
                                        </select>
                                        <div *ngIf="submitted && f.TaskType.errors" class="invalid-feedback">
                                            <div *ngIf="f.TaskType.errors.required">select task type</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <label>Owner:</label>
                                        <select class="form-control" formControlName="AssignedToIntId"
                                            [ngClass]="{ 'is-invalid': submitted && f.AssignedToIntId.errors }">
                                            <option value="">Select owner</option>
                                            <ng-container *ngIf="IsMember; else userList">
                                                <option [value]="userInfo.IntUserId">{{userInfo.name}}</option>
                                            </ng-container>
                                            <ng-template #userList>
                                                <option *ngFor="let user of usersData" [value]="user.IntUserId">{{user.NickName}}</option>
                                            </ng-template>
                                        </select>
                                        <div *ngIf="submitted && f.AssignedToIntId.errors" class="invalid-feedback">
                                            <div *ngIf="f.AssignedToIntId.errors.required">select owner</div>
                                        </div>
                                    </div>
                                <div class="col-12 col-sm-6">
                                    <label>Due Date:</label>
                                    <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                                        [bsConfig]="{ isAnimated: true, adaptivePosition: true,containerClass:'theme-dark-blue' }"
                                        [(bsValue)]="bsValue" value="{{ bsValue | date:'dd/MM/yyyy' }}">
                                </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label>Note:</label>
                            <textarea class="form-control" rows="3" placeholder="About the task..."
                              formControlName="Description"></textarea>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="submit" class="btn theme-btn btn-check"><span>Add Task</span></button>
                          <button type="reset" class="btn btn-grey" (click)="onReset()">Cancel</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</div>