<div class="wrapper">
    <app-header></app-header>
    <div class="page-wrapper">
      <div class="container-fluid">
        <div>
          <h2 class="page-title">Accounts</h2>
        </div>
        <div class="body-content">
  
          <div class="page-header">
            <div class="row">
              <div class="col-md-9">
  
                <div class="filters-settings">
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" (click)="mainFilterTabsChanged('thisweek-created','created')">
                      <a [ngClass]="mainTab == 'created' ? 'nav-link active': 'nav-link'" id="by-created-tab" data-toggle="tab" href="#by-created" role="tab"
                        aria-controls="by-created" aria-selected="false">By Created</a>
                    </li>
                    <li class="nav-item" (click)="mainFilterTabsChanged('thisweek','engaged')">
                      <a  [ngClass]="mainTab == 'engaged' ? 'nav-link active': 'nav-link'"  id="by-engagged-tab" data-toggle="tab" href="#by-engagged" role="tab"
                        aria-controls="by-engagged" aria-selected="true">By Engaged</a>
                    </li>
                    <!-- <li class="nav-item" (click)="mainFilterTabsChanged('all')">
                      <a class="nav-link" id="by-stage-tab" data-toggle="tab" href="#by-stage" role="tab"
                        aria-controls="by-stage" aria-selected="false">By Stage</a>
                    </li> -->
                  </ul>
                </div>
              </div>
  
              <div class="col-md-3 text-md-right">
                <div class="page-header-links">
                  <a data-toggle="modal" data-target="#createAccountModal" (click)="resetIndustrie()">
                    <div class="btn-group">
                      <button type="button" class="btn add-btn-icon">+</button>
                      <button type="button" class="btn add-btn">Account</button>
                    </div>
                  </a>
                  <!-- <a *ngIf="userInfo.companyIntId==21" class="ml-2" href="/accounts/addnewaccount">
                    <div class="btn-group">
                      <button type="button" class="btn add-btn-icon">+</button>
                      <button type="button" class="btn add-btn">Add Account</button>
                    </div>
                  </a>   -->
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-sm-4">  
              <div class="tab-content" id="myTabContent">
                <div  [ngClass]="mainTab == 'engaged' ? 'tab-pane fade show  active': 'tab-pane fade '" id="by-engagged" role="tabpanel" aria-labelledby="by-engagged-tab">
                 <div class="btn-group">
                    <select class="form-control" [(ngModel)]='engSelect' (change)="EngagedChangedHandler($event.target.value)">
                      <option value="today">Today</option>
                      <option value="thisweek">This Week</option>
                      <option value="lastweek">Last Week </option>
                      <option value="thismonth">This Month </option>
                      <option value="lastmonth">Last Month </option>
                      <option value="last3months"> > 3 Months</option>
                      <option value="notengaged">Not Engaged</option>
                      <option value="all">All</option>
                    </select>
                  </div>
                
                </div>
  
  
                <div [ngClass]="mainTab == 'created' ? 'tab-pane fade show  active': 'tab-pane fade'" id="by-created" role="tabpanel" aria-labelledby="by-created-tab">
             <div class="btn-group">
                    <select class="form-control" [(ngModel)]='crdSelect' (change)="CreatedChangedHandler($event.target.value)">
                      <option value="today" >Today</option>
                      <option value="thisweek">This Week </option>      
                      <option value="lastweek">Last Week </option>                
                      <option value="thismonth">This Month </option>                   
                      <option value="all">All</option>
                    </select>
                  </div>
                </div>
  
             
              </div> 
            
            </div>
            <div class="col-sm-2">
              <span>
                  <input type='checkbox' class='ag-selection-checkbox' id="accountsgridSelectAll" (click)='toggleSelectAll()' style="word-wrap:break-word;vertical-align:middle;">
                  <!-- input id="checkboxMember" type="checkbox" onClick={this.onCheckBoxChange.bind(this)} className="check"/ -->
              </span>
              <label>&nbsp;&nbsp;Select All</label>
            </div>
            <div class="col-sm-3">
              <button data-toggle="modal" [disabled]="IsUpdateAssigneeEnabled"  (click)="updateBulkAssignees()" data-target="#updateAssigneeModal" class="btn btn-info">Update Bulk Assignees</button>
            </div>
            <div class="col-sm-1">             
              <select class="form-control" (change)="onPageSizeChanged($event.target.value)">
                <option value="10" selected="">10</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
              </select>
            </div>
            <div class="col-sm-2">           
              <input type="text" class="form-control" placeholder="Search" (keyup)="onFilterTextBoxChanged($event)" />
           </div>
          </div>
    <div class="row">
        <div class="col-md-12">
           
          <ag-grid-angular #agGrid style="width: 100%; " id="myGrid" class="ag-theme-balham" [columnDefs]="columnDefs"
           [defaultColDef]="defaultColDef" [autoGroupColumnDef]="autoGroupColumnDef"
          [paginationPageSize]="paginationPageSize" [cacheBlockSize]="cacheBlockSize" (cellClicked)="onCellClicked($event)"
          [gridOptions]="gridOptions" [suppressRowClickSelection]="true" [rowSelection]="rowSelection" [debug]="true"
          [enableSorting] = "false" [enableRangeSelection]="true" [pagination]="true" [rowData]="rowData"
          (rowSelected)="onRowSelected($event)"  (paginationChanged)="onPaginationChanged($event)"
          (gridReady)="onGridReady($event)" (rowClicked)="onRowClicked($event)"></ag-grid-angular>
        </div>
        </div>
   <!-- Response Info popupu -->
   <ng-template #responseInfoModal>                   
    <div class="modal-body">     
      <div [innerHTML] = "responseInfo"></div>     
    </div>   
  </ng-template>

  <ng-template #infoModal>    
    <div class="modal-body card">
      <div class="card-body">
       <div class="card-text" [innerHTML] = "accountResponseInfo"></div>
      </div>
      <div class="modal-footer">
        <button *ngIf = "newaccountIntId > 0" class="btn btn-info" (click)="addContactsProceed()">YES</button>
        <button *ngIf = "newaccountIntId > 0" class="btn btn-danger" (click)="loadAccounts()">NO</button>
        <button *ngIf = "newaccountIntId == 0" class="btn btn-danger" (click)="infoModalRef.hide()">Cancel</button>
      </div>
    </div>
  </ng-template>
  
  <!-- Success Alert Modal -->
  
  <ng-template #successAlertModal>                   
    <div class="modal-body">     
      <div [innerHTML] = "deleteresponseInfo"></div>     
    </div>     
  </ng-template>
  <!-- Success Alert Modal ends here -->

  <!-- Delete Confirmation Modal -->
  <div class="modal fade" id="confirmationAccountDeleteModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">
          <div class="confirmation-content">
            <div class="icon confirm">
              <i class="fa fa-exclamation fa-2x text-danger"></i>
            </div>
            <h4>Are you sure want to delete?</h4>
            <a class="in-modal btn btn-sm btn-success mr-1" data-toggle="modal"
              data-dismiss="modal" (click)="deleteAccountYes(successAlertModal)">Yes</a>
            <a class="in-modal btn btn-sm btn-grey" data-dismiss="modal">No</a>
          </div>
        </div>
      </div>
    </div>
  </div>  
  <!-- Delete Confirmation Modal ends here -->

     <!-- Create new Account Modal -->
     <div class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" id="createAccountModal">
        <div class="modal-dialog modal-dialog-centered modal-scrollable" role="document">
          <div class="modal-content">
            <form [formGroup]="accountForm" (ngSubmit)="addAccount(infoModal)">
              <div class="modal-header">
                <h4 class="modal-title">Create Account</h4>
                <button type="button" class="close" (click)="onReset()" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <div class="form-group required">
                      <label class="control-label">Account Name:</label>
                      <input type="text" class="form-control" formControlName="accountname" appTitleCase
                        [ngClass]="{ 'is-invalid': submitted && f.accountname.errors }">
                      <div *ngIf="submitted && f.accountname.errors" class="invalid-feedback">
                        <div *ngIf="f.accountname.errors.required">Enter account name</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="form-group required">
                      <label class="control-label">Website:</label>
                     <input type="text" class="form-control" placeholder="www.outwork.ai"
                     formControlName="website" [ngClass]="{ 'is-invalid': submitted && f.website.errors }">
                     <div *ngIf="submitted && f.website.errors" class="invalid-feedback">
                       <div *ngIf="f.website.errors.required">website is required</div>
                     </div>

                    </div>
                  </div>
                 
                </div>
                <div class="row">
                   <div class="col-12 col-sm-6">
                    <div class="form-group required">
                      <label class="control-label">Industry:</label>
                      <ng-select [items]="industriesList" class="txtSearch" bindLabel="name" placeholder="Type for industry"
                      [(ngModel)]="selIndustryInfo" [ngModelOptions]="{standalone: true}" 
                      [ngClass]="{ 'is-invalid': submitted && f.industryid.errors }"
                       (search)="industryChangeHandler($event, 'search')" (clear)="resetIndustrie()" (change)="selectIndustry()">
                      </ng-select>
                      <div *ngIf="industryintiderror" class="text-danger" style="font-size:80% !important">select industry</div>                  
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label>Sub Industry:</label>
                      <input type="text" class="form-control" formControlName="subindustry">
                    </div>
                  </div>
               
                </div>
                <div class="row">
                  <!--div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label>Email:</label>
                      <input type="email" class="form-control" formControlName="email"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                      </div>
                    </div>
                  </div -->
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label>Account Type:</label>
                      <select class="form-control" formControlName="accounttype"                        
                        (change)="selectTypeChangeHandler($event.target.value)">
                        <option value="">Select account type</option>
                        <option value="partner">Partner</option>
                        <option value="customer">Customer</option>                      
                      </select>               
                    </div>
                  </div>

                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label>Account Source:</label>
                      <select class="form-control" formControlName="accountsource"                        
                        (change)="selectSourceChangeHandler($event.target.value)">
                        <option value="">Select account sourcec</option>
                        <option value="website">Website</option>
                        <option value="linkedin">LinkedIn</option>
                        <option value="advertisement">Advertisement</option>
                        <option value="customer event">Customer Event</option>
                        <option value="employee referral">Employee Referral</option>
                        <option value="partner">Partner</option>
                        <option value="purchased list">Purchased List</option>
                        <option value="tradeshow">Tradeshow</option>
                        <option value="webinar">Webinar</option>
                        <option value="job sites">Job Sites</option>
                        <option value="salesforce communities">Salesforce Communities</option>
                        <option value="google adwords">Google Adwords</option>
                        <option value="other">Other</option>
                      </select>
                      <!-- <div *ngIf="submitted && f.accountsource.errors" class="invalid-feedback">
                        <div *ngIf="f.accountsource.errors.required">select account source</div>
                      </div> -->
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 col-sm-6">
                    <div class="form-group required">
                      <label class="control-label">Stage:</label>
                      <select class="form-control" formControlName="stage"
                        [ngClass]="{ 'is-invalid': submitted && f.stage.errors }"
                        (change)="selectStageChangeHandler($event.target.value)">
                        <option value="not started">Not Started</option>
                        <option value="cold">Cold</option>
                        <option value="replied">Replied</option>
                        <option value="unresponsive">Unresponsive</option>
                        <option value="do not contact">Do Not Contact</option>
                        <option value="bad contact info">Bad Contact Info</option>
                        <option value="interested">Interested</option>
                        <option value="not interested">Not Interested</option>
                      </select>
                      <div *ngIf="submitted && f.stage.errors" class="invalid-feedback">
                        <div *ngIf="f.stage.errors.required">select stage</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="form-group required">
                      <label class="control-label">Owner:</label>
                      <select class="form-control" formControlName="AssignedToIntId"
                        [ngClass]="{ 'is-invalid': submitted && f.AssignedToIntId.errors }">
                        <option value="">Select user</option>
                        <ng-container *ngIf="IsMember; else userList">
                          <option [value]="userInfo.IntUserId">{{userInfo.name}}</option>
                        </ng-container>
                        <ng-template #userList>
                          <option *ngFor="let user of usersData" [value]="user.IntUserId">
                            {{user.NickName}}
                          </option>
                        </ng-template>
                      </select>
                      <div *ngIf="submitted && f.AssignedToIntId.errors" class="invalid-feedback">
                        <div *ngIf="f.AssignedToIntId.errors.required">select owner</div>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label>Company LinkedIn URL:</label>
                     <input type="url" class="form-control" formControlName="companylinkedinurl">
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="form-group">                        
                      <label>Contact No:</label>
                      <input type="text" (keypress)="utilities.phoneNumberValidator($event)" minlength="10" maxlength="20"
                        class="form-control" formControlName="mobilenumber" 
                        [ngClass]="{ 'is-invalid': submitted && f.mobilenumber.errors }">
                        <div *ngIf="submitted && f.mobilenumber.errors" class="invalid-feedback">                         
                          <div *ngIf="f.mobilenumber.errors">contact number must be at least 10 characters long.</div>
                        </div>
                    </div>
                  </div>
                  

                </div>
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label>No. of Employees:</label>                        
                      <input type="number" min = "0"
                      class="form-control" formControlName="noofemployees">
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label>Revenue:</label>
                      <input type="number" placeholder="$o,ooo" min = "0"
                      class="form-control" formControlName="revenue">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <label>Company Address:</label>
                    <textarea rows="2" class="form-control" formControlName="companyaddress"></textarea>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <!-- <a class="button btn-theme btn-check"><span>Add Contact</span></a> -->
                <button type="submit" [disabled]="loading" class="btn theme-btn btn-check"  [disabled]="!accountForm.dirty">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  <span>Add Account</span></button>
                <button class="btn btn-grey" (click)="onReset()" data-dismiss="modal"
                  #closeAddAccountModal>Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    <!-- Update Account Modal -->
     <div class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" id="updateAccountModal">
      <div class="modal-dialog modal-dialog-centered modal-scrollable" role="document">
        <div class="modal-content">
          <form [formGroup]="accountUpdateForm" (ngSubmit)="updateAccount(infoModal)">
            <div class="modal-header">
              <h4 class="modal-title">Update Account</h4>
              <button type="button" class="close" (click)="onResetUpdateForm()" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-12 col-sm-6">
                  <div class="form-group required">
                    <label class="control-label">Account Name:</label>
                    <input type="text" class="form-control" formControlName="accountname" appTitleCase
                      [ngClass]="{ 'is-invalid': submitted && uf.accountname.errors }"
                      >
                    <div *ngIf="submitted && uf.accountname.errors" class="invalid-feedback">
                      <div *ngIf="uf.accountname.errors.required">Enter account name</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group required">
                    <label class="control-label">Website:</label>
                   <input type="text" class="form-control" placeholder="www.outwork.ai"
                   formControlName="website"[ngClass]="{'is-invalid': submitted && uf.website.errors}">
                   <div *ngIf="submitted && uf.website.errors" class="invalid-feedback">
                     <div *ngIf="uf.website.errors.required">website is required</div>
                   </div>
                  </div>
                </div>
               
              </div>
              <div class="row">
                 <div class="col-12 col-sm-6">
                  <div class="form-group required">
                    <label class="control-label">Industry:</label>
                    <ng-select [items]="industriesList" class="txtSearch" bindLabel="name" placeholder="Type for industry"
                    [(ngModel)]="selIndustryInfo" [ngModelOptions]="{standalone: true}" [ngClass]="{ 'is-invalid': submitted && uf.industryid.errors }"
                     (search)="industryChangeHandler($event,'search')" (clear)="resetIndustrie()" (change)="selectIndustry()">
                    </ng-select>
                    <div *ngIf="industryintiderror" class="text-danger" style="font-size:80% !important">select industry</div>                  
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Sub Industry:</label>
                    <input type="text" class="form-control" formControlName="subindustry">
                  </div>
                </div>
             
              </div>
              <div class="row">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Account Type:</label>
                    <select class="form-control" formControlName="accounttype"                        
                      (change)="selectTypeChangeHandler($event.target.value)">
                      <option value="partner">Partner</option>
                      <option value="customer">Customer</option>                      
                    </select>               
                  </div>
                </div>

                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Account Source:</label>
                    <select class="form-control" formControlName="accountsource"                        
                      (change)="selectSourceChangeHandler($event.target.value)">
                      <option value="website">Website</option>
                      <option value="linkedin">LinkedIn</option>
                      <option value="advertisement">Advertisement</option>
                      <option value="customer event">Customer Event</option>
                      <option value="employee referral">Employee Referral</option>
                      <option value="partner">Partner</option>
                      <option value="purchased list">Purchased List</option>
                      <option value="tradeshow">Tradeshow</option>
                      <option value="webinar">Webinar</option>
                      <option value="job sites">Job Sites</option>
                      <option value="salesforce communities">Salesforce Communities</option>
                      <option value="google adwords">Google Adwords</option>
                      <option value="other">Other</option>
                    </select>
                    <div *ngIf="submitted && uf.accountsource.errors" class="invalid-feedback">
                      <div *ngIf="uf.accountsource.errors.required">select account source</div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-12 col-sm-6">
                  <div class="form-group required">
                    <label class="control-label">Stage:</label>
                    <select class="form-control" formControlName="stage"
                      [ngClass]="{ 'is-invalid': submitted && uf.stage.errors }"
                      (change)="selectStageChangeHandler($event.target.value)">
                      <option value="not started">Not Started</option>
                      <option value="cold">Cold</option>
                      <option value="replied">Replied</option>
                      <option value="unresponsive">Unresponsive</option>
                      <option value="do not contact">Do Not Contact</option>
                      <option value="bad contact info">Bad Contact Info</option>
                      <option value="interested">Interested</option>
                      <option value="not interested">Not Interested</option>
                    </select>
                    <div *ngIf="submitted && uf.stage.errors" class="invalid-feedback">
                      <div *ngIf="uf.stage.errors.required">select stage</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group required">
                    <label class="control-label">Owner:</label>
                    <select class="form-control" formControlName="AssignedToIntId"
                      [ngClass]="{ 'is-invalid': submitted && uf.AssignedToIntId.errors }">
                      <option value="">Select user</option>
                      <ng-container *ngIf="IsMember; else userList">
                        <option [value]="userInfo.IntUserId">{{userInfo.name}}</option>
                      </ng-container>
                      <ng-template #userList>
                        <option *ngFor="let user of usersData" [value]="user.IntUserId">
                          {{user.NickName}}
                        </option>
                      </ng-template>
                    </select>
                    <div *ngIf="submitted && uf.AssignedToIntId.errors" class="invalid-feedback">
                      <div *ngIf="uf.AssignedToIntId.errors.required">select owner</div>
                    </div>
                  </div>
                </div>
                
              </div>
              <div class="row">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Company LinkedIn URL:</label>
                   <input type="url" class="form-control" formControlName="companylinkedinurl">
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Contact No:</label>
                    <input type="text" (keypress)="utilities.phoneNumberValidator($event)" minlength="10" maxlength="20"
                      class="form-control" formControlName="mobilenumber" [ngClass]="{ 'is-invalid': submitted && uf.mobilenumber.errors }">
                      <div *ngIf="submitted && f.mobilenumber.errors" class="invalid-feedback">                         
                        <div *ngIf="uf.mobilenumber.errors">contact number must be at least 10 characters long.</div>
                      </div>
                      
                  </div>
                </div>
                

              </div>
              <div class="row">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>No. of Employees:</label>                        
                    <input type="number" min = "0"
                    class="form-control" formControlName="noofemployees">
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Revenue:</label>
                    <input type="number" placeholder="$o,ooo" min = "0"
                    class="form-control" formControlName="revenue">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <label>Company Address:</label>
                  <textarea rows="2" class="form-control" formControlName="companyaddress"></textarea>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <!-- <a class="button btn-theme btn-check"><span>Add Contact</span></a> -->
              <button type="submit" [disabled]="loading" class="btn theme-btn btn-check" [disabled]="!accountUpdateForm.dirty">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                <span>Update Account</span></button>
              <button class="btn btn-grey" (click)="onResetUpdateForm()" data-dismiss="modal"
                #closeUpdateAccountModal>Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>


       <!-- Create new Contact Modal -->
       <div class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" id="createContactModal">
        <div class="modal-dialog modal-dialog-centered modal-scrollable" role="document">
          <div class="modal-content">
            <form [formGroup]="contactForm" (ngSubmit)="addContact(responseInfoModal)">
              <div class="modal-header">
                <h4 class="modal-title">Create Contact</h4>
                <button type="button" class="close" (click)="onContactReset()" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <div class="form-group required">
                      <label class="control-label">First Name:</label>
                      <input type="text" class="form-control" formControlName="firstname" appTitleCase
                        [ngClass]="{ 'is-invalid': submitted && cf.firstname.errors }">
                      <div *ngIf="submitted && cf.firstname.errors" class="invalid-feedback">
                        <div *ngIf="cf.firstname.errors.required">Enter first name</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label>Last Name:</label>
                      <input type="text" class="form-control" formControlName="lastname" appTitleCase
                        [ngClass]="{ 'is-invalid': submitted && cf.lastname.errors }">
                      <div *ngIf="submitted && cf.lastname.errors" class="invalid-feedback">
                        <div *ngIf="cf.lastname.errors.required">Enter last name</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <div class="form-group required">
                      <label class="control-label">Email:</label>
                      <input type="email" class="form-control" formControlName="email" on-focusout="focusOutEmailTxt($event,responseInfoModal)"
                        [ngClass]="{ 'is-invalid': submitted && cf.email.errors }">
                      <div *ngIf="submitted && cf.email.errors" class="invalid-feedback">
                        <div *ngIf="cf.email.errors.required">Email is required</div>
                        <div *ngIf="cf.email.errors.email">Email must be a valid email address</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label>Contact No:</label>
                      <input type="text" (keypress)="utilities.phoneNumberValidator($event)" minlength="10" maxlength="20"
                        class="form-control" formControlName="mobilenumber"
                        [ngClass]="{ 'is-invalid': submitted && cf.mobilenumber.errors }">
                      <div *ngIf="submitted && cf.mobilenumber.errors" class="invalid-feedback">
                        <div *ngIf="cf.mobilenumber.errors">contact number must be at least 10 characters long.</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label>Designation:</label>
                      <div class="form-check d-inline float-right">
                        <input class="form-check-input" type="checkbox" (change)="checkDesignValue($event)" value="">
                        <label class="form-check-label" for="newaccountCheck">
                          New designation
                        </label>
                      </div>
                      <input *ngIf="IsNewDesignChecked; else existingDesignations" class="form-control" type="text"
                      autocomplete="off" placeholder="Enter designation" on-focusout="focusOutDesignTxt($event,responseInfoModal)"
                      formControlName="designation">
                      <ng-template #existingDesignations>
                      <ng-select dropdownPosition="top" class="txtSearch" [items]="designationsList" bindLabel="name" placeholder="Type for designation"
                      [(ngModel)]="selDesigInfo" [ngModelOptions]="{standalone: true}"
                      (search)="desigSelectHandler($event)"  (clear)="resetdesigs()" (change)="selectDesignation()"></ng-select>
                      </ng-template> 
                      <!-- <ng-select dropdownPosition="top" [items]="designationsList" bindLabel="name" placeholder="Type for designation"
                      [(ngModel)]="selDesigInfo" [ngModelOptions]="{standalone: true}"
                      (search)="desigSelectHandler($event)" (change)="selectDesignation()"></ng-select>   -->
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label>Personal LinkedIn Url:</label>
                      <input type="text" class="form-control" formControlName="personallinkedinurl">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <div class="form-group required">
                      <label class="control-label">Owner:</label>
                      <select class="form-control" formControlName="assignedtointid"
                        [ngClass]="{ 'is-invalid': submitted && cf.assignedtointid.errors }">
                        <option value="">Select owner</option>
                        <ng-container *ngIf="IsMember; else userList">
                          <option [value]="userInfo.IntUserId">{{userInfo.name}}</option>
                        </ng-container>
                        <ng-template #userList>
                          <option *ngFor="let user of usersData" [value]="user.IntUserId">{{user.NickName}}
                          </option>
                        </ng-template>
                      </select>
                      <div *ngIf="submitted && cf.assignedtointid.errors" class="invalid-feedback">
                        <div *ngIf="cf.assignedtointid.errors.required">select owner</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="form-group required">
                      <label class="control-label">Prospect Stage:</label>
                      <select class="form-control" formControlName="stage"
                        [ngClass]="{ 'is-invalid': submitted && cf.stage.errors }"
                        (change)="selectStageChangeHandler($event.target.value)">
                        <option value="not started">Not Started</option>
                        <option value="cold">Cold</option>
                        <option value="replied">Replied</option>
                        <option value="unresponsive">Unresponsive</option>
                        <option value="do not contact">Do Not Contact</option>
                        <option value="bad contact info">Bad Contact Info</option>
                        <option value="interested">Interested</option>
                        <option value="not interested">Not Interested</option>
                      </select>
                      <div *ngIf="submitted && cf.stage.errors" class="invalid-feedback">
                        <div *ngIf="cf.stage.errors.required">select stage</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label>Designation Category:</label>
                      <select class="form-control" formControlName="designation_category"
                        (change)="sctDesCatChangeHandler($event.target.value)">
                        <option value="">Select designation category</option>  
                        <option *ngFor="let desigCat of designationCategoryList" [value]="desigCat.labeltitle">
                          {{desigCat.labeltitle | titlecase}}
                        </option>
                      </select>
      
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label>Campaign Type:</label>
                      <select class="form-control" formControlName="campaigntype"                        
                      (change)="compTypeChangeHandler($event.target.value)">       
                      <option value="">Select campaign type</option>                  
                      <option *ngFor="let camptype of campaigntypeList" [value]="camptype.labelvalue">
                         {{camptype.labeltitle | titlecase}}
                      </option>
                    </select>        
                    </div>
                  </div>
                </div>
      
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn theme-btn btn-check"><span>Add Contact</span></button>
                <a class="btn btn-grey" (click)="onContactReset()" data-dismiss="modal" #closeAddContactModal>Cancel</a>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Create new Contact Modal ends here -->

       <!-- Update Assignee Modal -->
       <div class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" id="updateAssigneeModal">
        <div class="modal-dialog modal-dialog-centered modal-scrollable" role="document">
          <div class="modal-content">
            <!-- <form [formGroup]="contactForm" (ngSubmit)="updateAssignee()"> -->
              <div class="modal-header">
                <h4 class="modal-title">Update Assignee</h4>
                <button type="button" class="close" (click)="setDefaultOwner()" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <div class="form-group required">
                      <label class="control-label">Owner:</label>
                      <select class="form-control" [(ngModel)]="defaultOwnerValue" (change)="AssigneeChangeHandler($event.target.value)">
                        <option value="">select owner</option>
                        <ng-container *ngIf="IsMember; else userList">
                          <option [value]="userInfo.IntUserId">{{userInfo.name}}</option>
                        </ng-container>
                        <ng-template #userList>
                          <option *ngFor="let user of usersData" [value]="user.IntUserId">{{user.NickName}}
                          </option>
                        </ng-template>
                      </select>
                      <div *ngIf="!IsErrorOccurred" class="error-message mt-2">
                        {{errorMessage}}
                      </div>
                    </div>
                  </div>                
                </div>    
              </div>
              <div class="modal-footer">
                <button [disabled]="!IsErrorOccurred" (click)="updateAssignee()" class="btn theme-btn btn-check"><span>Update</span></button>
                <a class="btn btn-grey" data-dismiss="modal" (click)="setDefaultOwner()" #closeUpdateAssigneeModal>Cancel</a>
              </div>
            <!-- </form> -->
          </div>
        </div>
      </div>
      <!-- Create new Contact Modal ends here -->
      
  </div>
  </div>
  </div>
  
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="timer">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>  