/* .navbar-nav{
    flex-direction: unset !important;
}
.navbar-brand>img{
    display: inline !important;
}
.navbar-default{
    background-color: #11b3ca;
}

.navbar-default .navbar-nav>li>a{
    color: #fff;
}
.navbar-default .navbar-nav>li>a:hover{
    color: #afe2ff;
    border-bottom: 2px solid;
}
.navbar-default .navbar-nav>li:active>a{
    color: #3c8dbc;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    border-bottom: 2px solid;
    background: unset;
}
.navbar-nav .dropdown-menu{
    position: absolute;
} */

.custom-role{
    color: #999;
    font-size: 12px;
}
