<div class="wrapper">
  <app-header></app-header>
  <div class="page-wrapper">
    <div class="container-fluid">
      <div>
        <h2 class="page-title">Activities</h2>
      </div>
      <div class="body-content">

        <div class="page-header">
          <div class="row">
            <div class="col-md-9">

              <div class="">
                <ul class="grid-settings d-flex">
                  <li class="pos-rel">
                    <nav>
                      <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link" id="contact-emails" data-toggle="tab" href="#con-emails" role="tab"
                          [ngClass]="{ 'active':activeTab ==='emails'}">Emails({{emailscount}})</a>

                        <a class="nav-item nav-link" id="contact-calls" data-toggle="tab" href="#con-calls"
                          (click)="getCallsTabs()" [ngClass]="{ 'active':activeTab==='calls'}">Calls({{callscount}})</a>

                        <a class="nav-item nav-link" id="contact-meetings" data-toggle="tab" href="#con-meetings"
                          role="tab" (click)="getMeetingsTab()"
                          [ngClass]="{ 'active':activeTab==='meetings'}">Meetings({{meetingscount}})</a>
                        <a class="nav-item nav-link" id="contact-notes" data-toggle="tab" href="#con-notes"
                          (click)="getNotes()" role="tab"
                          [ngClass]="{ 'active':activeTab==='notes'}">Notes({{notescount}})</a>
                      </div>
                    </nav>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="row1">
          <div class="tab-content bg-variant-1">
            <div class="tab-pane fade show active" id="con-emails" role="tabpanel" aria-labelledby="contact-emails">
              <div class="row mb-3">
                <div class="col-sm-7">
                  <div class="">
                    <div class="btn-group">
                      <select class="form-control" [(ngModel)]='emailType'
                        (change)="EmailTypeChangedHandler($event.target.value)">
                        <option value="inbox">Received</option>
                        <option value="sent">Sent </option>
                        <!-- <option value="all">All</option> -->
                      </select>
                    </div>
                    <div class="btn-group ml-3">
                      <select class="form-control" [(ngModel)]='periodSelect'
                        (change)="CreatedChangedHandler($event.target.value)">
                        <option value="today">Today</option>
                        <option value="thisweek">This Week </option>
                        <option value="thismonth">This Month </option>
                        <option value="all">All</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-2"></div>



                <div class="col-sm-1">
                  <select class="form-control" (change)="onPageSizeChanged($event.target.value)">
                    <option value="10" selected="">10</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                  </select>
                </div>
                <div class="col-sm-2">
                  <input type="text" class="form-control" placeholder="Search"
                    (keyup)="onFilterTextBoxChanged($event)" />
                </div>
              </div>
              <div class="row">
              <div class="col-md-12" id="caontactswithgrid">
                <ag-grid-angular #agGrid style="width: 100%; " id="myGrid" class="ag-theme-balham"
                  [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" header-checkbox-selection.bind="true"
                  header-checkbox-selection-filtered-only.bind="true" checkbox-selection.bind="true"
                  (cellClicked)="onCellClicked($event,viewActivityModal)" [paginationPageSize]="paginationPageSize"
                  [cacheBlockSize]="cacheBlockSize" [gridOptions]="gridOptions" [suppressRowClickSelection]="true"
                  [groupSelectsChildren]="true" [debug]="true" [enableSorting]="false" [enableRangeSelection]="true"
                  [pagination]="true" [rowData]="rowData" (gridReady)="onGridReady($event)"></ag-grid-angular>
              </div>
              </div>
            </div>
            <div class="tab-pane fade" id="con-calls" role="tabpanel" aria-labelledby="contact-calls">
              <div class="contact-notes">
                <div class="header">
                  <h5>Calls</h5>
                </div>
                <div class="notes-list">
                  <ul *ngIf="(calls)?.length > 0; else nodata" class="pos-rel"
                    style="list-style:none;padding-left:0px;">

                    <li class="card comment pos-rel" *ngFor="let call of calls"
                      style="border:1px solid #ddd;padding:10px;margin:10px 0px;">
                      <div class="notes">
                        <div class="notes-header">
                          <div class="row">
                            <div class="col-12 col-sm-9">
                              <p class="color-999">{{call.Title}}</p>
                            </div>
                            <div class="col-12 col-sm-9">
                              <p class="color-999">{{call.AssigneeName}}</p>
                            </div>
                            <div class="col-12 col-sm-3 text-sm-right">
                              <span class="color-999">{{call.ElapsedDuration}}</span>
                            </div>
                          </div>
                        </div>
                        <div class="notes-body">
                          <div class="row">
                            <div class="col-12">
                              <p class="text-justify">{{call.Description}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>

                  </ul>
                  <ng-template #nodata>
                    <h4 class="p-5" style="font-size: 20px;">No data available..!</h4>
                  </ng-template>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="con-notes" role="tabpanel" aria-labelledby="contact-notes">
              <div class="contact-notes">
                <div class="header">
                  <h5>Notes</h5>
                </div>
                <div class="notes-list">
                  <ul class="pos-rel" style="list-style:none;padding-left:0px;">
                    <li class="comment card pos-rel" *ngFor="let note of notes"
                      style="border:1px solid #ddd;padding:10px;margin:10px 0px;">
                      <div class="notes">
                        <div class="notes-header">
                          <div class="row">
                            <div class="col-12 col-sm-9">
                              <p class="color-999"><span class="color-theme">{{note.AssigneeName}}</span>
                                commented on this</p>
                            </div>
                            <div class="col-12 col-sm-3 text-sm-right">
                              <span class="color-999">{{note.ElapsedDuration}}</span>
                            </div>
                          </div>
                        </div>
                        <div class="notes-body">
                          <div class="row">
                            <div class="col-12">
                              <p class="text-justify">{{note.Description}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="con-meetings" role="tabpanel" aria-labelledby="contact-meetings">
              <div class="contact-notes">
                <div class="header">
                  <h5>Meetings</h5>
                </div>
                <div class="notes-list">
                  <table *ngIf="meetingList && meetingList.length > 0; else nodata"
                    class="table table-responsive-sm table-hover contacts-grid mb-0 meetings">
                    <tr *ngFor="let meeting of meetingList">
                      <td>
                        <p class="d-inline-block">{{meeting.Title}}</p>
                        <p>{{meeting.Description}}</p>
                      </td>

                      <td width="20%">
                        <span>Meeting on {{meeting.Date * 1000 | date:'yyyy-MM-dd HH:mm'}}</span>
                      </td>
                    </tr>
                  </table>
                  <ng-template #nodata>
                    <h5 class="p-5" style="font-size: 20px;">No data available..!</h5>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>

          <ng-template #viewActivityModal>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Email Activity</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="emailActivityModalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="tableContainer row">
                <div class="col-sm-4">
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <td class="fw-500">Contact Name</td>
                        <td>{{singleEmailActivity.ContactName}}</td>
                      </tr>
                      <tr>
                        <td class="fw-500">Account Name</td>
                        <td>{{singleEmailActivity.AccountName}}</td>
                      </tr>
                      <tr>
                        <td class="fw-500">Type Of Email</td>
                        <td>{{singleEmailActivity.LabelType}}</td>
                      </tr>
                      <tr>
                        <td class="fw-500">Created on</td>
                        <td>{{singleEmailActivity.CreatedOn}}</td>
                      </tr>
                      <tr>
                        <td class="fw-500">Read Status</td>
                        <td>
                          <span *ngIf="singleEmailActivity.IsRead; else otherReadValue">
                            Read
                          </span>
                          <ng-template #otherReadValue>UnRead
                          </ng-template>
                        </td>
                      </tr>
                      <tr>
                        <td class="fw-500">Reply Status</td>
                        <td><span *ngIf="singleEmailActivity.IsReplied > 0; else otherValue">
                            Replied
                          </span>
                          <ng-template #otherValue>Not Replied
                          </ng-template>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="notes-list col-sm-8">
                  <h6>{{singleEmailActivity.Subject}}</h6>
                  <p [innerHTML]="singleEmailActivity.Body"></p>
                </div>
              </div>

            </div>
            <div class="modal-footer">

              <button class="btn btn-theme" (click)="emailActivityModalRef.hide()">Close</button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="timer">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>