<div class="d-flex text-center">       
        <span class="badge badge-rounded badge-outline contact-info-badge check mr-2" data-toggle="tooltip"
            title="Email" data-placement="left" (click)="deleteTask()">
            <i class="fa fa-trash"></i>
        </span>
        
    </div>