<div class="wrapper">
  <app-header></app-header>



  <div class="page-wrapper">
    <div class="container-fluid">

      <div>
        <h2 class="page-title">Opportunities</h2>
        <!--<nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item" aria-current="page">
              <a href="/opportunities" class="active">Opportunities</a>
            </li>
          </ol>
        </nav>-->
      </div>


      <div class="body-content">

        <div class="page-header">
          <div class="row">
            <div class="col-md-9">
              <div class="filters-settings">
                <!--  <h4 style="line-height:20px;">Filter By : </h4>  -->
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="active" id="nav-thisweek-tab" data-toggle="tab" href="#nav-contact" role="tab"
                    aria-controls="nav-contact" aria-selected="false" (click)="oppService.TimePeriodFilter('thisweek')">
                    This Week</a>
                  <a class=" " id="nav-thismonth-tab" data-toggle="tab" href="#nav-about" role="tab"
                    aria-controls="nav-about" aria-selected="false" (click)="oppService.TimePeriodFilter('thismonth')">
                    This Month</a>
                    <a class=" " id="nav-thismonth-tab" data-toggle="tab" href="#nav-about" role="tab"
                    aria-controls="nav-about" aria-selected="false" (click)="oppService.TimePeriodFilter('all')">
                    All</a>
                </div>

                <!-- <nav>
                  <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link" id="nav-thisweek-tab" data-toggle="tab" href="#nav-contact" role="tab"
                      aria-controls="nav-contact" aria-selected="false"
                      (click)="oppService.TimePeriodFilter('thisweek')">
                      This Week</a>
                    <a class="nav-item nav-link" id="nav-thismonth-tab" data-toggle="tab" href="#nav-about" role="tab"
                      aria-controls="nav-about" aria-selected="false" (click)="contactedFilter('thismonth')">
                      This Month</a>
                  </div>
                </nav>  -->

              </div>

            </div>

            <div class="col-md-3 text-md-right">
              <div class="page-header-links">

                <a data-toggle="modal" data-target="#createOpportunityModal">
                  <div class="btn-group">
                    <button type="button" class="btn add-btn-icon">+</button>
                    <button type="button" class="btn add-btn">Opportunity</button>
                  </div>
                </a>

                <!-- <ul class="d-flex float-right">
                  <li>
                    <a class="header-btn" data-toggle="modal" data-target="#createOpportunityModal">
                      <i class="fa fa-plus mr-2"></i>Opportunity
                    </a>
                  </li>
                  <li>
                    <a class="header-btn no-border">
                      <i class="fa fa-ellipsis-v"></i>
                    </a>
                  </li>
                </ul>-->
              </div>
            </div>
          </div>
        </div>

        <div class="row1" style="position: absolute;right:52px;">
          <input class="form-control" type="text" name="searchTerm" placeholder="Search"
            [(ngModel)]="oppService.searchTerm" autocomplete="off" style="float:right;" />
        </div>
        <div *ngIf="(opportunities$| async)?.length > 0; else nodata">
          <div class="row mb-3">
            <!-- <div class="col-12 col-sm-10">
              <ul class="count-tabs d-flex" style="border-bottom: none;">
                <li class="my-auto" *ngFor="let stage of stageCollection$ | async">
                  <div class="count text-center" (click)="oppService.stageSearchClick(stage.stage)">
                    <span class="">{{stage.stagecount}}</span>
                    <h4 class="name">{{stage.stage | titlecase }}</h4>
                  </div>
                </li>
              </ul>
            </div>-->

            <div class="col-12 col-sm-10">
              <!-- <div class="form-group">
                <label class="col-md-2">Select Stage</label>
                <div class="col-md-6">
                  <select class="form-control w-100">
                    <option value="{{stage.stage | titlecase }}" *ngFor="let stage of stageCollection$ | async">

                      {{stage.stage | titlecase }}


                    </option>
                  </select>
                </div>
              </div> -->


              <ul class="opp-tabs" style="border-bottom: none;">
                <li class="my-auto" *ngFor="let stage of stageCollection$ | async">
                  <div class=" text-center" (click)="oppService.stageSearchClick(stage.stage)">

                    <h4>{{stage.stage | titlecase }}</h4> <span class="">{{stage.stagecount}}</span>

                  </div>
                </li>
              </ul>

            </div>

          
          </div>

          <form>
            <table class="table table-striped1 table-wrap">
              <thead>
                <tr>
                  <th *ngFor="let head of headerValues" scope="col">{{head}} </th>
                </tr>
              </thead>
              <tbody>




                <tr *ngFor="let opportunity of opportunities$ | async">

                  <td>
                    <h4 class="text-capitalize">
                      <span textclass="text-capitalize" class="badge badge-rounded owner-badge mr-2 d-inline-block"
                        data-toggle="tooltip" title="{{opportunity.ContactName}}" data-placement="left">
                        {{opportunity.ShortContactName}}
                      </span>
                    </h4>
                  </td>
                  <td>
                    <h4 class="text-capitalize">
                      <a href="contacts/viewcontact/{{opportunity.ContactIntId}}" target="_self">
                        <ngb-highlight [result]="opportunity.ContactName" [term]="oppService.searchTerm">
                        </ngb-highlight>
                      </a>
                    </h4>

                    <span class="d-block l-color">
                      <ngb-highlight [result]="opportunity.ContactDesignation" [term]="oppService.searchTerm">
                      </ngb-highlight> <span> on </span>
                      <ngb-highlight [result]="opportunity.AccountName" [term]="oppService.searchTerm"></ngb-highlight>
                    </span>
                  </td>
                  <td>
                    <ngb-highlight [result]="opportunity.CompanyName" [term]="oppService.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="opportunity.Title" [term]="oppService.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="opportunity.CreatedDate" [term]="oppService.searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="opportunity.Value" [term]="oppService.searchTerm"></ngb-highlight>
                  </td>
                  <td>

                    <ngb-highlight [result]="opportunity.Stage" [term]="oppService.searchTerm"></ngb-highlight>

                    <!-- <ng-container [ngSwitch]="true">
                      <span *ngSwitchCase="opportunity.Stage==='prospect'">
                        <ngb-highlight [result]="opportunity.Stage" [term]="oppService.searchTerm"></ngb-highlight>
                      </span>
                      <span *ngSwitchCase="opportunity.Stage==='lead'">
                        <ngb-highlight [result]="opportunity.Stage" [term]="oppService.searchTerm"></ngb-highlight>
                      </span>
                      <span *ngSwitchCase="opportunity.Stage==='contacted'">
                        <ngb-highlight [result]="opportunity.Stage" [term]="oppService.searchTerm"></ngb-highlight>
                      </span>
                      <span *ngSwitchCase="opportunity.Stage==='proposal made'">
                        <ngb-highlight [result]="opportunity.Stage" [term]="oppService.searchTerm"></ngb-highlight>
                      </span>
                      <span *ngSwitchCase="opportunity.Stage==='closed won'">
                        <ngb-highlight [result]="opportunity.Stage" [term]="oppService.searchTerm"></ngb-highlight>
                      </span>
                      <span *ngSwitchCase="opportunity.Stage==='closed lost'">
                        <ngb-highlight [result]="opportunity.Stage" [term]="oppService.searchTerm"></ngb-highlight>
                      </span>
                      <span *ngSwitchCase="opportunity.Stage==='no stage'">
                        -
                      </span>
                    </ng-container> -->
                  </td>
                  <td>

                    <ng-container [ngSwitch]="true">
                      <span *ngSwitchCase="opportunity.Status==='Won'"
                        style="background-color: #d4ffde!important;color:#0dc136;font-weight: 500;padding:5px 10px;">
                        <ngb-highlight [result]="opportunity.Status" [term]="oppService.searchTerm"></ngb-highlight>
                      </span>
                      <span *ngSwitchCase="opportunity.Status==='Lost'"
                        style="background-color: #ffe9eb!important;color:#ff606f;font-weight: 500;padding:5px 10px;">
                        <ngb-highlight [result]="opportunity.Status" [term]="oppService.searchTerm"></ngb-highlight>
                      </span>
                    </ng-container>

                    <!-- <ngb-highlight [result]="opportunity.Status" [term]="oppService.searchTerm"></ngb-highlight> -->
                  </td>
                  <td>
                    <ngb-highlight [result]="opportunity.TargetDate" [term]="oppService.searchTerm"></ngb-highlight>
                  </td>

                </tr>
              </tbody>
            </table>

            <div class="d-flex justify-content-between p-2 ">
              <div class="pagination-overflow">
                <ngb-pagination [collectionSize]="total$ | async" [(page)]="oppService.page"
                  [pageSize]="oppService.pageSize">
                </ngb-pagination>
              </div>
              <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="oppService.pageSize">
                <option [ngValue]="10">10 items per page</option>
                <option [ngValue]="20">20 items per page</option>
                <option [ngValue]="50">50 items per page</option>
              </select>
            </div>
          </form>
        </div>
        <ng-template #nodata>
          <h4 class="p-5" style="font-size: 20px;">No data available..!</h4>
        </ng-template>
        <!-- Create new Opportunity Modal -->

        <div class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" id="createOpportunityModal">
          <div class="modal-dialog modal-dialog-centered modal-scrollable" role="document">
            <div class="modal-content">
              <form [formGroup]="opportunityForm" (ngSubmit)="addOpportunity()">
                <div class="modal-header">
                  <h4 class="modal-title">Create Opportunity</h4>
                  <!-- <button type="button" class="close" data-dismiss="modal">&times;</button>  -->

                  <button type="button" class="close" data-dismiss="modal"><img
                      src="assets/Images/cancel.png" /></button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label>Contact Name:</label>
                    <ng-select dropdownPosition="bottom" class="txtSearch" [items]="contactsList" 
                    bindLabel="name" placeholder="Type for contact"
                    [(ngModel)]="selContactInfo" [ngModelOptions]="{standalone: true}"
                    (search)="contactChangeHandler($event)" (change)="selectContact()">
                    </ng-select>
                    <div *ngIf="contactnamerequired" class="text-danger fs-80">select contact name</div>
                    <!-- <select class="form-control" formControlName="ContactIntId" [ngClass]="{ 'is-invalid': submitted && f.ContactIntId.errors }">
                      <option *ngFor="let contact of Contacts" [value]="contact.id">
                        {{contact.firstname}}
                      </option>
                    </select>										 -->
										<!-- <div *ngIf="submitted && f.ContactIntId.errors" class="invalid-feedback">
											<div *ngIf="f.ContactIntId.errors.required">select Contact</div>
										  </div> -->
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-12 col-sm-6">
                        <label>Title:</label>
                        <input type="text" class="form-control" formControlName="Title"
                        [ngClass]="{ 'is-invalid': submitted && f.Title.errors }">						
                          <div *ngIf="submitted && f.Title.errors" class="invalid-feedback">
                            <div *ngIf="f.Title.errors.required">Enter title</div>
                          </div>
                      </div>
                      <div class="col-12 col-sm-6">
                        <label>Value:</label>
                        <input type="text" class="form-control" (keypress)="phoneKeyPressHandler($event)"
                          formControlName="Value" [ngClass]="{ 'is-invalid': submitted && f.Value.errors }">						
                          <div *ngIf="submitted && f.Value.errors" class="invalid-feedback">
                            <div *ngIf="f.Value.errors.required">Enter Value</div>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-12 col-sm-6">
                        <label>Email:</label>
                        <input type="email" class="form-control" formControlName="Email" 
                        [ngClass]="{ 'is-invalid': submitted && f.Email.errors }">						
                        <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                          <div *ngIf="f.Email.errors.required">Enter Email</div>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6">
                        <label>Contact No:</label>
                        <input type="text" (keypress)="phoneKeyPressHandler($event)" minlength=10 maxlength=10
                          class="form-control" formControlName="PhoneNo">
                      </div>
                    </div>
                  </div>
                  
                  <div class="form-group">
                    <div class="row">
                      <div class="col-12 col-sm-6">
                        <label>Owner:</label>
                        <select class="form-control" formControlName="AssignedToId" [ngClass]="{ 'is-invalid': submitted && f.AssignedToId.errors }">
                          <ng-container *ngIf="IsMember; else superiorRole">
                            <option [value]="userInfo.UserId">{{userInfo.Name}}</option>
                          </ng-container>
                          <ng-template #superiorRole>
                            <option *ngFor="let singleUser of Users" [value]="singleUser.UserId">{{singleUser.NickName}}
                            </option>
                          </ng-template>
                        </select> 
                        <div *ngIf="submitted && f.AssignedToId.errors" class="invalid-feedback">
                          <div *ngIf="f.AssignedToId.errors.required">Select owner</div>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6">
                        <label>Stage:</label>
                        <select class="form-control" formControlName="Stage" [ngClass]="{ 'is-invalid': submitted && f.Stage.errors }">
                          <option value="no stage">No Stage</option>
                          <option value="prospect">Prospect</option>
                          <option value="contacted">Contacted</option>
                          <option value="proposal made">Proposal Made</option>
                          <option value="lead">Lead</option>
                          <option value="closed won">Closed Won</option>
                          <option value="closed lost">Closed Lost</option>
                        </select>
                        						
                        <div *ngIf="submitted && f.Stage.errors" class="invalid-feedback">
                          <div *ngIf="f.Stage.errors.required">Select stage</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-12 col-sm-6">
                        <label>Status:</label>
                        <select type="text" class="form-control" formControlName="Status" [ngClass]="{ 'is-invalid': submitted && f.Status.errors }">
                          <option value="Won">Won</option>
                          <option value="Lost">Lost</option>
                        </select>						
                        <div *ngIf="submitted && f.Status.errors" class="invalid-feedback">
                          <div *ngIf="f.Status.errors.required">Select status</div>
                        </div>
                      </div>
                      <div class="col-12 col-sm-6">
                        <label>Target Date:</label>
                        <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                          [bsConfig]="{ isAnimated: true, adaptivePosition: true,containerClass:'theme-dark-blue' }"
                          [(bsValue)]="bsValue" value="{{ bsValue | date:'dd/MM/yyyy' }}">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn theme-btn btn-check"><span>Add Opportunity</span></button>
                  <button type="button" class="btn btn-grey" data-dismiss="modal" (click)="onReset()"
                    #closeAddOpportunityModal>Cancel</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- Create new Opportunity Modal Ends -->

      </div>
    </div>
  </div>
</div>


<!-- <ngx-spinner></ngx-spinner> -->
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="timer">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
