<div class="wrapper">
    <app-adminheader></app-adminheader>
  
    <div class="page-wrapper">
        <div class="container-fluid">
  
            <div>
            <h2 class="page-title">Reports</h2>
            </div>
        </div>

        <div class="body-content">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-9">        
                      <div class="grid-settings d-flex">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                          <li class="nav-item" (click)="mainFilterTabsChanged('industry')">
                            <a [ngClass]="mainTab == 'industry' ? 'nav-link active': 'nav-link'"  id="by-industry-tab" data-toggle="tab" href="#industry" role="tab"
                              aria-controls="by-industry" aria-selected="false">By Industry</a>
                          </li>
                          <li class="nav-item" (click)="mainFilterTabsChanged('designation')">
                            <a [ngClass]="mainTab == 'designation' ? 'nav-link active': 'nav-link'"  id="by-designation-tab" data-toggle="tab" href="#designation" role="tab"
                              aria-controls="by-designation" aria-selected="true">By Designation</a>
                          </li>                         
                        </ul>
                      </div>
                    </div>
                  </div>
                <div class="row d-none">
                    <div class="col-md-2">
                        <select class="form-control" [(ngModel)]='performancePeriodSelect'  (change)="PeriodChangedHandler($event.target.value)">
                          <option value="today">Today</option>
                          <option value="thisweek">This Week</option>
                          <option value="lastweek">Last Week </option>
                          <option value="thismonth">This Month </option>
                        </select>
                    </div>
                    <div class="col-md-2" *ngIf="auth.getRole() == 'admin'">
                        <ng-select [items]="usersList" bindLabel="name" placeholder="Select user" [(ngModel)]="selUserInfo" 
                        [ngModelOptions]="{standalone: true}" (clear)="resetReports()" (change)="selectMember()" >
                        </ng-select>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div [ngClass]="mainTab == 'industry' ? 'tab-pane fade show active': 'tab-pane fade'" id="industry" role="tabpanel"
                    aria-labelledby="industry-tab">
                    <div class="row">                       
                        <div class="col-sm-12">
                            <div class="example-header text-right">
                                <label>
                                  <button class="btn btn-sm btn-primary" (click)="onBtExport()">Export</button>
                                </label>
                              </div>
                        <ag-grid-angular #myGrid style="width: 100%;" class="ag-theme-balham" [gridOptions]="gridOptions"
                            [pagination]="true" [paginationPageSize]="paginationPageSize" [columnDefs]="columnDefs" [excelStyles]="excelStyles"
                            (gridReady)="onGridReady($event)" [rowData]="industriesReportList" [animateRows]="true">
                        </ag-grid-angular>
                        </div>
                    </div>
                </div>
                <div [ngClass]="mainTab == 'designation' ? 'tab-pane fade show active': 'tab-pane fade'" id="designation"
                    role="tabpanel" aria-labelledby="designation-tab">
                    <div class="row">
                        <div class="col-sm-12">
                            <ag-grid-angular #myGrid1 style="width: 100%;" class="ag-theme-balham" [gridOptions]="gridOptions"
                                [pagination]="true" [paginationPageSize]="paginationPageSize1" [columnDefs]="columnDefs1"
                                 [rowData]="designationsReportList" [animateRows]="true">
                            </ag-grid-angular>
                            </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="timer">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>  
    