<div class="wrapper">
  <app-header></app-header>



  <div class="page-wrapper">
    <div class="container-fluid">

      <div>
        <h2 class="page-title">Accounts</h2>
      </div>

      <div class="body-content">


        <div class="page-header">
          <div class="row">
            <div class="col-md-9">

              <div class="filters-settings">

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item" (click)="mainFilterTabsChanged('thisweek')">
                    <a [ngClass]="mainTab == 'engaged' ? 'nav-link active': 'nav-link'"  id="by-engagged-tab" data-toggle="tab" href="#by-engagged" role="tab"
                      aria-controls="by-engagged" aria-selected="true">By Engaged</a>
                  </li>
                  <li class="nav-item" (click)="mainFilterTabsChanged('thisweek-created')">
                    <a [ngClass]="mainTab == 'created' ? 'nav-link active': 'nav-link'"  id="by-created-tab" data-toggle="tab" href="#by-created" role="tab"
                      aria-controls="by-created" aria-selected="false">By Created</a>
                  </li>
                  <li class="nav-item" (click)="mainFilterTabsChanged('all')">
                    <a class="nav-link" id="by-stage-tab" data-toggle="tab" href="#by-stage" role="tab"
                      aria-controls="by-stage" aria-selected="false">By Stage</a>
                  </li>
                </ul>
              </div>


            </div>
            <div class="col-12 col-md-3 text-md-right">
              <div class="page-header-links">

                <a data-toggle="modal" data-target="#createAccountModal">
                  <div class="btn-group">
                    <button type="button" class="btn   add-btn-icon">+</button>
                    <button type="button" class="btn  add-btn">Account</button>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-sm-10">

           

            <div class="tab-content" id="myTabContent">
              <div  [ngClass]="mainTab == 'engaged' ? 'tab-pane fade show  active': 'tab-pane fade show '" id="by-engagged" role="tabpanel" aria-labelledby="by-engagged-tab">
             <div class="btn-group">
                  <select class="form-control" [(ngModel)]='engSelect'  (change)="EngagedChangedHandler($event.target.value)">
                    <option value="today">Today</option>
                    <option value="thisweek">This Week</option>
                    <option value="lastweek">Last Week </option>
                    <option value="thismonth">This Month </option>
                    <option value="lastmonth">Last Month </option>
                    <option value="last3months"> > 3 Months</option>
                    <option value="notengaged">Not Engaged</option>
                    <option value="all">All</option>
                  </select>
                </div>
           </div>


              <div [ngClass]="mainTab == 'created' ? 'tab-pane fade show  active': 'tab-pane fade show'" id="by-created" role="tabpanel" aria-labelledby="by-created-tab">
                <div class="btn-group">
                  <select class="form-control" [(ngModel)]='crdSelect'  (change)="CreatedChangedHandler($event.target.value)">
                    <option value="today">Today</option>
                    <option value="thisweek">This Week </option> 
                    <option value="lastweek">Last Week </option>                  
                    <option value="thismonth">This Month </option>                   
                    <option value="all">All</option>
                  </select>
                </div>
                <!-- <div class="filters-settings">
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item nav-item-custom" (click)="createdFilter('all')">
                      <a class="nav-link active" id="by-engagged-tab" data-toggle="tab" role="tab"
                        aria-controls="by-engagged" aria-selected="true">All</a>
                    </li>
                    <li class="nav-item nav-item-custom" (click)="createdFilter('today')">
                      <a class="nav-link" id="by-created-tab" data-toggle="tab" role="tab"
                        aria-controls="by-created" aria-selected="false">Today
                        </a>
                    </li>
                    <li class="nav-item nav-item-custom" (click)="createdFilter('thisweek')">
                      <a class="nav-link" id="by-stage-tab" data-toggle="tab" role="tab"
                        aria-controls="by-stage" aria-selected="false">This
                        Week</a>
                    </li>
                    <li class="nav-item nav-item-custom" (click)="createdFilter('thismonth')">
                      <a class="nav-link" id="by-stage-tab" data-toggle="tab" role="tab"
                        aria-controls="by-stage" aria-selected="false">This
                        Month</a>
                    </li>
                 
                  </ul>
                </div> -->

              </div>

              <div class="tab-pane fade" id="by-stage" role="tabpanel" aria-labelledby="by-stage-tab">
                
                <div class="btn-group">
                  <select class="form-control" *ngIf="stageInfo?.length > 0" [(ngModel)]='stgSelect'  (change)="StageChangedHandler($event.target.value)">
                    <option *ngFor="let stage of stageInfo" value="{{stage.stage}}">{{stage.stage | titlecase }}
                      <span style="padding-left: 10px;" class="">({{stage.stagecount}})</span>
                    </option>
                   
                  </select>
                </div>
                
              </div>
            </div>

          </div>
          <div class="col-sm-2">
            <input type="text" class="form-control" placeholder="Search" (keyup)="onFilterTextBoxChanged($event)" />

          </div>
        </div>

        <ag-grid-angular #agGrid style="width: 100%;" id="myGrid" class="ag-theme-balham" [columnDefs]="columnDefs"
          [autoGroupColumnDef]="autoGroupColumnDef" [defaultColDef]="defaultColDef" (cellClicked)="onCellClicked($event)"
          [paginationPageSize]="paginationPageSize" [cacheBlockSize]="cacheBlockSize" [sideBar]="sideBar"
          [gridOptions]="gridOptions" [suppressRowClickSelection]="true" [groupSelectsChildren]="true" [debug]="true"
          [rowSelection]="rowSelection" [rowGroupPanelShow]="rowGroupPanelShow" [pivotPanelShow]="pivotPanelShow"
          [enableRangeSelection]="true" [pagination]="true" [rowData]="rowData" (gridReady)="onGridReady($event)">
        </ag-grid-angular>

        <!-- Create new Account Modal -->
        <div class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" id="createAccountModal">
          <div class="modal-dialog modal-dialog-centered modal-scrollable" role="document">
            <div class="modal-content">
              <form [formGroup]="accountForm" (ngSubmit)="addAccount(infoModal)">
                <div class="modal-header">
                  <h4 class="modal-title">Create Account</h4>
                  <button type="button" class="close" (click)="onReset()" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="form-group required">
                        <label class="control-label">Account Name:</label>
                        <input type="text" class="form-control" formControlName="accountname" appTitleCase
                          [ngClass]="{ 'is-invalid': submitted && f.accountname.errors }">
                        <div *ngIf="submitted && f.accountname.errors" class="invalid-feedback">
                          <div *ngIf="f.accountname.errors.required">Enter account name</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group required">
                        <label class="control-label">Website:</label>
                       <input type="text" class="form-control" placeholder="www.outwork.ai"
                       formControlName="website"[ngClass]="{ 'is-invalid': submitted && f.website.errors }">
                       <div *ngIf="submitted && f.website.errors" class="invalid-feedback">
                         <div *ngIf="f.website.errors.required">website is required</div>
                       </div>

                      </div>
                    </div>
                   
                  </div>
                  <div class="row">
                     <div class="col-12 col-sm-6">
                      <div class="form-group required">
                        <label class="control-label">Industry:</label>
                        <select class="form-control" formControlName="industryid"
                          [ngClass]="{ 'is-invalid': submitted && f.industryid.errors }"
                          (change)="selectIndustryChangeHandler($event.industry.value)">                         
                          <option *ngFor="let industry of IndustriesList" [value]="industry.id">
                             {{industry.labeltitle | titlecase}}
                          </option>
                        </select>
                        <div *ngIf="submitted && f.industryid.errors" class="invalid-feedback">
                          <div *ngIf="f.industryid.errors.required">select industry</div>
                        </div>
                      
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label>Sub Industry:</label>
                        <input type="text" class="form-control" formControlName="subindustry">
                      </div>
                    </div>
                 
                  </div>
                  <div class="row">
                    <!-- div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label>Email:</label>
                        <input type="email" class="form-control" formControlName="email"
                          [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">Email is required</div>
                          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                        </div>
                      </div>
                    </div -->
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label>Contact No:</label>
                        <input type="text" (keypress)="utilities.phoneNumberValidator($event)" minlength="10" maxlength="20"
                          class="form-control" formControlName="mobilenumber" [ngClass]="{ 'is-invalid': submitted && f.mobilenumber.errors }">
                          <div *ngIf="submitted && f.mobilenumber.errors" class="invalid-feedback">                         
                            <div *ngIf="f.mobilenumber.errors">contact number must be at least 10 characters long.</div>
                          </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label>Account Source:</label>
                        <select class="form-control" formControlName="accountsource"
                          [ngClass]="{ 'is-invalid': submitted && f.accountsource.errors }"
                          (change)="selectSourceChangeHandler($event.accountsource.value)">
                          <option value="website">Website</option>
                          <option value="linkedin">LinkedIn</option>
                          <option value="advertisement">Advertisement</option>
                          <option value="customer event">Customer Event</option>
                          <option value="employee referral">Employee Referral</option>
                          <option value="partner">Partner</option>
                          <option value="purchased list">Purchased List</option>
                          <option value="tradeshow">Tradeshow</option>
                          <option value="webinar">Webinar</option>
                          <option value="job sites">Job Sites</option>
                          <option value="salesforce communities">Salesforce Communities</option>
                          <option value="google adwords">Google Adwords</option>
                          <option value="other">Other</option>
                        </select>
                        <div *ngIf="submitted && f.accountsource.errors" class="invalid-feedback">
                          <div *ngIf="f.accountsource.errors.required">select account source</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="form-group required">
                        <label class="control-label">Stage:</label>
                        <select class="form-control" formControlName="stage"
                          [ngClass]="{ 'is-invalid': submitted && f.stage.errors }"
                          (change)="selectStageChangeHandler($event.target.value)">
                          <option value="not started">Not Started</option>
                          <option value="cold">Cold</option>
                          <option value="replied">Replied</option>
                          <option value="unresponsive">Unresponsive</option>
                          <option value="do not contact">Do Not Contact</option>
                          <option value="bad contact info">Bad Contact Info</option>
                          <option value="interested">Interested</option>
                          <option value="not interested">Not Interested</option>
                        </select>
                        <div *ngIf="submitted && f.stage.errors" class="invalid-feedback">
                          <div *ngIf="f.stage.errors.required">select stage</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group required">
                        <label class="control-label">Owner:</label>
                        <select class="form-control" formControlName="AssignedToIntId"
                          [ngClass]="{ 'is-invalid': submitted && f.AssignedToIntId.errors }">
                          <option [value]="">Select user</option>
                          <ng-container *ngIf="IsMember; else userList">
                            <option [value]="userInfo.IntUserId">{{userInfo.name}}</option>
                          </ng-container>
                          <ng-template #userList>
                            <option *ngFor="let user of usersData" [value]="user.IntUserId">
                              {{user.NickName}}
                            </option>
                          </ng-template>
                        </select>
                        <div *ngIf="submitted && f.AssignedToIntId.errors" class="invalid-feedback">
                          <div *ngIf="f.AssignedToIntId.errors.required">select owner</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label>Company LinkedIn URL:</label>
                       <input type="url" class="form-control" formControlName="companylinkedinurl">
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label>No. of Employees:</label>                        
                        <input type="number"
                        class="form-control" formControlName="noofemployees">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label>Revenue:</label>
                        <input type="number" placeholder="$o,ooo"
                        class="form-control" formControlName="revenue">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <label>Company Address:</label>
                      <textarea rows="2" class="form-control" formControlName="companyaddress"></textarea>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <!-- <a class="button btn-theme btn-check"><span>Add Contact</span></a> -->
                  <button type="submit" class="btn theme-btn btn-check"><span>Add Account</span></button>
                  <button class="btn btn-grey" (click)="onReset()" data-dismiss="modal"
                    #closeAddAccountModal>Cancel</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- Create new Contact Modal -->
        <div class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" id="createContactModal">
          <div class="modal-dialog modal-dialog-centered modal-scrollable" role="document">
            <div class="modal-content">
              <form [formGroup]="contactForm" (ngSubmit)="addContact()">
                <div class="modal-header">
                  <h4 class="modal-title">Create Contact</h4>
                  <button type="button" class="close" (click)="onContactReset()" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="form-group required">
                        <label class="control-label">First Name:</label>
                        <input type="text" class="form-control" formControlName="firstname" appTitleCase
                          [ngClass]="{ 'is-invalid': submitted && cf.firstname.errors }">
                        <div *ngIf="submitted && cf.firstname.errors" class="invalid-feedback">
                          <div *ngIf="cf.firstname.errors.required">Enter first name</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label>Last Name:</label>
                        <input type="text" class="form-control" formControlName="lastname" appTitleCase
                          [ngClass]="{ 'is-invalid': submitted && cf.lastname.errors }">
                        <div *ngIf="submitted && cf.lastname.errors" class="invalid-feedback">
                          <div *ngIf="cf.lastname.errors.required">Enter last name</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="form-group required">
                        <label class="control-label">Email:</label>
                        <input type="email" class="form-control" formControlName="email"
                          [ngClass]="{ 'is-invalid': submitted && cf.email.errors }">
                        <div *ngIf="submitted && cf.email.errors" class="invalid-feedback">
                          <div *ngIf="cf.email.errors.required">Email is required</div>
                          <div *ngIf="cf.email.errors.email">Email must be a valid email address</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label>Contact No:</label>
                        <input type="text" (keypress)="utilities.phoneNumberValidator($event)" minlength="10" maxlength="20"
                          class="form-control" formControlName="mobilenumber"
                          [ngClass]="{ 'is-invalid': submitted && f.mobilenumber.errors }">
                        <div *ngIf="submitted && cf.mobilenumber.errors" class="invalid-feedback">
                          <div *ngIf="cf.mobilenumber.errors">contact number must be at least 10 characters long.</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label>Designation:</label>
                        <select class="form-control" formControlName="designationid"
                          [ngClass]="{ 'is-invalid': submitted && cf.designationid.errors }"
                          (change)="selectDesignationChangeHandler($event.target.value)">
                          <option *ngFor="let desig of designationsList" [value]="desig.id">
                            {{desig.labeltitle | titlecase}}
                          </option>
                        </select>
                        <div *ngIf="submitted && cf.designationid.errors" class="invalid-feedback">
                          <div *ngIf="cf.designationid.errors.required">select industry</div>
                        </div>
        
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label>Personal LinkedIn Url:</label>
                        <input type="text" class="form-control" formControlName="personallinkedinurl">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="form-group required">
                        <label class="control-label">Owner:</label>
                        <select class="form-control" formControlName="assignedtointid"
                          [ngClass]="{ 'is-invalid': submitted && cf.assignedtointid.errors }">
                          <ng-container *ngIf="IsMember; else userList">
                            <option [value]="userInfo.IntUserId">{{userInfo.name}}</option>
                          </ng-container>
                          <ng-template #userList>
                            <option *ngFor="let user of usersData" [value]="user.IntUserId">{{user.NickName}}
                            </option>
                          </ng-template>
                        </select>
                        <div *ngIf="submitted && cf.assignedtointid.errors" class="invalid-feedback">
                          <div *ngIf="cf.assignedtointid.errors.required">select owner</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-group required">
                        <label class="control-label">Prospect Stage:</label>
                        <select class="form-control" formControlName="stage"
                          [ngClass]="{ 'is-invalid': submitted && cf.stage.errors }"
                          (change)="selectStageChangeHandler($event.target.value)">
                          <option value="not started">Not Started</option>
                          <option value="cold">Cold</option>
                          <option value="replied">Replied</option>
                          <option value="unresponsive">Unresponsive</option>
                          <option value="do not contact">Do Not Contact</option>
                          <option value="bad contact info">Bad Contact Info</option>
                          <option value="interested">Interested</option>
                          <option value="not interested">Not Interested</option>
                        </select>
                        <div *ngIf="submitted && cf.stage.errors" class="invalid-feedback">
                          <div *ngIf="cf.stage.errors.required">select stage</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="form-group">
                        <label>Designation Category:</label>
                        <select class="form-control" formControlName="designation_category"
                          (change)="sctDesCatChangeHandler($event.target.value)">
                          <option *ngFor="let desigCat of designationCategoryList" [value]="desigCat.labeltitle">
                            {{desigCat.labeltitle | titlecase}}
                          </option>
                        </select>
        
                      </div>
                    </div>
                  </div>
        
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn theme-btn btn-check"><span>Add Contact</span></button>
                  <a class="btn btn-grey" (click)="onContactReset()" data-dismiss="modal" #closeAddContactModal>Cancel</a>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- Create new Contact Modal ends here -->


      </div>
    </div>
  </div>
</div>
<ng-template #infoModal>    
  <div class="modal-body card">
    <div class="card-body">
     <div class="card-text" [innerHTML] = "accountResponseInfo"></div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" (click)="infoModalRef.hide()">Cancel</button>
    </div>
  </div>
</ng-template>



<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="timer">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>


<!-- Create new Contact Modal ends here -->

<!-- Assign Sequence Modal -->
<!-- <div class="modal fade" id="assignSequenceModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Assign Sequence to Contact</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label>Select a sequence:</label>
                            <select class="form-control" [(ngModel)]="selectedOption">
                                <option *ngFor="let sequence of Sequences" [value]="sequence.SequenceIdInt">
                                    {{sequence.SequenceName}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-theme btn-check" (click)="assignsequence()"><span>Assign Sequence</span></a>
                <a class="btn btn-grey" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div> -->
<!-- Assign Sequence Modal ends here -->

<!-- Delete Confirmation Modal -->
<!-- <div class="modal fade" id="deleteConfirmationModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="confirmation-content">
                    <div class="icon confirm">
                        <i class="fa fa-exclamation fa-2x"></i>
                    </div>
                    <h4>Are you sure want to delete?</h4>
                    <a class="in-modal button mr-1" data-toggle="modal" data-target="#successAlertModal"
                        data-dismiss="modal">Yes</a>
                    <a class="in-modal button btn-grey" data-dismiss="modal">No</a>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Delete Confirmation Modal ends here -->

<!-- Success Alert Modal -->
<!-- <div class="modal fade" id="successAlertModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="confirmation-content success">
                    <div class="icon confirm">
                        <i class="fa fa-check fa-2x"></i>
                    </div>
                    <h4>Deleted Successfully!!</h4>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Success Alert Modal ends here -->
