<div class="wrapper">
  <app-header></app-header>

  <div class="page-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-9">
          <h2 class="page-title">Dashboard</h2>
        </div>
        <div class="col-3 mb-2">
          <div *ngIf="auth.getRole() == 'admin'">
            <ng-select [items]="usersList" bindLabel="name" placeholder="Select user" [(ngModel)]="selUserInfo"
              [ngModelOptions]="{standalone: true}" (clear)="resetDashboard()" (change)="selectMember()">
            </ng-select>
          </div>
        </div>
      </div>


      <div class=" ">
        <div class="row mb-2">
          <div class="col-md-3 pr-5">
            <div class="db_info">
              <div class="dashboard-summery-one">
                <div class="item-icon bg-light-skyblue ">
                  <i class="fas fa-id-card-alt text-skyblue"></i>
                </div>
                <h6>Contacts Engaged</h6>
              </div>
              <ul>
                <li>
                  <span
                    (click)="DashboardMasterInfo?.contactsengaged?.today > 0 ? dbItemSelected('en-today', 'contacts') : false"
                    [ngClass]="DashboardMasterInfo?.contactsengaged?.today > 0 ? 'text-blue cursor-pointer': null">Today</span>
                  <span class="f_right">{{DashboardMasterInfo?.contactsengaged?.today}}</span>
                </li>
                <li>
                  <span
                    (click)="DashboardMasterInfo?.contactsengaged?.thisweek > 0 ? dbItemSelected('en-thisweek', 'contacts') : false"
                    [ngClass]="DashboardMasterInfo?.contactsengaged?.thisweek > 0 ? 'text-blue cursor-pointer': null">This
                    Week</span>
                  <span class="f_right">{{DashboardMasterInfo?.contactsengaged?.thisweek}}</span></li>
                <li>
                  <span
                    (click)="DashboardMasterInfo?.contactsengaged?.lastweek > 0 ? dbItemSelected('en-lastweek', 'contacts') : false"
                    [ngClass]="DashboardMasterInfo?.contactsengaged?.lastweek > 0 ? 'text-blue cursor-pointer': null">Last
                    Week</span>
                  <span class="f_right">{{DashboardMasterInfo?.contactsengaged?.lastweek}}</span></li>
                <li><span
                    (click)="DashboardMasterInfo?.contactsengaged?.thismonth > 0 ? dbItemSelected('en-thismonth', 'contacts') : false"
                    [ngClass]="DashboardMasterInfo?.contactsengaged?.thismonth > 0 ? 'text-blue cursor-pointer': null">This
                    Month</span>
                  <span class="f_right">{{DashboardMasterInfo?.contactsengaged?.thismonth}}</span></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 ph-5">

            <div class="db_info">
              <div class="dashboard-summery-one">
                <div class="item-icon bg-light-plum ">
                  <i class="fas fa-user-cog text-plum"></i>
                </div>
                <h6>Accounts Engaged</h6>
              </div>
              <ul>
                <li>
                  <span
                    (click)="DashboardMasterInfo?.accountsengaged?.today > 0 ? dbItemSelected('en-today', 'accounts') : false"
                    [ngClass]="DashboardMasterInfo?.accountsengaged?.today > 0 ? 'text-blue cursor-pointer': null">Today</span>
                  <span class="f_right">{{DashboardMasterInfo?.accountsengaged?.today}}</span>
                </li>
                <li>
                  <span
                    (click)="DashboardMasterInfo?.accountsengaged?.thisweek > 0 ? dbItemSelected('en-thisweek', 'accounts') : false"
                    [ngClass]="DashboardMasterInfo?.accountsengaged?.thisweek > 0 ? 'text-blue cursor-pointer': null">This
                    Week</span>
                  <span class="f_right">{{DashboardMasterInfo?.accountsengaged?.thisweek}}</span>
                </li>
                <li>
                  <span
                    (click)="DashboardMasterInfo?.accountsengaged?.lastweek > 0 ? dbItemSelected('en-lastweek', 'accounts') : false"
                    [ngClass]="DashboardMasterInfo?.accountsengaged?.lastweek > 0 ? 'text-blue cursor-pointer': null">Last
                    Week</span>
                  <span class="f_right">{{DashboardMasterInfo?.accountsengaged?.lastweek}}</span>
                </li>
                <li>
                <li><span
                    (click)="DashboardMasterInfo?.accountsengaged?.thismonth > 0 ? dbItemSelected('en-thismonth', 'accounts') : false"
                    [ngClass]="DashboardMasterInfo?.accountsengaged?.thismonth > 0 ? 'text-blue cursor-pointer': null">This
                    Month</span>
                  <span class="f_right">{{DashboardMasterInfo?.accountsengaged?.thismonth}}</span></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 ph-5">

            <div class="db_info">
              <div class="dashboard-summery-one">
                <div class="item-icon bg-light-orange ">
                  <i class="far fa-address-book text-orange"></i>
                </div>
                <h6>Contacts Added</h6>
              </div>
              <ul>
                <li>
                  <span
                    (click)="DashboardMasterInfo?.contactsadded?.today > 0 ? dbItemSelected('cr-today', 'contacts') : false"
                    [ngClass]="DashboardMasterInfo?.contactsadded?.today > 0 ? 'text-blue cursor-pointer': null">Today</span>
                  <span class="f_right">{{DashboardMasterInfo?.contactsadded?.today}}</span></li>
                <li>
                  <span
                    (click)="DashboardMasterInfo?.contactsadded?.thisweek > 0 ? dbItemSelected('cr-thisweek', 'contacts') : false"
                    [ngClass]="DashboardMasterInfo?.contactsadded?.thisweek > 0 ? 'text-blue cursor-pointer': null">This
                    Week</span>
                  <span class="f_right">{{DashboardMasterInfo?.contactsadded?.thisweek}}</span></li>
                <li>
                  <span
                    (click)="DashboardMasterInfo?.contactsadded?.lastweek > 0 ? dbItemSelected('cr-lastweek', 'contacts') : false"
                    [ngClass]="DashboardMasterInfo?.contactsadded?.lastweek > 0 ? 'text-blue cursor-pointer': null">Last
                    Week</span>
                  <span class="f_right">{{DashboardMasterInfo?.contactsadded?.lastweek}}</span>
                </li>
                <li>
                  <span
                    (click)="DashboardMasterInfo?.accountsengaged?.thismonth > 0 ? dbItemSelected('cr-thismonth', 'contacts') : false"
                    [ngClass]="DashboardMasterInfo?.accountsengaged?.thismonth > 0 ? 'text-blue cursor-pointer': null">This
                    Month</span>
                  <span class="f_right">{{DashboardMasterInfo?.contactsadded?.thismonth}}</span></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 pl-5">

            <div class="db_info">
              <div class="dashboard-summery-one">
                <div class="item-icon bg-light-green ">
                  <i class="fas fa-user-plus text-green"></i>
                </div>
                <h6>Accounts Added</h6>
              </div>
              <ul>
                <li>

                  <span
                    (click)="DashboardMasterInfo?.accountsadded?.today > 0 ? dbItemSelected('cr-today', 'accounts') : false"
                    [ngClass]="DashboardMasterInfo?.accountsadded?.today > 0 ? 'text-blue cursor-pointer': null">Today</span>
                  <span class="f_right">{{DashboardMasterInfo?.accountsadded?.today}}</span>
                </li>
                <li>
                  <span
                    (click)="DashboardMasterInfo?.accountsadded?.thisweek > 0 ? dbItemSelected('cr-thisweek', 'accounts') : false"
                    [ngClass]="DashboardMasterInfo?.accountsadded?.thisweek > 0 ? 'text-blue cursor-pointer': null">This
                    Week</span>
                  <span class="f_right">{{DashboardMasterInfo?.accountsadded?.thisweek}}</span></li>
                <li>
                  <span
                    (click)="DashboardMasterInfo?.accountsadded?.lastweek > 0 ? dbItemSelected('cr-lastweek', 'accounts') : false"
                    [ngClass]="DashboardMasterInfo?.accountsadded?.lastweek > 0 ? 'text-blue cursor-pointer': null">Last
                    Week</span>
                  <span class="f_right">{{DashboardMasterInfo?.accountsadded?.lastweek}}</span>
                </li>
                <li>
                  <span
                    (click)="DashboardMasterInfo?.accountsadded?.thismonth > 0 ? dbItemSelected('cr-thismonth', 'accounts') : false"
                    [ngClass]="DashboardMasterInfo?.accountsadded?.thismonth > 0 ? 'text-blue cursor-pointer': null">This
                    Month</span>
                  <span class="f_right">{{DashboardMasterInfo?.accountsadded?.thismonth}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-md-3 pr-5">

            <div class="db_info">
              <div class="dashboard-summery-one">
                <div class="item-icon bg-light-orange ">
                  <i class="far fa-envelope text-orange"></i>
                </div>
                <h6>Emails Sent</h6>
              </div>
              <ul>
                <li><span>Today</span><span class="f_right">{{DashboardMasterInfo?.emailssent?.today}}</span></li>
                <li>This Week<span class="f_right">{{DashboardMasterInfo?.emailssent?.thisweek}}</span></li>
                <li>Last Week<span class="f_right">{{DashboardMasterInfo?.emailssent?.lastweek}}</span></li>
                <li><span class="dash-link">This Month</span><span
                    class="f_right">{{DashboardMasterInfo?.emailssent?.thismonth}}</span></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 ph-5">

            <div class="db_info">
              <div class="dashboard-summery-one">
                <div class="item-icon bg-light-green ">
                  <i class="fas fa-phone text-green"></i>
                </div>
                <h6>Calls Made</h6>
              </div>
              <ul>
                <li>Today<span class="f_right">{{DashboardMasterInfo?.callsmade?.today}}</span></li>
                <li>This Week<span class="f_right">{{DashboardMasterInfo?.callsmade?.thisweek}}</span></li>
                <li>Last Week<span class="f_right">{{DashboardMasterInfo?.callsmade?.lastweek}}</span></li>
                <li>This Month<span class="f_right">{{DashboardMasterInfo?.callsmade?.thismonth}}</span></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 ph-5">

            <div class="db_info">
              <div class="dashboard-summery-one">
                <div class="item-icon bg-light-skyblue ">
                  <i class="fab fa-squarespace text-skyblue"></i>
                </div>
                <h6>Sequence Initiated</h6>
              </div>
              <ul>
                <li>Today<span class="f_right">{{DashboardMasterInfo?.sequnecesadded?.today}}</span></li>
                <li>This Week<span class="f_right">{{DashboardMasterInfo?.sequnecesadded?.thisweek}}</span></li>
                <li>Last Week<span class="f_right">{{DashboardMasterInfo?.sequnecesadded?.lastweek}}</span></li>
                <li>This Month<span class="f_right">{{DashboardMasterInfo?.sequnecesadded?.thismonth}}</span></li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 pl-5">
            <div class="db_info">
              <div class="dashboard-summery-one">
                <div class="item-icon bg-light-plum ">
                  <i class="fas fa-tasks text-plum"></i>
                </div>
                <h6>Tasks Added</h6>
              </div>
              <ul>
                <li>Today<span class="f_right">{{DashboardMasterInfo?.tasksadded?.today}}</span></li>
                <li>This Week<span class="f_right">{{DashboardMasterInfo?.tasksadded?.thisweek}}</span></li>
                <li>Last Week<span class="f_right">{{DashboardMasterInfo?.tasksadded?.lastweek}}</span></li>
                <li>This Month<span class="f_right">{{DashboardMasterInfo?.tasksadded?.thismonth}}</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-sm-10">
            <h5>{{periodTitle | titlecase}} upcoming tasks</h5>
          </div>
          <div class="col-sm-2 mb-1">
            <select class="form-control" [(ngModel)]='upcmgSelect' (change)="tasksChangedHandler($event.target.value)">
              <option value="todays">Today</option>
              <option value="thisweek">This Week</option>
              <option value="lastweek">Next Week </option>
              <!-- <option value="thismonth">This Month </option>                     -->
              <option value="all">All</option>
            </select>
          </div>
          <div class="col-sm-12">
            <div class="db_info">

              <div *ngIf="(upcomingTaskInfo)?.length > 0; else nodata">
                <div class="scrollable-container">
                  <table class="table table-wrap">
                    <tbody>
                      <tr *ngFor="let singleTask of upcomingTaskInfo">
                        <td>
                          <span class="badge badge-rounded owner-badge mr-2" placement="right">
                            {{utilities.getShortName(singleTask?.AssigneeName) | uppercase}}
                            <!-- {{singleTask.ShortAssigneeName}} -->
                          </span>
                        </td>
                        <td>
                          <h6 class="text-capitalize mb-0">
                            <a href="contacts/viewcontact/{{singleTask.ObjectIntId}}" target="_blank">
                              {{singleTask.FirstName}}
                            </a>
                          </h6>

                          <span class="d-block">
                            {{ singleTask.Designation}}
                            <span> on
                            </span>
                            {{singleTask.AccountName}}
                          </span>
                        </td>
                        <td>{{singleTask.TaskType}}</td>
                        <td>{{singleTask.TaskTitle}}</td>
                        <td> {{singleTask.AssigneeName}}</td>
                        <td>
                          <ng-container
                            *ngIf="(singleTask.Priority.toLowerCase() == 'high') || singleTask.Priority.toLowerCase() == 'urgent'; else normalPriority">
                            <span class="text-capitalize text-danger">
                              {{singleTask.Priority}}
                            </span>
                          </ng-container>
                          <ng-template #normalPriority>
                            <span class="text-capitalize">
                              {{singleTask.Priority}}
                            </span>
                          </ng-template>


                        </td>
                        <td>
                          <ng-container *ngIf="singleTask.TaskStatus != 'completed'; else completedDateLbl">
                            <span>{{singleTask.ElapsedDuration}}</span>
                          </ng-container>
                          <ng-template #completedDateLbl>
                            <span>completed on </span><br>
                            <span>{{singleTask.CompletedDate}}</span>
                          </ng-template>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
                <div class="text-right">
                  <a href="/task">See All tasks</a>
                </div>
              </div>
              <ng-template #nodata>
                <h6 class="p-2">No upcoming tasks are available..!</h6>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="timer">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>