<div class="wrapper">
  <app-header></app-header>

  <div class="page-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <h2 class="page-title">View Contact</h2>
        </div>
        <div class="col-md-6">
          <div class="f-right">

            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item">
                <a href="/contacts">Contacts</a>
              </li>
              <li class="breadcrumb-item">
                <a href="/contacts/viewcontact/{{contactid}}">Contact Name</a>
              </li>
              <li class="breadcrumb-item">
                Seq Name
              </li>
            </ol>

          </div>
        </div>
      </div>


      <div class="body-content">
        <!-- 
      <div class="page-header">
        <div class="row">
          <div class="col-6 my-auto">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                  <a href="admin/sequence">Sequences</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="javascript:void(0)" class="active">Seq Name</a>
                </li>
              </ol>
            </nav>
          </div>
          <div class="col-6 text-right">
            <div class="page-header-links">
              <ul class="d-flex float-right">
              </ul>
            </div>
          </div>
        </div>
      </div> -->

        <div class="page-settings-area p-0">
          <div class="row">
            <div class="col-md-7 my-auto">
              <ul class="grid-settings d-flex">
                <!-- <li class="pos-rel px-3 my-auto">
                  <label class="switch my-auto">
                    <input type="checkbox">
                    <span class="slider round"></span>
                  </label>
                </li> -->
                <li class="pos-rel px-3">
                  <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <a class="nav-item nav-link active" id="overview-tab" data-toggle="tab" href="#overview"
                        role="tab">Overview</a>
                      <a class="nav-item nav-link" id="settings-tab" data-toggle="tab" href="#settings"
                        role="tab">Settings</a>
                      <a class="nav-item nav-link" id="prospects-tab" data-toggle="tab" href="#prospects"
                        role="tab">Prospects</a>
                    </div>
                  </nav>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="tab-content">
          <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
            <div class="no-steps-container" style="display: none">
              <h4>No Steps added to this sequence yet...</h4>
              <button type="button" class="btn btn-theme-2" data-toggle="modal" data-target="#addSequenceStepPopUp">Add
                Step</button>
            </div>

            <div class="sequence-steps sequenceSteps" *ngFor="let sequencestep of sequenceSteps">
              <div class="seq-step mb-4">
                <div class="seq-step-type">
                  <div class="row">
                    <div class="col-8 d-flex my-auto">
                      <i class="fa fa-envelope   mr-3"></i>
                      <h5 class="step-type fs-14"><span
                          class="step-number mr-1">{{sequencestep.Order}}.</span>{{sequencestep.StepType}}-
                        <span *ngIf="sequencestep.SequenceStepStatus === 0; else completeStatus">
                          In-progress
                        </span>
                        <ng-template #completeStatus>
                          <span>Completed</span>
                        </ng-template>
                      </h5>
                    </div>
                    <div class="col-4 text-right">
                      <span class="color-999 mr-2">{{sequencestep.ElapsedDuration}}</span>
                      <!-- <span class="step-options" (click)="deleteSequenceStep(sequencestep.StepId)">
								<i class="fa fa-trash-alt pointer mr-3"></i>
							</span> -->
                    </div>
                  </div>
                </div>
                <div class="seq-step-det">
                  <table class="table table-wrap table-responsive-sm sequence-step-details mb-0">
                    <tbody>
                    <tr>
                      <!-- <td width="5%">
                        <div class="">
                          <label class="switch my-auto">
                            <input type="checkbox">
                            <span class="slider round"></span>
                          </label>
                        </div>
                      </td> -->
                      <td style="width:60%">
                        <h6 class="seq-title cursor-pointer fs-14">{{sequencestep.Subject}}</h6>
                        <p class="color-999 m-b-0">{{sequencestep.Notes}}</p>
                      </td>
                      <td style="width: 40%">
                        <ul class="d-sm-flex" style="list-style: none;">
                          <!-- <li class="mb-2 mb-sm-0">
										<div class="count px-3">
											<h4 class="mb-0">{{sequencestep.subscribers}}</h4>
											<span class="color-999">Subscribers</span>
										</div>
									</li> -->
                          <li class="mb-2 mb-sm-0">
                            <div class="count px-3 text-center">
                              <h6 class="mb-0">{{sequencestep.IsDelivered}}</h6>
                              <span class="color-999">Reached</span>
                            </div>
                          </li>
                          <li class="mb-2 mb-sm-0">
                            <div class="count px-3 text-center">
                              <h6 class="mb-0">{{sequencestep.IsRead}}</h6>
                              <span class="color-999">Opened</span>
                            </div>
                          </li>
                          <li class="mb-2 mb-sm-0">
                            <div class="count px-3 text-center">
                              <h6 class="mb-0">{{sequencestep.IsReplied}}</h6>
                              <span class="color-999">Responses</span>
                            </div>
                          </li>

                        </ul>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">

          </div>
          <div class="tab-pane fade" id="prospects" role="tabpanel" aria-labelledby="prospects-tab">
            <div>
              <table class="table table-wrap table-responsive-sm seq-pros-table">
                <tbody>
                <tr>
                  <!-- <td width="1%">
                    <label class="custom-checkbox">
                      <input type="checkbox">
                      <span class="checkmark">
                      </span>
                    </label>
                  </td> -->
                  <td>
                    <div class="d-flex">
                      <span class="badge badge-rounded owner-badge mr-2" data-toggle="tooltip" data-html="true" title=""
                        data-placement="left" data-original-title="Owned by <span>NV</span>">NV</span>
                      <h6 class="my-auto fs-14">Prospect Name</h6>
                    </div>
                  </td>
                  <td>
                    <span class="ml-2">Sequence Stage</span>
                  </td>
                  <td width="15%">
                    <span class="color-999 fs-13">3h 1m</span>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
