<app-header></app-header>
<div class="container">
  <h2>Admin dashboard</h2> 


  <div class="row">
      <div class="col-md-3">
          <div class="card alert alert-primary">          
              <div class="card-body">
                <h5 class="card-title">Total Members</h5>
                <h3 class="card-text">25</h3>            
              </div>
            </div>
      </div>
      <div class="col-md-3">
          <div class="card alert alert-warning">          
              <div class="card-body">
                <h5 class="card-title">Contacts</h5>
                <h3 class="card-text">85</h3>            
              </div>
            </div>
      </div>
      <div class="col-md-3">
          <div class="card alert alert-info">          
              <div class="card-body">
                <h5 class="card-title">Activities</h5>
                <h3 class="card-text">122</h3>            
              </div>
            </div>
      </div>
     
      <div class="col-md-3">
          <div class="card alert alert-success">          
              <div class="card-body">
                <h5 class="card-title">Sales</h5>
                <h3 class="card-text">8,225</h3>            
              </div>
            </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="shadow p-3 mb-5 bg-white rounded">
      <h3>New Customers added</h3>
      <div class="chartBody">
          <div id="chartdiv" style="width: 100%; height: 500px"></div>
      </div>     
      </div>
    </div>
    <div class="col-md-6" style="position: relative;">
        <div class="shadow p-3 mb-5 bg-white rounded">
        <h3>No. of activities</h3>
        <div class="chartBody">
            <app-activities></app-activities>
        </div> 
        </div>    
      </div>
  </div>
</div>
