<app-header></app-header>

<div class="page-header">
  <div class="row">
    <div class="col-12 col-md-3 my-auto">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item" aria-current="page">
            <a href="task" class="active">Tasks</a>
          </li>
        </ol>
      </nav>

    </div>
    <div class="col-12 col-md-5 mt-3">
      <div class="d-flex justify-content-center">
        <div class="spinner-border text-secondary" role="status" *ngIf="service.loading$ | async">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 text-md-right">
      <div class="page-header-links">
        <ul class="d-flex float-right">
          <li>
            <a class="header-btn" data-toggle="modal" data-target="#createTaskModal">
              <i class="fa fa-plus mr-2"></i>Task
            </a>
          </li>        
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="page-settings-area" style="min-height: 45px;padding-bottom: 0px;">
  <div class="row">
    <div class="col-12 col-sm-4">
      <div>
        <nav>
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
           
            <a class="nav-item nav-link active" id="nav-today-tab" data-toggle="tab" href="#nav-profile" role="tab"
              aria-controls="nav-profile" aria-selected="false" (click)="service.TimePeriodFilter('today')">Today</a>
            <a class="nav-item nav-link" id="nav-thisweek-tab" data-toggle="tab" href="#nav-contact" role="tab"
              aria-controls="nav-contact" aria-selected="false" (click)="service.TimePeriodFilter('thisweek')">This
              Week</a>
            <a class="nav-item nav-link" id="nav-thisweek-tab" data-toggle="tab" href="#nav-contact" role="tab"
              aria-controls="nav-contact" aria-selected="false" (click)="service.TimePeriodFilter('nextweek')">Next
              Week</a>
              <a class="nav-item nav-link" id="nav-today-tab" data-toggle="tab" href="#nav-profile" role="tab"
              aria-controls="nav-profile" aria-selected="false" (click)="service.TimePeriodFilter('due')">Over due</a>
              <a class="nav-item nav-link" id="nav-today-tab" data-toggle="tab" href="#nav-profile" role="tab"
              aria-controls="nav-profile" aria-selected="false" (click)="service.TimePeriodFilter('all')">All</a>
            <!-- <a class="nav-item nav-link" id="nav-thismonth-tab" data-toggle="tab" href="#nav-about"
                        role="tab" aria-controls="nav-about" aria-selected="false"
                        (click)="contactedFilter('thismonth')">This Month</a> -->
          </div>
        </nav>
      </div>
    </div>

  </div>
</div>

<div *ngIf="(countries$| async)?.length > 0; else nodata">
<div class="row" style="border-bottom: 1px solid #ccc;">
  <div class="col-12 col-sm-10">
    <ul class="count-tabs d-flex" style="border-bottom: none;">
      <li class="my-auto" *ngFor="let priority of priorityCollection$ | async">
        <div class="count text-center" (click)="service.prioritySearchClick(priority.priority)">
          <span class="">{{priority.prioritycount}}</span>
          <h4 class="name">{{priority.priority | titlecase }}</h4>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-12 col-sm-2">
    <input class="form-control mt-3 w-75" type="text" name="searchTerm" [(ngModel)]="service.searchTerm"
      autocomplete="off" />
  </div>
</div>
<form>
  <!--     
  <div class="form-group form-inline">
      <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span>
  </div> -->

  <table class="table table-striped1">
    <tbody>

      <tr *ngFor="let country of countries$ | async">

        <td class="w-5p">
          <ng-container [ngSwitch]="true">
            <span
              *ngSwitchCase="country.TaskTitle ==='Manual Email' || country.TaskTitle === 'Auto Email' || country.TaskTitle === 'Email'"
              class="badge badge-rounded badge-rounded-email mr-2 d-inline-block" data-toggle="tooltip"
              title="{{country.TaskTitle}}" data-placement="left">
              <i class="fa fa-envelope"></i>
            </span>
            <span *ngSwitchCase="country.TaskTitle === 'Phone Call'"
              class="badge badge-rounded badge-rounded-call mr-2 d-inline-block" data-toggle="tooltip"
              title="{{country.TaskTitle}}" data-placement="left">
              <i class="fa fa-phone"></i>
            </span>
            <span *ngSwitchDefault class="badge badge-rounded badge-rounded-default mr-2 d-inline-block"
              data-toggle="tooltip" title="{{country.TaskTitle}}" data-placement="left">
              <i class="fa fa-briefcase"></i>
            </span>
          </ng-container>
        </td>
        <td class="pl-0" style="padding-left: 0px !important;">
          <h4 class="text-capitalize">
            <a href="contacts/viewcontact/{{country.ObjectIntId}}" target="_blank">
            <ngb-highlight [result]="country.FirstName" [term]="service.searchTerm"></ngb-highlight>
            </a>
          </h4>

          <span class="d-block l-color">
            <ngb-highlight [result]="country.Designation" [term]="service.searchTerm"></ngb-highlight> <span> on </span>
            <ngb-highlight [result]="country.AccountName" [term]="service.searchTerm"></ngb-highlight>
          </span>
        </td>
        <!-- <td>
        <ngb-highlight [result]="country.Designation" [term]="service.searchTerm"></ngb-highlight>
      </td> -->
        <td>

          <span [ngClass]="country.Priority == 'High' ? 'badge badge-warning' : 'badge badge-secondary'"
            style="font-weight: 400;">
            <ngb-highlight [result]="country.Priority" [term]="service.searchTerm"></ngb-highlight>
          </span>
          <span class="l-color">
            - <span>
              <ngb-highlight [result]="country.TaskDescription" [term]="service.searchTerm"></ngb-highlight>
            </span>
          </span>
        </td>
        <td>
          <ngb-highlight [result]="country.TaskTitle" [term]="service.searchTerm"></ngb-highlight>
        </td>
        <td>
          <ng-container *ngIf="IsMember; else supriorRole">
            <span class="badge badge-rounded owner-badge mr-2 d-inline-block" data-toggle="tooltip" title="Self"
              data-placement="left">
              S
            </span>
          </ng-container>

          <ng-template #supriorRole>
            <span class="badge badge-rounded owner-badge mr-2 d-inline-block" data-toggle="tooltip"
              title="{{country.AssigneeName}}" data-placement="left">
              {{country.ShortAssigneeName}}
            </span>
          </ng-template>
        </td>
        <td>
          <ng-container *ngIf="country.TaskStatus != 'completed'; else complatedDateLbl">
            <span>{{country.ElapsedDuration}}</span>
          </ng-container>
          <ng-template #complatedDateLbl>
            <span>completed on</span><br />
            <span>{{country.CompletedDate}}

            </span>
          </ng-template>
        </td>
        <td class="w-10">
          <ng-container *ngIf="country.TaskStatus != 'completed'; else complatedLbl">
            <div class="dropdown">
              <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Action on task
              </button>
              <ng-container [ngSwitch]="true">
                <div
                  *ngSwitchCase="country.TaskTitle ==='Manual Email' || country.TaskTitle === 'Auto Email' || country.TaskTitle === 'Email'"
                  class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <button class="dropdown-item" (click)="rescheduleTaskBtnClick(rescheduleTaskModal,country.TaskId)"
                    type="button">Reschedule</button>
                  <button class="dropdown-item"
                    (click)="sendEmailBtnClick(manualTemplateModal,country.ContactEmail,country.ObjectId)"
                    type="button">Send an email</button>
                    <button class="dropdown-item" (click)="markAsCompleted(country.SequenceDetailId,country.TaskIntId)"
                    type="button">Mark as complated</button>
                </div>
                <div *ngSwitchCase="country.TaskTitle ===''" class="dropdown-menu" aria-labelledby="dropdownMenu2">
                  <button class="dropdown-item" type="button">Reschedule</button>
                  <button class="dropdown-item" type="button">Send an email</button>
                  <button class="dropdown-item" type="button">Log a call</button>
                  <button class="dropdown-item" (click)="markAsCompleted(country.SequenceDetailId,country.TaskIntId)"
                  type="button">Mark as complated</button>
                </div>
                <div *ngSwitchCase="country.TaskTitle ==='Phone Call'" class="dropdown-menu"
                  aria-labelledby="dropdownMenu2">
                  <button class="dropdown-item" (click)="rescheduleTaskBtnClick(rescheduleTaskModal,country.TaskId)"
                  type="button">Reschedule</button>             
                  <button class="dropdown-item"
                    (click)="logACallBtnClick(callLogTaskModal,country.ObjectId,country.ObjectIntId)" type="button">Log
                    a call</button>
                    <button class="dropdown-item" (click)="markAsCompleted(country.SequenceDetailId,country.TaskIntId)"
                    type="button">Mark as complated</button>
                </div>
                <div *ngSwitchDefault class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" (click)="rescheduleTaskBtnClick(rescheduleTaskModal,country.TaskId)"
                    type="button">Reschedule</button>                 
                  <button class="dropdown-item" (click)="markAsCompleted(country.SequenceDetailId,country.TaskIntId)"
                    type="button">Mark as complated</button>

                </div>
              </ng-container>


            </div>
          </ng-container>

          <ng-template #complatedLbl>
            <div><span class="badge badge-success p-2">Completed</span></div>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
 
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
      <option [ngValue]="5">5 items per page</option>
      <option [ngValue]="10">10 items per page</option>
      <option [ngValue]="15">15 items per page</option>
    </select>
  </div>
</form>
</div>
<ng-template #nodata>
  <h4 class="p-5" style="font-size: 20px;">No data available..!</h4>
</ng-template>

<!-- Create new Task Modal -->
<div class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" id="createTaskModal">
  <div class="modal-dialog modal-dialog-centered modal-scrollable" role="document">
    <div class="modal-content">
      <form [formGroup]="TaskForm" (ngSubmit)="addTask()">
        <div class="modal-header">
          <h4 class="modal-title">Create Task</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Contact Person:</label>
            <select class="form-control" name="contactslist" formControlName="ObjectId" [ngClass]="{ 'is-invalid': submitted && f.ObjectId.errors }">
             <option value="">Select contact</option>
              <option *ngFor="let contact of Contacts" [value]="contact.contactid">
                {{contact.contactname}}
              </option>
            </select>            
              <div *ngIf="submitted && f.ObjectId.errors" class="invalid-feedback">
                <div *ngIf="f.ObjectId.errors.required">Select contact name</div>
              </div>
          </div>
          <div class="form-group">
            <label>Priority:</label>
            <select class="form-control" formControlName="Priority"
            [ngClass]="{ 'is-invalid': submitted && f.Priority.errors }">
            <option value="">Select priority</option>
              <option value="Normal">Normal</option>
              <option value="Low">Low</option>
              <option value="Medium">Medium</option>
              <option value="High">High</option>
              <option value="Urgent">Urgent</option>
            </select>
            <div *ngIf="submitted && f.Priority.errors" class="invalid-feedback">
                <div *ngIf="f.Priority.errors.required">select priority</div>
              </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-12 col-sm-6">
                <label>Task:</label>
                <select class="form-control" formControlName="Title"
                [ngClass]="{ 'is-invalid': submitted && f.Title.errors }">
                <option value="">Select title</option>
                  <option value="Email">Email</option>
                  <option value="Phone Call">Phone Call</option>
                  <option value="Generic Task">Generic Task</option>
                </select>
                <div *ngIf="submitted && f.Title.errors" class="invalid-feedback">
                    <div *ngIf="f.Title.errors.required">select task title</div>
                  </div>
              </div>
              <div class="col-12 col-sm-6">
                <label>Assigned to:</label>                
                <select class="form-control" formControlName="AssignedTo"
                [ngClass]="{ 'is-invalid': submitted && f.AssignedTo.errors }">
                <option value="">Select assigned to</option>
                    <ng-container *ngIf="IsMember; else userList">
                    <option [value]="userInfo.UserId">{{userInfo.name}}</option>
                    </ng-container>
                    <ng-template #userList>     
                        <option *ngFor="let user of usersData" [value]="user.UserId">{{user.NickName}}</option>
                      </ng-template>    
                </select>
                <div *ngIf="submitted && f.AssignedTo.errors" class="invalid-feedback">
                    <div *ngIf="f.AssignedTo.errors.required">select assignee name</div>
                  </div>

              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-12 col-sm-6">
                <label>Due Date:</label>
                <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                  [bsConfig]="{ isAnimated: true, adaptivePosition: true,containerClass:'theme-dark-blue' }"
                  [(bsValue)]="bsValue" value="{{ bsValue | date:'dd/MM/yyyy' }}">

              </div>
              <div class="col-12 col-sm-6">
                <label>Due Time:</label>
                <ng-template #popTemplate>
                  <timepicker [(ngModel)]="mytime" [showMeridian]="false" formControlName="DueTime"></timepicker>
                </ng-template>
                <input class="form-control" value="{{mytime | date: 'HH:mm' }}" [popover]="popTemplate"
                  [outsideClick]="true" placement="bottom" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Note:</label>
            <textarea class="form-control" rows="3" placeholder="About the task..."
              formControlName="Description"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-theme btn-check"><span>Add Task</span></button>
          <button type="button" class="btn btn-grey" data-dismiss="modal" #closeAddTaskModal>Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Create new Task Modal ends here -->

<!-- Reschedule task Modal -->
<ng-template #rescheduleTaskModal>
  <div class="modal-content">
    <div class="modal-body text-center">
      <div class="confirmation-content">
        <h4>Provide reschedule date & time</h4>
        <div class="form-group">
          <div class="row">
            <div class="col-12 col-sm-6">
              <label>Due Date:</label>
              <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                [bsConfig]="{ isAnimated: true, adaptivePosition: true,containerClass:'theme-dark-blue' }"
                [(bsValue)]="bsValue" value="{{ bsValue | date:'dd/MM/yyyy' }}">

            </div>
            <div class="col-12 col-sm-6">
              <label>Due Time:</label>
              <ng-template #popTemplate>
                <timepicker [(ngModel)]="mytime1" [showMeridian]="false"></timepicker>
              </ng-template>
              <input class="form-control" value="{{mytime1 | date: 'HH:mm' }}" [popover]="popTemplate"
                [outsideClick]="true" placement="bottom" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-info" (click)="rescheduleConfirmClick()">Reschedule Task</button>
      <button class="btn btn-danger" (click)="rescheduleTaskmodalRef.hide()">Cancel</button>
    </div>
  </div>
</ng-template>
<!-- Reschedule task Modal ends here -->

<!-- Log a call Modal -->
<ng-template #callLogTaskModal>
  <div class="modal-content">
    <form [formGroup]="callLogForm" (ngSubmit)="AddLogACallToContact(confirmationCallLogModal)">
      <div class="modal-header">
        <h4 class="modal-title">Log a call</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body text-center">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Title" formControlName="Title">
        </div>
        <div class="form-group">
          <textarea class="form-control" rows="3" placeholder="Description..." formControlName="Description"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-info" type="submit">Create a log</button>
        <button class="btn btn-danger" (click)="callLogModalRef.hide()">Cancel</button>
      </div>
    </form>
  </div>
</ng-template>
<!-- Log a call Modal ends here -->

<!-- Delete Confirmation Modal -->
<ng-template #confirmationCallLogModal>
  <div class="modal-content">
    <div class="modal-body text-center">
      <div class="confirmation-content">
        <div class="icon confirm success-color">
          <i class="fa fa-check fa-2x"></i>
        </div>
        <h4>{{confirmationMessage}}</h4>
        <button type="button" class="btn btn-success" (click)="confirmationCallLogModalRef.hide()">OK</button>
      </div>
    </div>
  </div>
</ng-template>
<!-- Delete Confirmation Modal ends here -->

<!-- selected template Modal -->
<ng-template #manualTemplateModal>
  <div class="modal-content">
    <div class="modal-content">
      <form [formGroup]="ManualEmailForm" (ngSubmit)="sendManualEmail(confirmationCallLogModal)">
        <div class="modal-header">
          <h4 class="modal-title">Send Email</h4>
          <button type="button" class="close" (click)="emptyTemplateModal.hide()">&times;</button>
        </div>
        <div class="modal-body">
          <div class="create-template">
            <div class="form-group">
              <input type="text" class="form-control-plaintext" placeholder="To email" formControlName="To"
                value="{{contactEmail}}" disabled>
            </div>
            <div class="form-group">
              <input type="text" class="form-control-plaintext" placeholder="Cc email" formControlName="CC">
            </div>
            <div class="form-group">
              <input type="text" class="form-control-plaintext" placeholder="Subject" formControlName="Subject">
            </div>
            <textarea [froalaEditor]="options" id="froalaEditorContainer" formControlName="HtmlBody" class="pos-rel">

				  </textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-theme-2 btn-check" type="submit"><span>Send
              Email</span></button>
          <button type="button" class="btn btn-grey" (click)="emptyTemplateModal.hide()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>
<!-- selected template Modal ends here -->