<div class="wrapper">
  <app-adminheader></app-adminheader>
  <div class="page-wrapper">
    <div class="container-fluid">

      <div>
        <h2 class="page-title">Templates</h2>
      </div>

      <div class="body-content">
        <div class="page-header">
          <div class="row">

            <div class="col-12 col-md-3  text-left">
              <input type="text" name="" placeholder="Search" id="templateSearchInput11" (keyup)="clearSearch($event)"
                (keyup)="SearchTemplateData($event)" autocomplete="off" class="form-control  w-75" />
            </div>

            <div class="col-12 col-md-9 text-md-right">
              <div class="page-header-links">

                <a data-toggle="modal" data-target="#createNewTemplateModal">
                  <div class="btn-group">
                    <button type="button" class="btn  add-btn-icon">+</button>
                    <button type="button" class="btn  add-btn">Template</button>
                  </div>
                </a>

                <!-- <ul class="d-flex float-right">
                  <li>
                    <a class="header-btn" data-target="#createNewTemplateModal" data-toggle="modal">
                      <i class="fa fa-plus mr-2"></i>Template
                    </a>

                  </li>
                  
                </ul> -->
              </div>
            </div>
          </div>
        </div>


        <!-- <div *ngIf="templates != undefined && templates.length > 0;else nodata">
          <div class="page-settings-area">
            <div class="row">
              <div class="col-12 col-md-9">
              </div>



             <div class="col-12 col-sm-3 text-right">
                <input type="search" name="" class="form-control" style="margin-top: 5px;" placeholder="Search..."
                  id="templateSearchInput11" (mouseup)="clearSearch($event)" (keyup)="SearchTemplateData($event)">
              </div> 
            </div>
          </div>
        </div> -->
          
          <ag-grid-angular #agGrid style="width: 100%;" id="myGrid" class="ag-theme-balham" [columnDefs]="columnDefs"
          [autoGroupColumnDef]="autoGroupColumnDef" [defaultColDef]="defaultColDef"
          [paginationPageSize]="paginationPageSize" [cacheBlockSize]="cacheBlockSize" [sideBar]="sideBar"
          [gridOptions]="gridOptions" [suppressRowClickSelection]="true" [groupSelectsChildren]="true" [debug]="true"
          [rowSelection]="rowSelection" [rowGroupPanelShow]="rowGroupPanelShow" [pivotPanelShow]="pivotPanelShow"
          [enableRangeSelection]="true" [pagination]="true" [rowData]="rowData"
          (gridReady)="onGridReady($event)"></ag-grid-angular>

          <!-- table class="table   table-wrap sequence-grid mb-0" id="templateTable">
            <thead>
              <th>
                <div class="d-flex my-auto">
                  <label class="m-b-0">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>

                </div>
              </th>
              <th>Template Name</th>
              <th>Template Subject</th>
              <th>Created On</th>
              <th class="text-center">Actions</th>
            </thead>
            <tbody>
            <tr *ngFor="let template of templates">
              <td>
                
                  <label class="custom-checkbox">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>

                
              </td>
              <td>
                <h4 class="seq-title pointer">{{template.TemplateName}}</h4>

              </td>

              <td>

                <p class="color-999 mb-0">{{template.Subject}}</p>
              </td>

              <td width="10%">
                <span class="color-999 fs-13">{{template.ElapsedDuration}}</span>
              </td>
              <td with="10%" class="text-center">
                <div class="seq-options d-inline mr-3"
                  (click)="UpdateTemplateBtn(TemplateEditModal,template.TemplateId)">
                  <i class="fa fa-edit pointer" data-toggle="tooltip" title="Update template" data-placement="left"></i>
                </div>
                <div class="seq-options d-inline"
                  (click)="deleteTemplateBtn(confirmationTemplateDeleteModal,template.TemplateId)">
                  <i class="fa fa-trash-alt pointer" data-toggle="tooltip" title="Delete template"
                    data-placement="left"></i>
                </div>
              </td>
            </tr>
            </tbody>
          </table -->
       
        <!-- <ng-template class="row" #nodata *ngIf="!rowData">
          <div class="col-12 text-center p-5">
            <h4>No templates available..!</h4>

          </div>
        </ng-template> -->

          <!-- Response Info popupu -->
          <ng-template #responseInfoModal>
            <div class="modal-body">
              <div [innerHTML]="responseInfo"></div>
            </div>
          </ng-template>

        <!-- Create Template Modal -->
        <div class="modal fade" role="dialog" tabindex="-1" id="createNewTemplateModal" data-backdrop="static"
          data-keyboard="false">
          <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
              <form [formGroup]="templateForm" (ngSubmit)="AddTemplate(responseInfoModal)">
                <div class="modal-header">
                  <h4 class="modal-title">Create Template</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="create-template1">
                    <div class="form-group">

                      <input type="text" class="form-control" formControlName="TemplateName"
                        id="TemplateName" placeholder="Template Name"
                        [ngClass]="{ 'is-invalid': submitted && f.TemplateName.errors }" autocomplete="off">
                      <div *ngIf="submitted && f.TemplateName.errors" class="invalid-feedback">
                        <div *ngIf="f.TemplateName.errors.required">Template Name is required</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" formControlName="Subject"
                        placeholder="Template Subject" [ngClass]="{ 'is-invalid': submitted && f.Subject.errors }">
                      <div *ngIf="submitted && f.Subject.errors" class="invalid-feedback">
                        <div *ngIf="f.Subject.errors.required">Subject is required</div>
                      </div>
                    </div>
                    <div>
                    <!-- <form action="save" method="post"> -->
                    <textarea formControlName="HtmlTemplateBody" [froalaEditor]="options" id="froalaEditorContainer"
                      class="pos-rel form-control" [ngClass]="{ 'is-invalid': submitted && f.HtmlTemplateBody.errors }"></textarea>
                    <!-- <div [froalaEditor]="options"></div> -->
                    <!-- </form> -->
                    <!-- <button type="button" class="btn btn-info btn-custom dropdown-toggle"
              data-toggle="dropdown">Personalize</button> -->
                    <!--div class="dropdown-menu in-modal-dropdown-menu px-2">
                      <input type="text" placeholder="Search.." id="dropdownSearch" class="px-2 mb-2"
                        autocomplete="off">
                      <ul id="myDropdown">
                        <li><a class="dropdown-opt">option 1</a></li>
                        <li><a class="dropdown-opt">option 2</a></li>
                        <li><a class="dropdown-opt">option 3</a></li>
                        <li><a class="dropdown-opt">option 4</a></li>
                        <li><a class="dropdown-opt">option 5</a></li>
                        <li><a class="dropdown-opt">option 6</a></li>
                      </ul>
                    </div -->
                    <div *ngIf="submitted && f.HtmlTemplateBody.errors" class="invalid-feedback">
                      <div *ngIf="f.HtmlTemplateBody.errors.required">Content is required</div>
                    </div>
                  </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn theme-btn btn-check" type="submit"><span>Save
                      Template</span></button>
                  <button type="button" class="btn btn-grey" data-dismiss="modal" #closeAddTemplateModal>Cancel</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!--Create Template modal end here-->



      </div>
    </div>
  </div>
</div>




<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="timer">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
