.create-template .form-group {
    border-bottom: 1px solid #ccc;
    margin: 0 !important;
}
.fr-toolbar{
    border:none;
}
.fr-box.fr-basic > div{
    border:none !important;
}
/* .main{
    position: relative;  
    display: inline-block;
    width:100%;
  }
 
  .main span{   
    position: absolute;  
    bottom: 5px;
    right: 10px;
  } */
