<div class="wrapper">
  <app-header></app-header>
  <div class="page-wrapper">
    <div class="container-fluid">
      <div>
        <h2 class="page-title">Tasks</h2>
      </div>

      <div class="body-content">

        <div class="page-header">
          <div class="row">

            <div class="col-md-9">

              <div class="filters-settings">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">

                  <a class="active" id="nav-today-tab" data-toggle="tab" href="#nav-profile" role="tab"
                    aria-controls="nav-profile" aria-selected="false"
                    (click)="service.TimePeriodFilter('today')">Today</a>
                  <a class="" id="nav-thisweek-tab" data-toggle="tab" href="#nav-contact" role="tab"
                    aria-controls="nav-contact" aria-selected="false"
                    (click)="service.TimePeriodFilter('thisweek')">This
                    Week</a>
                  <a class="" id="nav-thisweek-tab" data-toggle="tab" href="#nav-contact" role="tab"
                    aria-controls="nav-contact" aria-selected="false"
                    (click)="service.TimePeriodFilter('nextweek')">Next
                    Week</a>
                  <a class="" id="nav-today-tab" data-toggle="tab" href="#nav-profile" role="tab"
                    aria-controls="nav-profile" aria-selected="false" (click)="service.TimePeriodFilter('due')">Over
                    due</a>
                  <a class="" id="nav-today-tab" data-toggle="tab" href="#nav-profile" role="tab"
                    aria-controls="nav-profile" aria-selected="false" (click)="service.TimePeriodFilter('all')">All</a>
                  <!-- <a class="nav-item nav-link" id="nav-thismonth-tab" data-toggle="tab" href="#nav-about"
                          role="tab" aria-controls="nav-about" aria-selected="false"
                          (click)="contactedFilter('thismonth')">This Month</a> -->


                </div>
              </div>
            </div>

            <div class="col-md-3 text-md-right">
              <div class="page-header-links">
                <a data-toggle="modal" data-target="#createTaskModal">
                  <div class="btn-group">
                    <button type="button" class="btn  add-btn-icon">+</button>
                    <button type="button" class="btn  add-btn">Task</button>
                  </div>
                </a>
              
              </div>
            </div>

          </div>
        </div>
        <div class="row1" style="position: absolute;right:52px;">

          <input class="form-control" type="text" name="searchTerm" placeholder="Search"
            [(ngModel)]="service.searchTerm" autocomplete="off" style="float:right;" />

        </div>
        <div *ngIf="(tasklist$| async)?.length > 0; else nodata">
          <div class="row mb-3">
            <div class="col-sm-10">


              <ul class="opp-tabs" style="border-bottom: none;">
                <li class="my-auto" *ngFor="let priority of priorityCollection$ | async">
                  <div class="count text-center" (click)="service.prioritySearchClick(priority.priority)">


                    <!-- <h4 class="name"
                      [ngClass]="priority.priority   == 'High' ? 'class1' : '' || priority.priority == 'high' ? 'class1' : '' || priority.priority == 'Urgent' ? 'class5' : '' || priority.priority == 'urgent' ? 'class5' : ''  || priority.priority == 'Normal' ? 'class4' : '' || priority.priority == 'normal' ? 'class4' : '' || priority.priority == 'Medium' ? 'class3' : '' || priority.priority == 'medium' ? 'class3' : '' || priority.priority == 'Low' ? 'class6' : '' || priority.priority == 'low' ? 'class6' : '' ">
                      {{priority.priority | titlecase }}</h4> -->


                    <h4 class="name">{{priority.priority | titlecase }}</h4> 
                    <span class="">{{priority.prioritycount}}</span>
                  </div>
                </li>
              </ul>
            </div>

          </div>
          <form>
            <table class="table table-striped1 tasks-table table-wrap">
              <thead>
                <tr>
                  <th></th>
                  <th>Assigned To</th>
                  <th>Task Type</th>
                  <th>Task Title</th>
                  <th>Description</th>
                  <th>Priority</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>

              <tbody>



                <tr *ngFor="let singleTask of tasklist$ | async">

                  <!-- <td class="w-5p">
                              <ng-container [ngSwitch]="true">
                                <span
                                  *ngSwitchCase="singleTask.TaskType ==='Manual Email' || singleTask.TaskType === 'Auto Email' || singleTask.TaskType === 'Email'"
                                  class="badge badge-rounded   owner-badge  mr-2 d-inline-block"
                                  ngbTooltip="{{singleTask.TaskType}}" placement="right">
                                  <i class="fa fa-envelope"></i>
                                </span>
                                <span *ngSwitchCase="singleTask.TaskType === 'Phone Call'"
                                  class="badge badge-rounded   owner-badge mr-2 d-inline-block"
                                  ngbTooltip="{{singleTask.TaskType}}" placement="right">
                                  <i class="fa fa-phone"></i>
                                </span>
                                <span *ngSwitchDefault class="badge badge-rounded   owner-badge mr-2 d-inline-block"
                                  ngbTooltip="{{singleTask.TaskType}}" placement="right">
                                  <i class="fa fa-briefcase"></i>
                                </span>
                              </ng-container>
                            </td> -->

                  <td class="w-5p">
                    <ng-container *ngIf="IsMember; else supriorRole">
                      <span class="badge badge-rounded owner-badge mr-2 d-inline-block" ngbTooltip="Self"
                        placement="right"> S
                      </span>
                    </ng-container>


                    <ng-template #supriorRole>
                      <span class="badge badge-rounded owner-badge mr-2" ngbTooltip="{{singleTask.AssigneeName}}"
                        placement="right">
                        {{singleTask.ShortAssigneeName}}
                      </span>
                    </ng-template>
                  </td>

                  <td>
                    <h4 class="text-capitalize">
                      <a href="contacts/viewcontact/{{singleTask.ObjectIntId}}" target="_blank">
                        <ngb-highlight [result]="singleTask.FirstName" [term]="service.searchTerm"></ngb-highlight>
                      </a>
                    </h4>

                    <span class="d-block">
                      <ngb-highlight [result]="singleTask.Designation" [term]="service.searchTerm"></ngb-highlight>
                      <span> on
                      </span>
                      <ngb-highlight [result]="singleTask.AccountName" [term]="service.searchTerm"></ngb-highlight>
                    </span>
                  </td>


                  <td>
                    <ngb-highlight [result]="singleTask.TaskType" [term]="service.searchTerm"></ngb-highlight>
                  </td>


                  <td>
                    <ngb-highlight [result]="singleTask.TaskTitle" [term]="service.searchTerm"></ngb-highlight>
                  </td>


                  <td>
                    <div>
                      <!-- <ngb-highlight class="ShowLess" [result]="singleTask.TaskDescription"
                                    popover="{{singleTask.TaskDescription}}" triggers="mouseenter:mouseleave"
                                    [term]="service.searchTerm">
                                  </ngb-highlight>-->

                      <ngb-highlight class="ShowLess" [result]="singleTask.TaskDescription"
                        ngbTooltip="{{singleTask.TaskDescription}}" placement="right" [term]="service.searchTerm">
                      </ngb-highlight>
                    </div>
                  </td>

                  <!-- <td>
                    <span
                      [ngClass]="singleTask.Priority == 'High' ? 'stage-badge open cursor-none' : '' || singleTask.Priority == 'high' ? 'stage-badge open cursor-none' : '' || singleTask.Priority == 'Urgent' ? 'stage-badge overload cursor-none' : '' || singleTask.Priority == 'urgent' ? 'stage-badge overload cursor-none' : '' || singleTask.Priority  == 'Normal' ? 'stage-badge happy cursor-none' : '' || singleTask.Priority  == 'normal' ? 'stage-badge happy cursor-none' : '' || singleTask.Priority == 'Medium' ? 'stage-badge cool cursor-none' : '' || singleTask.Priority == 'medium' ? 'stage-badge cool cursor-none' : '' || singleTask.Priority == 'Low' ? 'stage-badge busy cursor-none' : '' || singleTask.Priority == 'low' ? 'stage-badge busy cursor-none' : '' ">
                      <ngb-highlight [result]="singleTask.Priority" [term]="service.searchTerm"
                        style="font-size:0.8rem !important;"></ngb-highlight>
                    </span>
                  </td> -->
                  <td>
                    <span>
                      <ngb-highlight [result]="singleTask.Priority" [term]="service.searchTerm"
                        style="font-size:0.8rem !important;"></ngb-highlight>
                    </span>
                  </td>




                  <td>
                    <ng-container *ngIf="singleTask.TaskStatus != 'completed'; else completedDateLbl">
                      <span>{{singleTask.ElapsedDuration}}</span>
                    </ng-container>
                    <ng-template #completedDateLbl>
                      <span>completed on </span><br>
                      <span>{{singleTask.CompletedDate}}</span>
                    </ng-template>
                  </td>
                  <td class="w-10">
                    <ng-container *ngIf="singleTask.TaskStatus != 'completed'; else completedLbl">
                      <div class="dropdown ddmenu">
                        <button class="btn btn-sm   dropdown-toggle task-ddmenu" type="button" id="dropdownMenu2"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Action
                        </button>
                        <ng-container [ngSwitch]="true">
                          <div *ngSwitchCase="singleTask.TaskType ==='Manual Email' || singleTask.TaskType === 'Email'"
                            class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item"
                              (click)="rescheduleTaskBtnClick(rescheduleTaskModal,singleTask.TaskId)"
                              type="button">Reschedule</button>
                            <button class="dropdown-item"
                              (click)="sendEmailBtnClick(manualTemplateModal,singleTask.ContactEmail,singleTask.ObjectId,singleTask.ObjectIntId)"
                              type="button">Send an email</button>
                            <button class="dropdown-item"
                              (click)="markAsCompleted(singleTask.SequenceDetailId,singleTask.TaskIntId)"
                              type="button">Mark
                              as
                              completed</button>
                          </div>
                          <div *ngSwitchCase="singleTask.TaskType ===''" class="dropdown-menu"
                            aria-labelledby="dropdownMenu2 ddmenu ">
                            <button class="dropdown-item" type="button">Reschedule</button>
                            <button class="dropdown-item" type="button">Send an email</button>
                            <button class="dropdown-item" type="button">Log a call</button>
                            <button class="dropdown-item"
                              (click)="markAsCompleted(singleTask.SequenceDetailId,singleTask.TaskIntId)"
                              type="button">Mark
                              as
                              completed</button>
                          </div>
                          <div
                            *ngSwitchCase="singleTask.TaskType ==='Phone Call' || singleTask.TaskType === 'Auto Email'"
                            class="dropdown-menu ddmenu" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item"
                              (click)="rescheduleTaskBtnClick(rescheduleTaskModal,singleTask.TaskId)"
                              type="button">Reschedule</button>
                            <button class="dropdown-item" *ngIf="singleTask.TaskType ==='Phone Call'"
                              (click)="logACallBtnClick(callLogTaskModal,singleTask.ObjectId,singleTask.ObjectIntId)"
                              type="button">Log
                              a call</button>
                            <button class="dropdown-item"
                              (click)="markAsCompleted(singleTask.SequenceDetailId,singleTask.TaskIntId)"
                              type="button">Mark
                              as
                              completed</button>
                          </div>
                          <div *ngSwitchDefault class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item"
                              (click)="rescheduleTaskBtnClick(rescheduleTaskModal,singleTask.TaskId)"
                              type="button">Reschedule</button>
                            <button class="dropdown-item"
                              (click)="markAsCompleted(singleTask.SequenceDetailId,singleTask.TaskIntId)"
                              type="button">Mark
                              as
                              completed</button>

                          </div>
                        </ng-container>


                      </div>
                    </ng-container>

                    <ng-template #completedLbl>
                      <div style="background-color: #d4ffde!important;color: #0dc136;padding: 5px;min-width:85px;max-width: 85px;text-align:center;"><span>Completed</span></div>
                    </ng-template>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex justify-content-between p-2">
              <div class="pagination-overflow">
                <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
                </ngb-pagination>
              </div>
              <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
                <option [ngValue]="10">10 items per page</option>
                <option [ngValue]="20">20 items per page</option>
                <option [ngValue]="50">50 items per page</option>
              </select>
            </div>
          </form>
        </div>
        <ng-template #nodata>
          <h4 class="p-5" style="font-size: 20px;">No data available..!</h4>
        </ng-template>




        <!-- Create new Task Modal -->
        <app-addtask></app-addtask>
        <!-- <div class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" id="createTaskModal">
  <div class="modal-dialog modal-dialog-centered modal-scrollable" role="document">
    <div class="modal-content">
      <form [formGroup]="TaskForm" (ngSubmit)="addTask()">
        <div class="modal-header">
          <h4 class="modal-title">Create Task</h4>
          <button type="button" class="close" data-dismiss="modal"><img src="assets/Images/cancel.png" /></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Contact Person:</label>
            <select class="form-control" name="contactslist" formControlName="ObjectId" [ngClass]="{ 'is-invalid': submitted && f.ObjectId.errors }">
             <option value="">Select contact</option>
              <option *ngFor="let contact of Contacts" [value]="contact.contactid">
                {{contact.contactname}}
              </option>
            </select>            
              <div *ngIf="submitted && f.ObjectId.errors" class="invalid-feedback">
                <div *ngIf="f.ObjectId.errors.required">Select contact name</div>
              </div>
          </div>
          <div class="form-group">
            <label>Priority:</label>
            <select class="form-control" formControlName="Priority"
            [ngClass]="{ 'is-invalid': submitted && f.Priority.errors }">
            <option value="">Select priority</option>
              <option value="Normal">Normal</option>
              <option value="Low">Low</option>
              <option value="Medium">Medium</option>
              <option value="High">High</option>
              <option value="Urgent">Urgent</option>
            </select>
            <div *ngIf="submitted && f.Priority.errors" class="invalid-feedback">
                <div *ngIf="f.Priority.errors.required">select priority</div>
              </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-12 col-sm-6">
                <label>Task:</label>
                <select class="form-control" formControlName="Title"
                [ngClass]="{ 'is-invalid': submitted && f.Title.errors }">
                <option value="">Select title</option>
                  <option value="Email">Email</option>
                  <option value="Phone Call">Phone Call</option>
                  <option value="Generic Task">Generic Task</option>
                </select>
                <div *ngIf="submitted && f.Title.errors" class="invalid-feedback">
                    <div *ngIf="f.Title.errors.required">select task title</div>
                  </div>
              </div>
              <div class="col-12 col-sm-6">
                <label>Assigned to:</label>                
                <select class="form-control" formControlName="AssignedTo"
                [ngClass]="{ 'is-invalid': submitted && f.AssignedTo.errors }">
                <option value="">Select assigned to</option>
                    <ng-container *ngIf="IsMember; else userList">
                    <option [value]="userInfo.UserId">{{userInfo.name}}</option>
                    </ng-container>
                    <ng-template #userList>     
                        <option *ngFor="let user of usersData" [value]="user.UserId">{{user.NickName}}</option>

                      </ng-template>    
                </select>
                <div *ngIf="submitted && f.AssignedTo.errors" class="invalid-feedback">
                    <div *ngIf="f.AssignedTo.errors.required">select assignee name</div>
                  </div>

              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-12 col-sm-6">
                <label>Due Date:</label>
                <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                  [bsConfig]="{ isAnimated: true, adaptivePosition: true,containerClass:'theme-dark-blue' }"
                  [(bsValue)]="bsValue" value="{{ bsValue | date:'dd/MM/yyyy' }}">

              </div>
              <div class="col-12 col-sm-6">
                <label>Due Time:</label>
                <ng-template #popTemplate>
                  <timepicker [(ngModel)]="mytime" [showMeridian]="false" formControlName="DueTime"></timepicker>
                </ng-template>
                <input class="form-control" value="{{mytime | date: 'HH:mm' }}" [popover]="popTemplate"
                  [outsideClick]="true" placement="bottom" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Note:</label>
            <textarea class="form-control" rows="3" placeholder="About the task..."
              formControlName="Description"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-theme btn-check"><span>Add Task</span></button>
          <button type="button" class="btn btn-grey" data-dismiss="modal" #closeAddTaskModal>Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div> -->
        <!-- Create new Task Modal ends here -->

        <!-- Reschedule task Modal -->
        <ng-template #rescheduleTaskModal>
          <div class="modal-content">
            <div class="modal-body text-center">
              <div class="confirmation-content">
                <h4>Provide reschedule date & time</h4>
                <div class="form-group">
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <label>Due Date:</label>
                      <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                        [bsConfig]="{ isAnimated: true, adaptivePosition: true,containerClass:'theme-dark-blue' }"
                        [(bsValue)]="bsValue" value="{{ bsValue | date:'dd/MM/yyyy' }}">

                    </div>
                    <!--div class="col-12 col-sm-6">
                      <label>Due Time:</label>
                      <ng-template #popTemplate>
                        <timepicker [(ngModel)]="mytime1" [showMeridian]="false"></timepicker>
                      </ng-template>
                      <input class="form-control" value="{{mytime1 | date: 'HH:mm' }}" [popover]="popTemplate"
                        [outsideClick]="true" placement="bottom" />
                    </div -->
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-info" (click)="rescheduleConfirmClick()">Reschedule Task</button>
              <button class="btn btn-danger" (click)="rescheduleTaskmodalRef.hide()">Cancel</button>
            </div>
          </div>
        </ng-template>
        <!-- Reschedule task Modal ends here -->

        <!-- Log a call Modal -->
        <ng-template #callLogTaskModal>
          <div class="modal-content">
            <form [formGroup]="callLogForm" (ngSubmit)="AddLogACallToContact(confirmationCallLogModal)">
              <div class="modal-header">
                <h4 class="modal-title">Log a call</h4>
                <button type="button" class="close" data-dismiss="modal"><img src="assets/Images/cancel.png" /></button>
              </div>
              <div class="modal-body text-center">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Title" formControlName="Title"
                  [ngClass]="{ 'is-invalid': submitted && cf.Title.errors }">
                  <div *ngIf="submitted && cf.Title.errors" class="invalid-feedback">
                    <div *ngIf="cf.Title.errors.required">Enter title</div>
                  </div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" rows="3" placeholder="Description..."
                    formControlName="Description"></textarea>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn btn-info" type="submit">Create a log</button>
                <a class="btn btn-grey" data-dismiss="modal" (click)="callLogModalRef.hide()">Cancel</a>
              </div>
            </form>
          </div>
        </ng-template>
        <!-- Log a call Modal ends here -->

        <!-- Delete Confirmation Modal -->
        <ng-template #confirmationCallLogModal>
          <div class="modal-content">
            <div class="modal-body text-center">
              <div class="confirmation-content">
                <div [innerHTML] = "confirmationMessage"></div>   
                <!-- <div class="icon confirm success-color">
                  <i class="fa fa-check fa-2x"></i>
                </div>
                <h4>{{confirmationMessage}}</h4> -->
                <button type="button" class="btn btn-success" (click)="confirmationCallLogModalRef.hide()">OK</button>
              </div>
            </div>
          </div>
        </ng-template>
        <!-- Delete Confirmation Modal ends here -->

        <!-- selected template Modal -->
        <ng-template #manualTemplateModal>

          <form [formGroup]="ManualEmailForm" (ngSubmit)="sendManualEmail(confirmationCallLogModal)">
            <div class="modal-header">
              <h4 class="modal-title">Send Email</h4>
              <button type="button" class="close" (click)="emptyTemplateModal.hide()">&times;</button>
            </div>
            <div class="modal-body">
              <div class="create-template">
                <div class="form-group">
                  <input type="text" class="form-control-plaintext" placeholder="To email" formControlName="To"
                    value="{{contactEmail}}" disabled>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control-plaintext" placeholder="Cc email" formControlName="CC">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control-plaintext" placeholder="Subject" formControlName="Subject">
                </div>
                <textarea [froalaEditor]="options" id="froalaEditorContainer" formControlName="HtmlBody"
                  class="pos-rel">

				  </textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" [disabled]="loading" class="btn btn-theme btn-check" type="submit">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                <span>Send Email</span></button>
              <button type="button" class="btn btn-grey" (click)="emptyTemplateModal.hide()">Cancel</button>
            </div>
          </form>

        </ng-template>
        <!-- selected template Modal ends here -->
      </div>
    </div>
  </div>
</div>


<!-- <ngx-spinner></ngx-spinner> -->
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="timer">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
