<div class="wrapper">
    <app-adminheader></app-adminheader>
  
    <div class="page-wrapper">
        <div class="container-fluid">
  
            <div>
            <h2 class="page-title">Team performance</h2>
            </div>
        </div>

        <div class="body-content">
            <div class="page-header">
                <div class="btn-group row mb-3">
                    <select class="form-control" [(ngModel)]='performancePeriodSelect'  (change)="PeriodChangedHandler($event.target.value)">
                      <option value="today">Today</option>
                      <option value="thisweek">This Week</option>
                      <option value="lastweek">Last Week </option>
                      <option value="thismonth">This Month </option>
                      <!-- <option value="lastmonth">Last Month </option>
                      <option value="last3months"> > 3 Months</option>
                      <option value="notengaged">Not Engaged</option>
                      <option value="all">All</option> -->
                    </select>
                  </div>
              <div class="row">               
                <ag-grid-angular #myGrid style="width: 100%;" class="ag-theme-balham" 
                 [gridOptions]="gridOptions" [pagination]="true" [paginationPageSize]="paginationPageSize" [columnDefs]="columnDefs" [rowData]="performanceList"
                 (gridReady)="onGridReady($event)"          
                [animateRows]="true"></ag-grid-angular>
            </div>
        </div>
        
    </div>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="timer">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>  
    