<!-- Create new Task Modal -->
<div class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" id="createTaskModal">
  <div class="modal-dialog modal-dialog-centered modal-scrollable" role="document">
    <div class="modal-content">
      <form [formGroup]="TaskForm" (ngSubmit)="addTask()">
        <div class="modal-header">
          <h4 class="modal-title">Create Task</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="form-group required" *ngIf="contactTextFieldRequired">
            <label class="control-label">Contact Name:</label>
            <ng-select *ngIf="!accountContactsList" dropdownPosition="bottom" class="txtSearch" [items]="contactsList" 
            bindLabel="name" placeholder="Type for contact"
            [(ngModel)]="selContactInfo" [ngModelOptions]="{standalone: true}"
             (search)="contactChangeHandler($event,0,'')" (change)="selectContact()">
            </ng-select>

            
            <select *ngIf="accountContactsList" class="form-control" name="contactslist" formControlName="ObjectId"
              [ngClass]="{ 'is-invalid': submitted && f.ObjectId.errors }">
              <ng-container *ngIf="contactInfo == undefined; else clickedContact">
                <option value="">Select contact</option>
                <option *ngFor="let contact of accountContactsList" [value]="contact.id">
                  {{contact.name}}
                </option>
              </ng-container>
            </select>
            <div *ngIf="contactnamerequired" class="text-danger fs-80">select contact name</div>
            <!-- <select class="form-control" name="contactslist" formControlName="ObjectId"
              [ngClass]="{ 'is-invalid': submitted && f.ObjectId.errors }">
              <ng-container *ngIf="contactInfo == undefined; else clickedContact">
                <option value="">Select contact</option>
                <option *ngFor="let contact of Contacts" [value]="contact.contactid">
                  {{contact.contactname}}
                </option>
              </ng-container>

              <ng-template #clickedContact>
                <option value="">Select contact</option>
                <option [value]="contactInfo.contactid">{{contactInfo.name}}</option>
              </ng-template>
            </select> -->

            <div *ngIf="submitted && f.ObjectId.errors" class="invalid-feedback">
              <div *ngIf="f.ObjectId.errors.required">Select contact name</div>
            </div>
          </div>
          <div class="form-group required">
            <label class="control-label">Task Title:</label>
            <input type="text" formControlName="Title" class="form-control" id="tasktitle"
              [ngClass]="{ 'is-invalid': submitted && f.Title.errors }">
            <div *ngIf="submitted && f.Title.errors" class="invalid-feedback">
              <div *ngIf="f.Title.errors.required">Enter task title</div>
            </div>

          </div>
          <div class="form-group required">
            <div class="row">
              <div class="col-12 col-sm-6">
            <label class="control-label">Priority:</label>
            <select class="form-control" formControlName="Priority"
              [ngClass]="{ 'is-invalid': submitted && f.Priority.errors }">
              <option value="">Select priority</option>
              <option value="Normal">Normal</option>
              <option value="Low">Low</option>
              <option value="Medium">Medium</option>
              <option value="High">High</option>
              <option value="Urgent">Urgent</option>
            </select>
            <div *ngIf="submitted && f.Priority.errors" class="invalid-feedback">
              <div *ngIf="f.Priority.errors.required">select priority</div>
            </div>
            </div>
            <div class="col-12 col-sm-6">
              <label class="control-label">Task type:</label>
              <select class="form-control" formControlName="TaskType"
                [ngClass]="{ 'is-invalid': submitted && f.TaskType.errors }">
                <option value="">Select type</option>
                <option value="Email">Email</option>
                <option value="Phone Call">Phone Call</option>
                <option value="Generic Task">Generic Task</option>
              </select>
              <div *ngIf="submitted && f.TaskType.errors" class="invalid-feedback">
                <div *ngIf="f.TaskType.errors.required">select task type</div>
              </div>
            </div>
            </div>
          </div>
          <div class="form-group required">
            <div class="row">
            
              <div class="col-12 col-sm-6">
                <label class="control-label">Owner:</label>
                <select class="form-control" formControlName="AssignedToIntId"
                  [ngClass]="{ 'is-invalid': submitted && f.AssignedToIntId.errors }">
                  <option value="">Select owner</option>
                  <ng-container *ngIf="IsMember; else userList">
                    <option [value]="userInfo.IntUserId">{{userInfo.name}}</option>
                  </ng-container>
                  <ng-template #userList>
                    <option *ngFor="let user of usersData" [value]="user.IntUserId">{{user.NickName}}</option>

                  </ng-template>
                </select>
                <div *ngIf="submitted && f.AssignedToIntId.errors" class="invalid-feedback">
                  <div *ngIf="f.AssignedToIntId.errors.required">select owner</div>
                </div>

              </div>
              <div class="col-12 col-sm-6">
                <label>Due Date:</label>
                <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
                  [bsConfig]="{ isAnimated: true, adaptivePosition: true,containerClass:'theme-dark-blue' }"
                  [(bsValue)]="bsValue" value="{{ bsValue | date:'dd/MM/yyyy' }}">

              </div>
            </div>
          </div>
        <!--   <div class="form-group">
            <div class="row">
            
              <div class="col-12 col-sm-6">
                <label>Due Time:</label>
                <ng-template #popTemplate>
                  <timepicker [(ngModel)]="mytime" [showMeridian]="false" formControlName="DueTime"></timepicker>
                </ng-template>
                <input class="form-control" value="{{mytime | date: 'HH:mm' }}" [popover]="popTemplate"
                  [outsideClick]="true" placement="bottom" />
              </div>
            </div>
          </div> -->
          <div class="form-group">
            <label>Note:</label>
            <textarea class="form-control" rows="3" placeholder="About the task..."
              formControlName="Description"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn theme-btn btn-check"><span>Add Task</span></button>
          <button type="reset" class="btn btn-grey" (click)="onReset()" data-dismiss="modal" #closeAddTaskModal>Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Create new Task Modal ends here -->
