<div class="wrapper">
  <app-adminheader></app-adminheader>
  <div class="page-wrapper">
    <div class="container-fluid">

      <div>
        <h2 class="page-title">Sequences</h2>
      </div>

      <div class="body-content">
        <div class="page-header">
          <div class="row">

            <div class="col-12 col-md-12 text-md-right">

              <div class="page-header-links">

                <a data-toggle="modal" data-target="#createSequenceModal">
                  <div class="btn-group">
                    <button type="button" class="btn  add-btn-icon">+</button>
                    <button type="button" class="btn  add-btn">Sequence</button>
                  </div>
                </a>
              </div>


            </div>
          </div>
        </div>

        <div class="page-settings-area min-vh-cust47">
          <div class="row">
            <div class="col-md-7">

            </div>
            <!-- <div class="col-md-5">
      <ul class="grid-settings float-right d-flex">
        <li class="d-flex pos-rel px-3">
          <span class="my-auto">1-9 of 9</span>
          <span class="settings-btn">
            <i class="fa fa-redo color-999"></i>
          </span>
        </li>
        <li class="pos-rel px-3">
          <span class="settings-btn">Export</span>
        </li>
      </ul>
    </div> -->
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
              <div class="col-md-2">
                <input type="text" class="form-control" placeholder="Search" (keyup)="onFilterTextBoxChanged($event)" />
              </div>
          </div>
        </div><br>

        <div class="row">
          <div class="col-md-12">
            <ag-grid-angular #agGrid style="width: 100%; " id="myGrid" class="ag-theme-balham" [columnDefs]="columnDefs"
             [paginationPageSize]="paginationPageSize" [cacheBlockSize]="cacheBlockSize" 
             (cellClicked)="onCellClicked($event)"
            [gridOptions]="gridOptions" [suppressRowClickSelection]="true" [groupSelectsChildren]="true" [debug]="true"
            [enableRangeSelection]="true" [pagination]="true" [rowData]="Sequences"
            (gridReady)="onGridReady($event)"></ag-grid-angular>
          </div>
        </div>
        
        <!--table class="table table-striped1 table-wrap sequence-grid mb-0 Sequences">
          <thead>

            <th>Sequence Name</th>
            <th>Steps</th>
            <th>Contacts</th>
            <th>Reached</th>
            <th>Opened</th>
            <th>Responses</th>
          
            <th> Created On</th>
          </thead>
          <tbody>
            <tr *ngFor="let sequence of Sequences">
              <td>
                <h4 class="text-blue seq-title cursor-pointer" (click)="onSelect(sequence)">{{sequence.SequenceName}}
                </h4>
              </td>
              <td>
                {{sequence.StepsCount}}
              </td>
              <td>
                <h4 class="mb-0">{{sequence.Subscribers}}</h4>
              </td>
                <td>
                <h4 class="mb-0">{{sequence.Reached}}</h4>
              </td>
              <td>
                <h4 class="mb-0">{{sequence.Opened}}</h4>
              </td>
            
              <td>
                <h4 class="mb-0">{{sequence.Responses}}</h4>
              </td>
             
              <td>
                <span class="color-999 fs-13">{{sequence.ElapsedDuration}}</span>
              </td>
            </tr>
          </tbody>
        </table -->
  <!-- Response Info popupu -->
  <ng-template #responseInfoModal>
    <div class="modal-body">
      <div [innerHTML]="responseInfo"></div>
    </div>
  </ng-template>
        <!-- Create New Sequence Modal -->
        <div class="modal fade" role="dialog" tabindex="-1" id="createSequenceModal" data-backdrop="static"
          data-keyboard="false">
          <div class="modal-dialog modal-dialog-centered modal-md" role="document">
            <div class="modal-content">
              <form [formGroup]="sequenceForm" (ngSubmit)="addsequence(responseInfoModal)">
                <div class="modal-header">
                  <h4 class="modal-title">Create Sequence</h4>
                  <button type="button" class="close" (click)="onSeqReset()" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                  <div class="form-group required">
                    <label class="control-label">Sequence Name:</label>
                    <input type="text" formControlName="SequenceName" class="form-control"
                      placeholder="Enter Sequence Name"
                      [ngClass]="{ 'is-invalid': submitted && f.SequenceName.errors }" />
                    <div *ngIf="submitted && f.SequenceName.errors" class="invalid-feedback">
                      <div *ngIf="f.SequenceName.errors.required">Sequence Name is required</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Description:</label>
                    <textarea class="form-control" formControlName="Description" rows="3"
                      placeholder="Sequence Description..."></textarea>
                  </div>
                  <div class="form-group required">
                    <label class="control-label">Priority:</label>
                    <select class="form-control" formControlName="Priority"
                    [ngClass]="{ 'is-invalid': submitted && f.Priority.errors }">
                      <option value="Normal">Normal</option>
                      <option value="Medium">Medium</option>
                      <option value="Low">Low</option>
                      <option value="High">High</option>
                    </select>
                    <div *ngIf="submitted && f.Priority.errors" class="invalid-feedback">
                      <div *ngIf="f.Priority.errors.required">select priority</div>
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="control-label">Industry:</label>
                    <select class="form-control" formControlName="industryid"
                          [ngClass]="{ 'is-invalid': submitted && f.industryid.errors }"
                          (change)="selectIndustryChangeHandler($event)">   
                          <option value="">-- Select industry --</option>                      
                          <option *ngFor="let industry of IndustriesList" [value]="industry.id">
                             {{industry.labeltitle | titlecase}}
                          </option>
                        </select>
                        <div *ngIf="submitted && f.industryid.errors" class="invalid-feedback">
                          <div *ngIf="f.industryid.errors.required">select industry</div>
                        </div>
                  </div>
                  <div class="form-group">
                    <label>Designation:</label>
                    <ng-select [items]="items" bindLabel="name" placeholder="Select item" multiple="true"
                    formcontrolname="designationids"  [(ngModel)]="selectedDesig" [ngModelOptions]="{standalone: true}" (change)="getValues()">
                    </ng-select>
                </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn theme-btn btn-check" id="createSequence"><span>Create</span></button>
                  <button type="button" class="btn btn-grey" data-dismiss="modal" (click)="onSeqReset()" #closeAddSequenceModal>Cancel</button>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="timer">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<!-- <script>
  $(document).ready(function () {
    //Tooltip
    $('[data-toggle="tooltip"]').tooltip({
      html: true
    })

    //Fav
    $('.fav').click(function () {
      $('.fav').html();
      $('.fav').html(`
				<i class="fas fa-star"></i>
			`);
    })

    $('.seq-title').click(function () {
      window.location.href = "view-sequence.html";
    })
  })

</script> -->
