<div class="wrapper">
  <app-adminheader></app-adminheader>

  <div class="page-wrapper">
    <div class="container-fluid">

      <div>
        <h2 class="page-title">User Management</h2>
      </div>
      <div class="body-content">
        <div class="page-header">
          <div class="row">

            <div class="col-12 col-md-12 text-md-right">
              <div class="page-header-links">

                <a data-toggle="modal" data-target="#createUserModal">
                  <div class="btn-group">
                    <button type="button" class="btn  add-btn-icon">+</button>
                    <button type="button" class="btn add-btn">User</button>
                  </div>
                </a>


                <!-- <ul class="d-flex float-right">
                <li>
                  <a class="header-btn" data-toggle="modal" data-target="#createUserModal">
                    <i class="fa fa-plus mr-2"></i>User
                  </a>
                </li>
               
              </ul> -->
              </div>
            </div>
          </div>
        </div>

        <div class="page-settings-area min-vh-cust47">
          <div class="row">
            <div class="col-md-7">

            </div>
            <!-- <div class="col-md-5">
            <ul class="grid-settings float-right d-flex">
                <li class="d-flex pos-rel px-3">
                    <span class="my-auto">1-9 of 9</span>
                    <span class="settings-btn">
                        <i class="fa fa-redo color-999"></i>
                    </span>
                </li>
                <li class="pos-rel px-3">
                    <span class="settings-btn">Export</span>
                </li>
            </ul>
        </div> -->
          </div>
        </div>

        <ag-grid-angular #agGrid style="width: 100%;" id="myGrid" class="ag-theme-balham"
          [columnDefs]="columnDefs" [autoGroupColumnDef]="autoGroupColumnDef" [defaultColDef]="defaultColDef"
          [paginationPageSize]="paginationPageSize" [cacheBlockSize]="cacheBlockSize" [sideBar]="sideBar"
          [gridOptions]="gridOptions" [suppressRowClickSelection]="true" [groupSelectsChildren]="true" [debug]="true"
          [rowSelection]="rowSelection" [rowGroupPanelShow]="rowGroupPanelShow" [pivotPanelShow]="pivotPanelShow"
          [enableRangeSelection]="true" [pagination]="true" [rowData]="rowData" (gridReady)="onGridReady($event)">
        </ag-grid-angular>


      </div>
    </div>


    <!-- Create new User Modal -->
    <div class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" id="createUserModal">
      <div class="modal-dialog modal-dialog-centered modal-scrollable" role="document">
        <div class="modal-content">
          <form [formGroup]="userForm" (ngSubmit)="addUser()">
            <div class="modal-header">
              <h4 class="modal-title">Create User</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>First Name:</label>
                    <input type="text" class="form-control" formControlName="FirstName"
                      [ngClass]="{ 'is-invalid': submitted && f.FirstName.errors }">
                    <div *ngIf="submitted && f.FirstName.errors" class="invalid-feedback">
                      <div *ngIf="f.FirstName.errors.required">Enter first name</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Last Name:</label>
                    <input type="text" class="form-control" formControlName="LastName"
                      [ngClass]="{ 'is-invalid': submitted && f.LastName.errors }">
                    <div *ngIf="submitted && f.LastName.errors" class="invalid-feedback">
                      <div *ngIf="f.LastName.errors.required">Enter last name</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Login Id:</label>
                    <input type="email" class="form-control" formControlName="LoginId"
                      [ngClass]="{ 'is-invalid': submitted && f.LoginId.errors }">
                    <div *ngIf="submitted && f.LoginId.errors" class="invalid-feedback">
                      <div *ngIf="f.LoginId.errors.required">Email is required</div>
                      <div *ngIf="f.LoginId.errors.email">Email must be a valid email address</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Email:</label>
                    <input type="text" class="form-control" formControlName="Email"
                      [ngClass]="{ 'is-invalid': submitted && f.Email.errors }">
                    <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                      <div *ngIf="f.Email.errors.required">Email is required</div>
                      <div *ngIf="f.Email.errors.email">Email must be a valid email address</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>User Type:</label>
                    <select class="form-control" formControlName="RoleId" (change)="selectRoleChangeHandler($event)"
                      [ngClass]="{ 'is-invalid': submitted && f.RoleId.errors }">
                      <option value="">Select</option>
                      <option *ngFor="let singleRole of Roles" [attr.Value]="singleRole.RoleIntId">
                        {{singleRole.RoleName|lowercase}}</option>
                    </select>
                    <div *ngIf="submitted && f.RoleId.errors" class="invalid-feedback">
                      <div *ngIf="f.RoleId.errors.required">select user type</div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Contact No:</label>
                    <input type="text" (keypress)="utilities.phoneNumberValidator($event)" minlength=10 maxlength=10
                      class="form-control" formControlName="MobileNumber">
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn theme-btn btn-check"><span>Add User</span></button>
              <a class="btn btn-grey" data-dismiss="modal" #closeAddUserModal>Cancel</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Create new User Modal ends -->



<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="timer">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
