
<div class="row">
  <div *ngIf="primaryInfoContainer" class="col-sm-4 offset-sm-4 mt-15">
    <div class="card bg-default mb-3">
        <div class="card-header">
          <h4>Unsubscribe</h4>
          </div>
        <div class="card-body">
          <div *ngIf="askForUnsubscribe">
          <h6>Are you sure ?</h6>
          <p class="card-title">Do you want to unsubscribe your email?</p>
         <button class="btn btn-success" (click)="yesToConfirmEmail()">Yes</button>
         <button class="btn btn-danger ml-3" (click)="CloseWindow()">No</button>
          </div>
          <div *ngIf="isEmailAddressConfirmed">
            <p>Please confirm your email address</p>
            <input type="text" class="form-control mb-3" placeholder="Enter your email" (click)="txtEmailValidate()" [(ngModel)]="email">
            <p *ngIf="!isValidateEmail" class="text-danger">{{emailAddress}} is invalid</p>
            <button class="btn btn-success" (click)="unSubscribeEmail()">Unsubscribe</button>
          </div>
        </div>
      </div>     
</div>
    <!-- <div *ngIf="!isValidateEmail" class="col-sm-4 offset-sm-4 mt-15">
        <div class="card text-white bg-danger mb-3">
            <div class="card-header">Email Validation</div>
            <div class="card-body">
              <h5 class="card-title">{{emailAddress}} is invalid</h5>
             
            </div>
          </div>     
    </div> -->
    <div *ngIf="responseStatus" class="col-sm-4 offset-sm-4 text-center mt-15">
        <div class="card text-white bg-danger mb-3">
            <div class="card-header">Unsubscribed</div>
            <div class="card-body">
              <h5 class="card-title">{{emailAddress}}</h5>
              <p class="card-text mb-0">is</p>
              <p class="card-text">Unsubscribed from our mailing list..!</p>
            </div>
          </div>     
    </div>
    <div *ngIf="updateCountStatus" class="col-sm-4 offset-sm-4 text-center mt-15">
        <div class="card text-white bg-info mb-3">
            <div class="card-header">Unsubscribed</div>
            <div class="card-body">
              <h5 class="card-title">{{emailAddress}}</h5>
              <p class="card-text mb-0">is</p>
              <p class="card-text">already Unsubscribed from our mailing list..!</p>
            </div>
          </div>
     
    </div>
    
</div>