<app-header></app-header>
<div class="page-header">
    <div class="row">
        <div class="col-12 col-md-3 my-auto">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item" aria-current="page">
                        <a>Libraries</a>
                    </li>
                </ol>
            </nav>
        </div>
        <div class="col-12 col-md-9 text-md-right">
            <div class="page-header-links">
                <ul class="d-flex float-right">
                    <li>
                        <a class="header-btn" data-toggle="modal" (click)="addFolderModal(addFolderModal)">
                            <i class="fa fa-plus mr-2"></i>Create folder
                        </a>
                    </li>
                   
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="page-settings-area min-vh-cust47">
    <div class="row">
        <div class="col-md-7">

        </div>       
    </div>
</div>
<div>
    <ng-template #addFolderModal>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Add folder</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef2.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">          
          <div class="form-group">
              <label for="pwd">Folder name:</label>
              <span *ngIf="IsSubTeamNotMentioned" class="float-right error">Enter folder name</span>
              <input type="text" class="form-control" id="subteam" placeholder="Enter folder name" (keyup)="subteamtxt($event)">
          </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" (click)="addTeam()">Add team</button>
            <button class="btn btn-danger" (click)="modalRef2.hide()">Cancel</button>
          </div>
      </ng-template>
</div>