.task-badge-normal{background-color: #d4ffde!important;color:#0dc136;font-weight: 500;padding:5px 10px;display: block;
    max-width: 70px;
    min-width: 70px;
    text-align: center;text-transform: capitalize;}
  .task-badge-high{background-color: #ffd5d5!important;color:#ef0000;font-weight: 500;padding:5px 10px;display: block;
    max-width: 70px;
    min-width: 70px;
    text-align: center;text-transform: capitalize;}
  .contacts-grid p{margin-bottom: 0px;}