<div class="wrapper">
<app-header></app-header>

<div class="page-wrapper">
    <div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
			  <h2 class="page-title">View Contact</h2>
			</div>
			<div class="col-md-6">
			  <div class="f-right">
	
				<ol class="breadcrumb mb-0">
				  <li class="breadcrumb-item">
					<a href="/contacts">Contact</a>
				  </li>
				  <li class="breadcrumb-item">
					{{activityresponse?.ContactInfo?.contactname | titlecase}}
				  </li>
				  <li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
				  <li><span (click)="previousPage()" style="content: \2190; cursor: pointer !important">&#8592; Back </span></li>
				</ol>
	
			  </div>
			</div>
		  </div>

    
      <div class="body-content">
<div class="page-header">
	<div class="row">
		<!-- <div class="col-6 my-auto">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb mb-0">
					<li class="breadcrumb-item">
						<a href="/contacts">Contacts</a>
					</li>
					<li class="breadcrumb-item">
						<a href="javascript:void(0)" class="active">Contact Name</a>
					</li>
				</ol>
			</nav>
		</div> -->
		<!-- <div class="col-6 text-right">
			<div class="page-header-links">
				<ul class="d-flex float-right">
					<li>
						<a class="header-btn" data-toggle="modal" data-target="#createContactModal">
							<i class="fa fa-plus mr-2"></i>Contact
						</a>
					</li>
					<li>
						<a class="header-btn no-border">
							<i class="fa fa-ellipsis-v"></i>
						</a>
					</li>
				</ul>
			</div>
		</div> -->
	</div>
</div>


<div class="row">
	<div class="col-12 col-sm-3">
		<div class="contact-information">
			<div class="text-center">
                <div class="ac-badge">
                  <span>
					{{utilities.getShortName(activityresponse?.ContactInfo?.contactname) | uppercase}}
				  </span>
                </div>
              </div>
			<div class="contact-info text-center my-3">
				<h6 class="name mb-0">{{activityresponse?.ContactInfo?.contactname | titlecase}}</h6>
				<span>({{activityresponse?.ContactInfo?.designation | titlecase}})</span>
				<div class="d-flex justify-content-center mt-3">
					<span [ngClass]="IsLinkedToSequence > 0 ?'nonactive view-badge contact-badge':'view-badge contact-badge'" data-toggle="modal" data-target="#assignSequenceModal">
						<i class="fa fa-location-arrow" data-placement="left" data-toggle="tooltip"
							title="Assign Sequence"></i>
					</span>
					<span class="view-badge contact-badge" data-toggle="modal" data-target="#createTaskModal">
						<i class="fa fa-tasks" data-placement="left" data-toggle="tooltip" title="Add Tasks"></i>
					</span>
					<span class="view-badge contact-badge" data-toggle="modal" data-target="#createMeetingModal">
						<i class="fa fa-calendar-alt" data-placement="left" data-toggle="tooltip"
							title="Add Meeting"></i>
					</span>
	
					<!-- <span class="contact-badge" (click)="sendEmailBtnClick(manualTemplateModal,'','contact')">
						<i class="fa fa-envelope"></i>
					</span> -->
					<span class="view-badge contact-badge" data-toggle="modal" data-target="#sendManualEmailModal">
						<i class="fa fa-envelope"></i>
					</span>
					<span class="view-badge contact-badge" data-toggle="modal" data-target="#addNotesModal">
						<i class="fa fa-comment" data-placement="left" data-toggle="tooltip" title="Add Notes"></i>
					</span>
					<span class="view-badge contact-badge" data-toggle="modal" data-target="#addCallsModal">
						<i class="fa fa-phone" data-placement="left" data-toggle="tooltip" title="Add Calls"></i>
					</span>
				</div>
			</div>
			<div class="contact-det">
				<ul style="padding-left: 0px;margin-top: 40px;">
					<li class="accountname"> <!-- /accounts/viewaccount/ -->
						Account Name: &nbsp; <a href="/accounts/viewaccount/{{activityresponse?.ContactInfo?.accountintid}}"><span>{{activityresponse?.ContactInfo?.AccountName | titlecase}}</span></a>
					</li>
					<li class="assigneename">
						Assignee Name:  &nbsp;<span style="color: #619eda !important;">{{activityresponse?.ContactInfo?.AssigneeName | titlecase}}</span>
					</li> 
					<li class="industry">
						Industry: &nbsp;<span style="color: #619eda !important;">{{activityresponse?.ContactInfo?.Industry | titlecase}}</span>
					</li>
					<li class="email">
						Email:  &nbsp;<a href="mailto:{{activityresponse?.ContactInfo?.email}}" target="_top">
							<span style="color: #619eda !important;">{{activityresponse?.ContactInfo?.email}}</span></a>
						<span class="alert-msg" *ngIf="!activityresponse?.ContactInfo?.IsValidEmailAddress">
						(Invalid Email Address)
						</span>
					</li>
					<li class="mobilenumber">
						Contact No:  &nbsp;<span style="color:#619eda !important;">{{activityresponse?.ContactInfo?.mobilenumber?activityresponse.ContactInfo.mobilenumber:'NA'}}</span>
					</li>
					<li class="linkedIn">
						Personal LinkedIn Url : <a *ngIf ="activityresponse?.ContactInfo?.personallinkedinurl != 'NA'; else nolinkedin" href="{{utilities.checkUrl(activityresponse?.ContactInfo?.personallinkedinurl)}}" class="text-break" target="_blank">
							<span style="color: #619eda !important;">{{activityresponse?.ContactInfo?.personallinkedinurl?activityresponse?.ContactInfo?.personallinkedinurl:'NA'}}</span>	
						</a>	
						<ng-template #nolinkedin>
							<span style="color: #619eda !important;">NA</span>		
						</ng-template>				
					</li> 
					<li class="assigneename">
					  Stage:  &nbsp;
					  		<span style="color: #619eda !important;">{{activityresponse?.ContactInfo?.stage?activityresponse?.ContactInfo?.stage:'NA'}}</span>
					</li> 
					<li class="sequence">Active in
						<span *ngIf="activityresponse?.ContactInfo?.islinkedtosequence == true; else noseq">1</span>
						<ng-template #noseq>
							0</ng-template>
						 sequence</li>
					<li *ngIf="activityresponse?.ContactInfo?.IsSubscribedToEmail == 1" class="block">Active of 
						<a href="javascript:void(0)" popover="To subscribe emails again, please contact your admin" triggers="mouseenter:mouseleave">unsubscribtion</a></li>
						<li class="bounced">
							<label class="d-block" *ngIf="!activityresponse?.ContactInfo?.IsValidEmailAddress">								
								<span class="badge badge-warning p-2">Email bounced</span>
								</label>
						<label *ngIf="activityresponse?.ContactInfo?.IsValidEmailAddress; else validEmail">
						{{activityresponse?.ContactInfo?.TimesOfEmailAddressBounced}}
						</label>
						<ng-template #validEmail>
							0
						</ng-template>
						<span> time(s) email bounced</span>
						</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-12 col-sm-9">
		<div class="contact-details p-l-20 p-r-20">
			<ul class="grid-settings d-flex">
				<li class="pos-rel">
					<nav>
						<div class="nav nav-tabs" id="nav-tab" role="tablist">
							<a class="nav-item nav-link" id="contact-seq-tab" data-toggle="tab" href="#con-act"
							role="tab"
							[ngClass]="{ 'active':activeTab==='activity'}">Activity({{activitycount}})</a>
							<a class="nav-item nav-link" id="contact-seq-tab" data-toggle="tab" href="#con-seq"
							(click)="getSequenceData()" role="tab"
								[ngClass]="{ 'active':activeTab==='sequences'}">Sequences({{sequencecount}})</a>
							<a class="nav-item nav-link" id="contact-notes" data-toggle="tab" href="#con-notes"
								(click)="getNotes()" role="tab"
								[ngClass]="{ 'active':activeTab==='notes'}">Notes({{notescount}})</a>
							<a class="nav-item nav-link #focusOnCalls" id="contact-calls" data-toggle="tab"
								href="#con-calls" role="tab" (click)="getCalls()"
								[ngClass]="{ 'active':activeTab==='calls'}">Calls({{callscount}})</a>
							<a class="nav-item nav-link" id="contact-tasks" data-toggle="tab" href="#con-tasks"
								role="tab" (click)="gettasks(clickedId)"
								[ngClass]="{ 'active':activeTab==='tasks'}">Tasks({{taskscount}})</a>
							<a class="nav-item nav-link" id="contact-emails" data-toggle="tab" href="#con-emails"
								role="tab" (click)="getEmails()"
								[ngClass]="{ 'active':activeTab==='emails'}">Emails({{emailscount}})</a>
							<a class="nav-item nav-link" id="contact-meetings" data-toggle="tab" href="#con-meetings"
								role="tab" (click)="getMeetings()"
								[ngClass]="{ 'active':activeTab==='meetings'}">Meetings({{meetingscount}})</a>
								<a class="nav-item nav-link" id="contact-oppo" data-toggle="tab" href="#con-oppo"
								role="tab" (click)="getOpportunityById()"
								[ngClass]="{'active':activeTab==='opportunity'}">Opportunities({{oppocount}})</a>
						</div>
					</nav>
				</li>
			</ul>
			<div class="tab-content bg-variant-1">
				<div class="tab-pane fade show active" id="con-act" role="tabpanel" aria-labelledby="contact-act-tab">
					<div class="contact-activities">
						<div class="activities-list   mt-2 mb-3" style="padding:0px 10px;">
							
							<div *ngFor="let singleActivity of ActivityInfo" class="activityBlock d-block mb-3 container p-3">
								<div class="row" style="border-bottom: 1px solid #ddd;">
									<div class="col-md-4">
										<ng-container [ngSwitch]="true">
											<span  *ngSwitchCase="singleActivity.Type==='email'" class="stage-badge open">
												<i class="fa fa-envelope"></i>
											</span>
										   <span  *ngSwitchCase="singleActivity.Type==='task'" class="stage-badge cool">
											<i class="fa fa-tasks"></i>
										</span>
										   <span  *ngSwitchCase="singleActivity.Type==='notes'" class="stage-badge idle">
											<i class="fa fa-comment"></i>
										</span>
										  <span  *ngSwitchCase="singleActivity.Type==='proposal made'" class="stage-badge happy">
										</span>
										<span  *ngSwitchCase="singleActivity.Type==='closed won'" class="stage-badge busy">
										</span>
										<span  *ngSwitchCase="singleActivity.Type==='closed lost'" class="stage-badge overload">
										</span>
									   </ng-container>
									  <span class="ml-10"> {{singleActivity.Type | titlecase}}</span>
									</div>
									<!-- <div class="col-3">
										<span class="badge">{{singleActivity.Type | titlecase}}</span>
									</div> -->
									<div class="col-md-4">
										<span class="color-999 fs-13">{{singleActivity.Date}}</span>
									</div>
									<div class="col-md-4">
										<label>Clicks:</label>
										<span class=""> {{singleActivity.Clicks}}</span>
									</div>
								</div>
							 
								<div class="row">
									<div class="col-8 mt-2">
										<h6 class="fs-14">{{singleActivity.Title | titlecase}}</h6>
									</div>
									<div class="col-12">
										<p class="color-999 mb-0" [innerHTML]="singleActivity.Description"></p>
									</div>
									
								</div>
							</div>
							
						</div>
					</div>
				
				</div>
				<div class="tab-pane fade show" id="con-seq" role="tabpanel" aria-labelledby="contact-seq-tab">
					<div class="notes-list">
					<table class="table table-responsive-sm table-wrap  sequence-grid mb-0">
						<tbody>
						<tr *ngFor="let sequence of sequences">
							<!-- <td width="5%">
								<div class="d-flex my-auto">
									<label class="switch my-auto">
										<input type="checkbox">
										<span class="slider round"></span>
									</label>
								</div>
							</td> -->
							<td width="50%">
								<h4 class="text-blue seq-title cursor-pointer"  (click)="onSelect(sequence)">{{sequence.SequenceName}}</h4>
								<!-- <p class="m-b-0 color-999">Some description about the sequence appears here...</p> -->
							</td>
							<!-- <td>
								<span>Sequence Stage</span>
							</td>
							<td width="20%">
								<div class="d-flex">
									<span class="badge badge-rounded owner-badge mr-2" data-toggle="tooltip"
										data-html="true" title="Owned by NV"
										data-placement="left">NV</span>
									<span class="badge badge-rounded" data-toggle="tooltip" title="Private"
										data-placement="left">
										<i class="fa fa-users"></i>
									</span>
								</div>
							</td>
							<td width="10%">
								<span class="color-999 fs-13">3h 1m</span>
							</td> -->
							<!-- <td width="5%">
								<div class="seq-options">
									<i class="fa fa-trash-alt pointer" data-toggle="tooltip" title="Delete Sequence"
										data-placement="left"></i>
								</div>
							</td> -->
						</tr>
						</tbody>
					</table>
					</div>
				</div>
				<div class="tab-pane fade" id="con-notes" role="tabpanel" aria-labelledby="contact-notes">
					<div class="contact-notes">
						<div class="header">
							<h4 class="fs-16">Notes</h4>
						</div>
						<div class="notes-list">
							<ul class="pos-rel" style="list-style:none;padding-left:0px;">
								<li class="comment pos-rel" *ngFor="let note of notes" style="border:1px solid #ddd;padding:10px;margin:10px 0px;">
									<div class="notes">
										<div class="notes-header">
											<div class="row">
												<div class="col-12 col-sm-9">
													<p class="color-999"><span
															class="color-theme">{{note.AssigneeName}}</span>
														commented on this</p>
												</div>
												<div class="col-12 col-sm-3 text-sm-right">
													<span class="color-999">{{note.ElapsedDuration}}</span>
												</div>
											</div>
										</div>
										<div class="notes-body">
											<div class="row">
												<div class="col-12">
													<p class="text-justify">{{note.Description}}</p>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="con-calls" role="tabpanel" aria-labelledby="contact-calls">
					<div class="contact-notes">
						<div class="header">
							<h4 class="fs-16">Calls</h4>
						</div>
						<div class="">
							<ul class="pos-rel" style="list-style:none;padding-left:0px;">
								<li class="card comment pos-rel" *ngFor="let call of calls" style="padding:10px;margin:10px 0px;">
									<div class="notes">
										<div class="notes-header">
											<div class="row">
												<div class="col-12 col-sm-8">
													<p class="color-999">{{call.Title}}</p>
												</div>
												<div class="col-12 col-sm-2">
													<p class="color-999">{{call.AssigneeName}}</p>
												</div>
												<div class="col-12 col-sm-2 text-sm-right">
													<span class="color-999">{{call.ElapsedDuration}}</span>
												</div>
											</div>
										</div>
										<div class="notes-body">
											<div class="row">
												<div class="col-12">
													<p class="text-justify">{{call.Description}}</p>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="con-tasks" role="tabpanel" aria-labelledby="contact-tasks">
					<div class="contact-notes">
						<div class="header">
							<h4 class="fs-16">Tasks</h4>
						</div>
						<div class="notes-list">
							<table class="table table-responsive-sm table-wrap contacts-grid mb-0 tasks">
								<tbody>
								<tr *ngFor="let task of tasks">
									<td>
										<h6 class="fs-14">{{task.TaskTitle}}</h6>
										<p class="d-inline-block ShowLessForDesc" popover="{{task.TaskDescription}}"
											triggers="mouseenter:mouseleave">{{task.TaskDescription}}</p>

									</td>
									<td>
										<span
											[ngClass]="task.Priority == 'High' ? 'task-badge-high' : 'task-badge-normal'">
											{{task.Priority}}
										</span>
									</td>
									<td>
										<span >{{task.TaskType}}</span>
									</td>
									<!-- <td width="15%">
										<button *ngIf="task.TaskDescription != 'Auto Email'" class="btn btn-sm btn-info" (click)="onSelectTask(task)">Mark As Completed</button>										
									</td> -->
									<td>

										<button
											*ngIf="task.TaskDescription == 'Manual Email' && task.TaskStatus !='completed'"
											(click)="sendEmailBtnClick(contactTemplateModal,task.SequenceDetailId,'task')"
											class="btn btn-sm btn-primary">Send Email</button>
									</td>
									<td>
										<span class="badge badge-rounded owner-badge mr-2" data-toggle="tooltip"
											popover="{{task.AssigneeName}}" triggers="mouseenter:mouseleave"
											data-placement="left">{{task.ShortAssigneeName}}</span>
									</td>

									<td>
										<span>{{task.DueDate * 1000 | date:'yyyy-MM-dd'}}</span>
									</td>
									<td>
										<span
											*ngIf="task.CompletedDate != 0">{{task.CompletedDate * 1000 | date:'yyyy-MM-dd'}}</span>
										<span *ngIf="task.CompletedDate == 0">-</span>
									</td>
									<!-- <td class="text-right" width="3%">
										<div class="d-flex">
											<i class="fa fa-trash-alt pointer mr-3" data-toggle="modal"
												data-target="#deleteConfirmationModal"></i>
											<i class="fa fa-pencil-alt pointer" data-toggle="modal" data-target=""></i>
										</div>
									</td> -->
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="con-emails" role="tabpanel" aria-labelledby="contact-emails">
					<div class="contact-notes">
						<div class="header">
							<h4 class="fs-16">Emails</h4>
						</div>
						<div class="notes-list">
							<table class="table table-responsive-sm table-wrap contacts-grid mb-0 tasks">
								<tbody>
								<tr *ngFor="let email of emails" style="border-bottom: 1px solid #f3f3f3;">
									<td>
										<p class="d-inline-block fw-500" style="color: #333;">{{email.Subject}}-<span
												class=" ">{{email.LabelType}}</span></p>
										<p [innerHTML]="email.Body"></p>
									</td>
									<td width="10%">
										<span data-toggle="tooltip" title="Created by"
											data-placement="left">{{email.AssigneeName}}</span>
									</td>
									<td width="10%">
										<span data-toggle="tooltip" title="Created by"
											data-placement="left">{{email.ElapsedDuration}}</span>
									</td>

									<td width=5%>
										<span *ngIf="email.IsRead == 1">Read</span>
										<span *ngIf="email.IsRead == 0">UnRead</span>
									</td>
									<td width=5%>
										<span *ngIf="email.IsReplied == 1">Replied</span>
										<span *ngIf="email.IsReplied == 0">Not Replied</span>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="con-meetings" role="tabpanel" aria-labelledby="contact-meetings">
					<div class="contact-notes">
						<div class="header">
							<h4 class="fs-16">Meetings</h4>
						</div>
						<div class="notes-list">
							<table class="table table-responsive-sm table-wrap contacts-grid mb-0 meetings">
								<tbody>
								<tr *ngFor="let meeting of meetingList">
									<td>
										<p class="d-inline-block">{{meeting.Title}}</p>
										<p class="mt-3">{{meeting.Description}}</p>
										
									</td>
									
									<td>
										<p [ngClass]="meeting.Status != 'completed'?'alert-dark':'alert-success'" class="alert text-center">{{meeting.Status | titlecase}}</p>
									</td>
									<td>
										<ng-container *ngIf="meeting.Status != 'completed'; else completedDateLbl">
											<span>Meeting on {{meeting.Date * 1000 | date:'yyyy-MM-dd HH:mm'}}</span>
										  </ng-container>
										  <ng-template #completedDateLbl>
											  <span>Completed on {{meeting.CompletedDate * 1000 | date:'yyyy-MM-dd HH:mm'}}</span>
										  </ng-template>
										
									</td>

									<td>
										<ng-container *ngIf="meeting.Status != 'completed'; else completedLbl">
											<button class="btn btn-sm btn-success"
											(click)="markAsCompleted(meeting.MeetingId,mailResponsePopup)"
											type="button">Mark
											as
											completed</button>
										  </ng-container>
					  
										  <ng-template #completedLbl>
											<div style="background-color: #d4ffde!important;color: #0dc136;padding: 5px;min-width:85px;max-width: 85px;text-align:center;"><span>Completed</span></div>
										  </ng-template>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="con-oppo" role="tabpanel" aria-labelledby="contact-oppo">
					<div class="contact-notes">
						<div class="header">
							<h4 class="fs-16">Opportunity</h4>
							
						</div>
						<div class="notes-list">
							<table class="table table-responsive-sm table-hover contacts-grid mb-0 tasks">
								<tr>
									<td width="50%">
										<p class="d-inline-block mr-2">{{opportunity?.Title}}</p>									
										<ng-container [ngSwitch]="true">
										<span  *ngSwitchCase="opportunity?.Stage==='prospect'" class="stage-badge open d-inline-block w-25">{{opportunity?.Stage}}</span>
										<span  *ngSwitchCase="opportunity?.Stage==='lead'" class="stage-badge cool d-inline-block w-25">{{opportunity?.Stage}}</span>
										<span  *ngSwitchCase="opportunity?.Stage==='contacted'" class="stage-badge idle d-inline-block w-25">{{opportunity?.Stage}}</span>
										<span  *ngSwitchCase="opportunity?.Stage==='proposal made'" class="stage-badge happy d-inline-block w-25">{{opportunity?.Stage}}</span>
										<span  *ngSwitchCase="opportunity?.Stage==='closed won'" class="stage-badge busy d-inline-block w-25">{{opportunity?.Stage}}</span>
										<span  *ngSwitchCase="opportunity?.Stage==='closed lost'" class="stage-badge overload d-inline-block w-25">{{opportunity?.Stage}}</span>
									</ng-container>
									</td>
		
									<td>
										<span>{{opportunity?.Value}}</span>
									</td>
									<td>
										<span>{{opportunity?.TargetDate}}</span>
									</td>
								
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- selected template Modal -->
<ng-template #contactTemplateModal>
 
			<form [formGroup]="EmailForm" (ngSubmit)="sendEmail()">
				<div class="modal-header">
					<h4 class="modal-title">Send an email</h4>
					<button type="button" class="close" (click)="templateModal.hide()">&times;</button>
				</div>
				<div class="modal-body">
					<div class="create-template1">
						<div class="form-group">
							<input type="text" class="form-control txt-custom-format" placeholder="To email"
								formControlName="To" value="{{templateModalData.toemail}}" disabled>
						</div>
						<div class="form-group">
							<input type="text" class="form-control txt-custom-format" placeholder="Cc email"
								formControlName="CC">
						</div>
						<div class="form-group">
							<input type="text" class="form-control txt-custom-format" placeholder="Subject"
								formControlName="Subject" value="{{templateModalData.subject}}"
								[ngClass]="{ 'is-invalid': submitted && tef.Subject.errors }">
									<div *ngIf="submitted && tef.Subject.errors" class="invalid-feedback">										
									  </div>
						</div>
						<textarea [froalaEditor]="emailOptions" id="froalaEditorContainer1" formControlName="HtmlBody"
							class="form-control pos-rel">
						{{templateModalData.body}}
					</textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-theme  btn-check" type="submit"><span>Send
							Email</span></button>
					<button type="button" class="btn btn-grey" (click)="templateModal.hide()">Cancel</button>
				</div>
			</form>
	 
</ng-template>
<!-- selected template Modal ends here -->

<!-- selected template Modal formControlName="To"-->
<!-- <ng-template #manualTemplateModal> -->
<div class="modal fade" id="sendManualEmailModal" role="dialog" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-dialog-centered modal-scrollable" style="max-width: 800px !important;">
		<div class="modal-content">
				<form [formGroup]="ManualEmailForm" (ngSubmit)="sendManualEmail(mailResponsePopup)">
					<div class="modal-header">
						<h4 class="modal-title">Send Email</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<div class="create-template1">
							<div class="form-group">
								<ul class="mb-3 template-custom" style="list-style: none;padding-left:0px;">
									<li>
										<span class="cursor-pointer"
											(click)="OpenExistingTemplates(TemplateListModal)">Templates</span>
									</li>
								</ul>
							</div>
							<div class="form-group">
								<input type="text" class="form-control txt-custom-format" placeholder="To email" id="tomail"
									value="{{contactEmail}}" disabled>
							</div>
							<div class="form-group">
								<input type="text" class="form-control txt-custom-format" placeholder="Cc email"
									formControlName="CC" id="ccmail">
							</div>

							<div class="form-group">
								<input type="text" class="form-control txt-custom-format" placeholder="Subject"
									formControlName="Subject" id="mailSubject"
									[ngClass]="{ 'is-invalid': submitted && ef.Subject.errors }">
									<div *ngIf="submitted && ef.Subject.errors" class="invalid-feedback">										
									  </div>
							</div>
							<textarea [froalaEditor]="options" id="froalaEditorContainer" formControlName="HtmlBody"
								class="form-control pos-rel"></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" [disabled]="loading" class="btn theme-btn btn-check" type="submit">
							<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
							Send Email</button>
						<button type="button" class="btn btn-grey" data-dismiss="modal" (click)="resetForm()"
							#closeSendEmailModal>Cancel</button>
					</div>
				</form>
			 </div>
	</div>
</div>

<!-- </ng-template> -->
<!-- selected template Modal ends here -->

<!-- Create new calls Modal starts here -->
<div class="modal fade" id="sendManualEmailModal1" role="dialog" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-dialog-centered modal-scrollable">
		<div class="modal-content">
			<form [formGroup]="callsForm" (ngSubmit)="addCalls()">
				<div class="modal-header">
					<h4 class="modal-title">Add Notes</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-12">
							<div class="form-group">
								<label>Description</label>
								<input type="text" class="form-control" formControlName="Description">
							</div>
							<div class="form-group">
								<label>Title</label>
								<input type="text" class="form-control" formControlName="Title">
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn theme-btn btn-check"><span>Add Call</span></button>
					<a class="btn btn-grey" data-dismiss="modal" (click)="resetForm()" #closeAddCallsModal1>Cancel</a>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- selected template Modal -->
<ng-template #TemplateListModal>
	<!-- <div class="modal-content"> -->
	 
			<form [formGroup]="EmailForm">
				<div class="modal-header">
					<h4 class="modal-title">Templates</h4>
					<button type="button" class="close" (click)="ExistingTemplatesModal.hide()">&times;</button>
				</div>
				<div class="modal-body">
					<div *ngIf="templates != undefined && templates.length > 0;else nodata">
						<div class="page-settings-area m-b-20">
							<div class="row">
								<div class="col-12 col-sm-9 text-right">
								</div>
								<div class="col-12 col-sm-3 text-right">
									<input type="search" name="" class="form-control" style="margin-top: 5px;"
										placeholder="Search..." id="templateSearchInput11"
										(mouseup)="clearSearch($event)" (keyup)="SearchTemplateData($event)">
								</div>
							</div>
						</div>
                        <div style="height:500px;overflow-y:scroll">
						<table class="table table-responsive-sm table-hover sequence-grid mb-0" id="templateTable">

							<tr *ngFor="let template of templates">
								<td (click)="SelectTemplate(manualTemplateModal,template.TemplateId)">
									<h6 class="seq-title pointer">{{template.TemplateName}}</h6>
								</td>

								<td>
									<p class="color-999">{{template.Subject}}</p>
								</td>

							</tr>
						</table>
						</div>
					</div>
					<ng-template class="row" #nodata>
						<div class="col-12 text-center p-5">
							<h4>No templates available..!</h4>

						</div>
					</ng-template>
				</div>
			</form>
	 
	<!-- </div> -->
</ng-template>
<!-- selected template Modal ends here -->

<!-- mail info modal popup -->
<ng-template #mailResponsePopup>
	<div class="modal-content">
		<div class="modal-body text-center">
			<div *ngIf="responseInfo != ''">
				<div [innerHTML] = "responseInfo"></div> 
				<div class="footer mt-3">
				<button type="button" class="btn btn-success mr-1"
					(click)="completeConfirmation()">YES</button>
				<button type="button" class="btn btn-danger mr-1"
					(click)="mailResponseTemplate.hide()">NO</button>
					</div>
			</div>
			
			<div *ngIf="responseInfo == ''" class="confirmation-content">
				<div class="icon confirm">
					<i class="fa fa-info fa-2x"></i>
				</div>
				<h4>{{ErrorMessageInfo}}</h4>
				<p>Please contact your admin</p>
				<button type="button" class="btn btn-theme mr-1 mt-5"
					(click)="mailResponseTemplate.hide()">OK</button>					
			</div>
		</div>
	</div>
</ng-template>
<!-- end here -->


<!-- Create new Contact Modal -->
<div class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" id="createContactModal">
	<div class="modal-dialog modal-dialog-centered modal-scrollable" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Create Contact</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-12 col-sm-6">
						<div class="form-group required">
							<label class="control-label">First Name:</label>
							<input type="text" class="form-control" required>
						</div>
					</div>
					<div class="col-12 col-sm-6">
						<div class="form-group required">
							<label class="control-label">Last Name:</label>
							<input type="text" class="form-control" required>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-sm-6">
						<div class="form-group">
							<label>Email:</label>
							<input type="email" class="form-control" required>
						</div>
					</div>
					<div class="col-12 col-sm-6">
						<div class="form-group">
							<label>Company:</label>
							<input type="text" class="form-control" required>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-sm-6">
						<div class="form-group">
							<label>Owner:</label>
							<select class="form-control">
								<option value="">Name 1</option>
								<option value="">Name 2</option>
								<option value="">Name 3</option>
							</select>
						</div>
					</div>
					<div class="col-12 col-sm-6">
						<div class="form-group">
							<label>Prospect Stage:</label>
							<select class="form-control">
								<option value="">No Stage</option>
								<option value="">Cold / Not Started</option>
								<option value="">Replied</option>
								<option value="">Unresponsive</option>
								<option value="">Do Not Contact</option>
								<option value="">Bad Contact Info</option>
								<option value="">Interested</option>
								<option value="">Not Interested</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="form-group">
							<label for="">Account:</label>
							<select class="form-control">
								<option value="">Palni Inc.</option>
								<option value="">Outwork AI</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn theme-btn btn-check"><span>Add Contact</span></button>
				<button type="button" class="btn btn-grey" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>
<!-- Create new Contact Modal ends here -->

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteConfirmationModal" role="dialog" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-sm modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body text-center">
				<div class="confirmation-content">
					<div class="icon confirm">
						<i class="fa fa-exclamation fa-2x"></i>
					</div>
					<h4>Are you sure want to delete?</h4>
					<button type="button" class="btn btn-theme mr-1" data-toggle="modal"
						data-target="#successAlertModal" data-dismiss="modal">Yes</button>
					<button type="button" class="btn btn-grey" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Success Alert Modal -->
<div class="modal fade" id="successAlertModal" role="dialog" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-sm modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body text-center">
				<div class="confirmation-content success">
					<div class="icon confirm">
						<i class="fa fa-check fa-2x"></i>
					</div>
					<h4>Deleted Successfully!!</h4>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Create new notes Modal starts here -->
<div class="modal fade" id="addNotesModal" role="dialog" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-dialog-centered modal-scrollable">
		<div class="modal-content">
			<form [formGroup]="notesForm" (ngSubmit)="addNotes()">
				<div class="modal-header">
					<h4 class="modal-title">Add Notes</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-12">
							<div class="form-group required">
								<label class="control-label">Description</label>
								<textarea rows="3" class="form-control" formControlName="Description"
								[ngClass]="{ 'is-invalid': submitted && f.Description.errors }"></textarea>								
                                <div *ngIf="submitted && f.Description.errors" class="invalid-feedback">
                                    <div *ngIf="f.Description.errors.required">Enter description</div>
                                  </div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<!-- <a class="button btn-theme btn-check"><span>Add Contact</span></a> -->
					<button type="submit" class="btn btn-theme btn-check"><span>Add
							Notes</span></button>
					<a class="btn btn-grey" data-dismiss="modal" (click)="resetForm()" #closeAddNotesModal>Cancel</a>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Create new calls Modal starts here -->
<div class="modal fade" id="addCallsModal" role="dialog" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-dialog-centered modal-scrollable">
		<div class="modal-content">
			<form [formGroup]="callsForm" (ngSubmit)="addCalls()">
				<div class="modal-header">
					<h4 class="modal-title">Add Calls</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-12">

							<div class="form-group required">
								<label class="control-label">Title</label>
								<input type="text" class="form-control" formControlName="Title"
								[ngClass]="{ 'is-invalid': submitted && cf.Title.errors }">
								<div *ngIf="submitted && cf.Title.errors" class="invalid-feedback">
                                    <div *ngIf="cf.Title.errors.required">Enter title</div>
                                  </div>
							</div>
							<div class="form-group">
									<label>Description</label>
									<textarea rows="3" class="form-control" formControlName="Description"
									></textarea>								
                             
								</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<!-- <a class="button btn-theme btn-check"><span>Add Contact</span></a> -->
					<button type="submit" class="btn btn-theme btn-check"><span>Add Call</span></button>
					<a class="btn btn-grey" data-dismiss="modal" #closeAddCallsModal>Cancel</a>
				</div>
			</form>
		</div>
	</div>
	
</div>

<!-- Create new task Modal starts here -->
<app-addtask [contactClickedFrom]='clickedId'></app-addtask>
<!-- <div class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" id="createTaskModal">
	<div class="modal-dialog modal-dialog-centered modal-scrollable" role="document">
		<div class="modal-content">
			<form [formGroup]="TaskForm" (ngSubmit)="addTask()">
				<div class="modal-header">
					<h4 class="modal-title">Create Task</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label>Prospect:</label>
						<select class="form-control" formControlName="ObjectId">
							<option *ngFor="let contact of Contacts" [value]="contact.contactid">
								{{contact.firstname}}
							</option>
						</select>
					</div>
					<div class="form-group">
						<label>Priority:</label>
						<select class="form-control" formControlName="Priority">
							<option value="Normal">Normal</option>
							<option value="Low">Low</option>
							<option value="Medium">Medium</option>
							<option value="High">High</option>
							<option value="Urgent">Urgent</option>
						</select>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-12 col-sm-6">
								<label>Task:</label>
								<select class="form-control" formControlName="Title">
									<option value="Email">Email</option>
									<option value="Phone Call">Phone Call</option>
									<option value="Generic Task">Generic Task</option>
								</select>
							</div>
							<div class="col-12 col-sm-6">
								<label>Assigned to:</label>
								<select class="form-control" formControlName="AssignedTo">
									<option *ngFor="let user of usersData" [value]="user.UserId">{{user.Name}}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-12 col-sm-6">
								<label>Due Date:</label>
								<input type="date" class="form-control" placeholder="" formControlName="DueDate">
							</div>
							<div class="col-12 col-sm-6">
								<label>Due Time:</label>
								<input type="time" class="form-control" placeholder="" formControlName="DueTime">
							</div>
						</div>
					</div>
					<div class="form-group">
						<label>Note:</label>
						<textarea class="form-control" rows="3" placeholder="About the task..."
							formControlName="Description"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-theme btn-check"><span>Add Task</span></button>
					<button type="button" class="btn btn-grey" data-dismiss="modal" #closeAddTaskModal>Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div> -->

<!-- Create assign sequence Modal starts here -->
<div class="modal fade" id="assignSequenceModal" role="dialog" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-dialog-centered modal-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Assign Sequence to Contact</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-12">
						<div class="form-group">
							<label>Select a sequence:</label>
							<span *ngIf="IsSequenceNotSelected" class="float-right error">Select sequence</span>
							<select class="form-control" [(ngModel)]="selectedOption" id="sequenceList"
								(change)="sequenceSelection($event)">
								<option *ngFor="let sequence of sequenceslist" [value]="sequence.SequenceIdInt">
									{{sequence.SequenceName}}
								</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<a class="btn btn-theme btn-check" (click)="assignsequence()"><span>Assign Sequence</span></a>
				<button type="button" class="btn btn-grey" data-dismiss="modal" #closeAddSequenceModal>Cancel</button>
			</div>
		</div>
	</div>
</div>

<!-- Create new meeting Modal starts here -->
<div class="modal fade" id="createMeetingModal" role="dialog" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-dialog-centered modal-scrollable">
		<div class="modal-content">
			<form [formGroup]="MeetingsForm" (ngSubmit)="addMeeting()">
				<div class="modal-header">
					<h4 class="modal-title">Add Meetings</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-12">
							<div class="form-group required">
								<label class="control-label">Title</label>
								<input type="text" class="form-control" formControlName="Title"
								[ngClass]="{ 'is-invalid': submitted && mf.Title.errors }">							
                                <div *ngIf="submitted && mf.Title.errors" class="invalid-feedback">
                                    <div *ngIf="mf.Title.errors.required">Enter title</div>
                                  </div>
							</div>
							<div class="form-group">
								<label>Description</label>
								<textarea rows="2" class="form-control" formControlName="Description"></textarea>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-12 col-sm-6">
										<label>Due Date:</label>
										<input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker
											[bsConfig]="{ isAnimated: true, adaptivePosition: true,containerClass:'theme-dark-blue' }"
											[(bsValue)]="bsValue" value="{{ bsValue | date:'dd/MM/yyyy' }}">

									</div>
									<div class="col-12 col-sm-6">
										<label>Due Time:</label>
										<ng-template #meetingPopTemplate>
											<timepicker [(ngModel)]="meetingtime" [showMeridian]="false"
												formControlName="DueTime"></timepicker>
										</ng-template>
										<input class="form-control" value="{{meetingtime | date: 'HH:mm' }}"
											[popover]="meetingPopTemplate" [outsideClick]="true" placement="bottom" />
									</div>
								</div>
							</div>
							<div id="setTimeIntervalFields">
								<label>Remainder before meeting</label>
								<div class="row">
									<div class="col-4">
										<div class="form-group d-flex">
											<select class="form-control mr-2" formControlName="Days"
												(change)="onselecteddays($event)">
												<option *ngFor="let number of monthDays" [ngValue]="number+1">{{number+1}}</option>
											</select>
											<label class="my-auto">Days</label>
										</div>
									</div>
									<div class="col-4">
										<div class="form-group d-flex">
											<select class="form-control mr-2" formControlName="Hours"
												(change)="onselectedhours($event)">
												<option *ngFor="let hour of dayHours" [ngValue]="hour+1">{{hour+1}}</option>
											</select>
											<label class="my-auto">Hours</label>
										</div>
									</div>
									<div class="col-4">
										<div class="form-group d-flex">
											<select class="form-control mr-2" formControlName="Mins"
												(change)="onselectedmins($event)">
												<option *ngFor="let minits of hourMins" [ngValue]="minits+1">{{minits+1}}</option>
											</select>
											<label class="my-auto">Mins</label>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group required">
								<div class="row">
									<div class="col-12">
										<label class="control-label">Invitees</label>
										<ng-select required formControlName="Invitees" placeholder="Select user" multiple="true" 
											[ngClass]="{ 'is-invalid': submitted && mf.Invitees.errors }"
											[searchable]="true" [clearable]="true" [(ngModel)]="selectedUser" 
											(click)="inviteesClick()">
											<ng-option *ngFor="let user of usersData" [value]="user.IntUserId">
												{{user.Name}}
											</ng-option>
										</ng-select>										
										<!--div *ngIf="submitted && mf.Invitees.errors" class="invalid-feedback">
											<div *ngIf="mf.Invitees.errors.required" >select Invitees</div>
										  </div -->

										<div class="text-danger" style="font-size:80% !important" *ngIf="NoInvitees">Select Invitees</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<!-- <a class="button btn-theme btn-check"><span>Add Contact</span></a> -->
					<button type="submit" class="btn btn-theme btn-check"><span>Add Meeting</span></button>
					<a class="btn btn-grey" data-dismiss="modal" (click)="resetForm()" #closeMeetingsModal>Cancel</a>
				</div>
			</form>
		</div>
	</div>
</div>
</div>
</div>
</div>
</div>
