<div class="wrapper">
    <app-header></app-header>
    <div class="page-wrapper">
      <div class="container-fluid">
  
        <div>
          <h2 class="page-title">Sequences</h2>
        </div>
  
        <div class="body-content">
          <div class="page-header">
            <div class="row">
  
              <div class="col-12 col-md-12 text-md-right">
              </div>
            </div>
          </div>
       

          <div class="row mb-2">         
                <div class="col-sm-2">
                  <input type="text" class="form-control" placeholder="Search" (keyup)="onFilterTextBoxChanged($event)" />
                </div>
                <div class="col-sm-8"></div>
                <div class="col-sm-2 pull-right">
                <div *ngIf="auth.getRole() == 'admin'">
                  <ng-select [items]="usersList" bindLabel="name" placeholder="Select user"
                  [(ngModel)]="selUserInfo" [ngModelOptions]="{standalone: true}" (clear)="resetSequence()" (change)="selectMember()">
                  </ng-select>
                  </div>
                </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <ag-grid-angular #agGrid style="width: 100%; " id="myGrid" class="ag-theme-balham" [columnDefs]="columnDefs"
               [paginationPageSize]="paginationPageSize" [cacheBlockSize]="cacheBlockSize" (cellClicked)="onCellClicked($event)"               
              [gridOptions]="gridOptions" [suppressRowClickSelection]="true" [groupSelectsChildren]="true" [debug]="true"
              [enableRangeSelection]="true" [pagination]="true" [rowData]="Sequences"
              (gridReady)="onGridReady($event)"></ag-grid-angular>
            </div>
          </div>

  
          <!--table class="table table-striped1 table-wrap sequence-grid mb-0 Sequences">
            <thead>
              <th>Sequence Name</th>
              <th>Steps</th>
              <th>Contacts</th>
              <th>Reached</th>
              <th>Opened</th>
              <th>Responses</th>
            </thead>
            <tbody>
              <tr *ngFor="let sequence of Sequences">
               
                <td>
                  <h4 class="text-blue seq-title cursor-pointer" (click)="onSequenceSelect(sequence.SequenceIdInt)">{{sequence.SequenceName}}
                  </h4>
               
                </td>
                <td>
                  {{sequence.StepsCount}}
                </td>
                <td>
                    <h4 class="mb-0">{{sequence.Subscribers}}</h4>
                  </td>
                <td>
                  <h4 class="mb-0">{{sequence.Reached}}</h4>
                </td>
                <td>
                  <h4 class="mb-0">{{sequence.Opened}}</h4>
                </td>
                <td>
                  <h4 class="mb-0">{{sequence.Responses}}</h4>
                </td>
              </tr>
            </tbody>
           </table -->
  
         
  
        </div>
      </div>
    </div>
  </div>
  
  
  
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="timer">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
  
  <script>
    $(document).ready(function () {
      //Tooltip
      $('[data-toggle="tooltip"]').tooltip({
        html: true
      }); 
     
    });
  
  </script>
  