<app-header></app-header>
<div class="page-header">
  <div class="row">
    <div class="col-12 col-md-3 my-auto">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item" aria-current="page">
            <a href="sequences.html" class="active">Contacts</a>
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="page-settings-area1">
  <div class="row pb-3">
    <div class="col-sm-12">
      <ul class="count-tabs d-flex">
        <li class="my-auto" *ngFor="let stage of stageInfo">
          <div class="count text-center" (click)="applystagefilter(stage.stage)">
            <span class="">{{stage.stagecount}}</span>
            <h4 class="name">{{stage.stage | uppercase}}</h4>
          </div>
        </li>
      </ul>
      <ag-grid-angular #agGrid style="width: 100%; height: 400px;" id="myGrid" class="ag-theme-balham"
        [columnDefs]="columnDefs" [autoGroupColumnDef]="autoGroupColumnDef" [defaultColDef]="defaultColDef"
        [paginationPageSize]="paginationPageSize" [cacheBlockSize]="cacheBlockSize" [sideBar]="true"
        [gridOptions]="gridOptions" [suppressRowClickSelection]="true" [groupSelectsChildren]="true" [debug]="true"
        [rowSelection]="rowSelection" [rowGroupPanelShow]="rowGroupPanelShow" [pivotPanelShow]="pivotPanelShow"
        [enableRangeSelection]="true" [pagination]="true" [rowData]="rowData" (gridReady)="onGridReady($event)">
      </ag-grid-angular>
    </div>
  </div>
</div>
