<div class="login_sidenav">
  <div class="logo_wrapper">
    <img src="assets/Images/logo.png" class="logo_img">
  </div>
</div>
<div class="login_main">
  <div class="col-md-12 col-sm-12">

    <div class="register-form">
      <p>Register with us</p>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>First Name</label>
              <input type="text" formControlName="firstName" class="form-control" placeholder=""
                [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
              <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">First Name is required</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Last Name</label>
              <input type="text" formControlName="lastName" class="form-control" placeholder="" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Username (EmailId)</label>
              <input type="text" formControlName="loginId" class="form-control" placeholder=""
                [ngClass]="{ 'is-invalid': submitted && f.loginId.errors }" />
              <div *ngIf="submitted && f.loginId.errors" class="invalid-feedback">
                <div *ngIf="f.loginId.errors.required">User name is required</div>
                <div *ngIf="f.loginId.errors.email">User name must be a valid email address</div>
              </div>
            </div>
          </div>
          <!-- <div class="col-sm-6">
            <div class="form-group">
              <label>Email</label>
              <input type="email" name="" class="form-control" formControlName="Email" placeholder=""
                [ngClass]="{ 'is-invalid': submitted && f.Email.errors }" required>
              <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                <div *ngIf="f.Email.errors.required">Email is required</div>
                <div *ngIf="f.Email.errors.email">Email must be a valid email address</div>
              </div>
            </div>
          </div> -->
          <div class="col-sm-6">
            <div class="form-group">
              <label>Password</label>
              <input type="password" formControlName="password" class="form-control" placeholder=""
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Company Name</label>
              <input type="text" name="" formControlName="companyName" class="form-control" placeholder=""
                [ngClass]="{ 'is-invalid': submitted && f.companyName.errors }" />
              <div *ngIf="submitted && f.companyName.errors" class="invalid-feedback">
                <div *ngIf="f.companyName.errors.required">Company Name is required</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Phone</label>
              <input type="text" name="" (keypress)="utilities.phoneNumberValidator($event)" minlength=10 maxlength=20
               class="form-control" placeholder="">
            </div>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label>Company Name</label>
              <input type="text" name="" formControlName="companyName" class="form-control" placeholder=""
                [ngClass]="{ 'is-invalid': submitted && f.companyName.errors }" />
              <div *ngIf="submitted && f.companyName.errors" class="invalid-feedback">
                <div *ngIf="f.companyName.errors.required">Company Name is required</div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="row">
          <div class="col-md-12">
            <div class="form-group text-right">
              <button class="btn  theme-btn">Create Account</button>
            </div>
          </div>
        </div>
      </form>


    </div>
    <div class="text-center m-t-50">
      <p class="signup_text">Already have an account with us? <a href="#" [routerLink]="['/login']">Sign In</a></p>
    </div>


  </div>
</div>
